[2020-12-01 15:35] segevfiner opened #998 "Will not expire/delete cookie from session when Set-Cookie only sets Max-Age=0 without Expires"
1. Run the following flask app (Python 3+, Flask 1.1.0):
[code]
2. `http --session=./session.json http://localhost:5000/set` - The cookie will be set
3. `http --session=./session.json http://localhost:5000/expire` - The cookie will not be unset from the session file, check out its contents.

Flask does auto-set `Expires` when using `set_cookie` with only `max_age`, but not all web frameworks do th

[2020-12-02 01:30] blueray453 opened #999 "send request which is saved in a text file"
my issue is, i need to see what exactly I am sending or receiving using cli where the request header is saved in a txt file.

I can do something like the following to send request (which is saved in `raw-http.txt`) and get response using `openssl`.

[code]
I skimmed through the documentation and it seems like `httpcat` can be used to do it. However, i am not sure whether it can be done using `http

[2020-12-04 00:11] batjko opened #1001 "https command not found after fresh installation"
Hi guys,

Any time I install httpie on Ubuntu (`sudo apt-get install httpie`), the `http` command works perfectly fine afterwards.

However, `https` is never found.

![image](https://user-images.githubusercontent.com/7287076/101105247-f712d200-35c4-11eb-8322-0058d53550e5.png)

I have had this on all machines where I tried this so far, WSL on Windows, as well as native Ubuntu 19.x and 20.x.
What do

[2020-12-06 23:42] schmidlidev commented on #914
Am I either misunderstanding the issue, or has this been added?

[code]

And it works with 'messy' whitespace too (directly ctrl-a + ctrl-c'd from graphiql)

[code]

[2020-12-07 03:15] charujing opened #1002 "HTTP/1.1 404 Not Found error"
(base) PS C:\Users\charu> http --stream -f -a Aaron https://stream.twitter.com/1/statuses/filter.json track='Justin Bieber'
http: password for Aaron@stream.twitter.com:
HTTP/1.1 404 Not Found
cache-control: no-cache, no-store, max-age=0
content-length: 0
date: Mon, 07 Dec 2020 03:12:59 GMT
server: tsa_a
set-cookie: personalization_id="v1_7M0qAqT4IHizTm3vckq/tQ=="; Max-Age=63072000; Expires=Wed, 07

[2020-12-07 08:25] jakubroztocil commented on #914
@schmidlidev  GraphQL requests are regular HTTP requests so they have always been supported. This issue is about deeper GraphQL-specific features.

[2020-12-09 16:11] paullaffitte opened #1003 "on ubuntu apt install httpie install v1.0.3"
Installing httpie on ubuntu 20.04 with `apt install httpie` will install httpie 1.0.3

[2020-12-10 10:35] segevfiner opened #1004 "Doesn't correctly handle storing cookies in session after redirect to different domain"
After a redirect to a different domain, a cookie set using `Set-Cookie` without a `Domain` should become a cookie set only for the redirected domain, but HTTPie saves it in the session of the original domain.

Steps to reproduce:
1. Save `app.py` & `app2.py` (Need Python 3+, Flask 1.1.0):

   `app.py`:
[code]

   `app2.py`:
[code]
2. Run both apps in two seperate terminals:
[code]
3. Run `http --s

[2020-12-20 22:23] tobiashochguertel commented on #632
@dennislaumen thanks!!! for this hint about ipv6! I had exactly the same issue.

[2020-12-21 10:38] #996 closed

[2020-12-21 11:12] #1002 closed

[2020-12-21 11:12] jakubroztocil commented on #1002
Fixe. Thanks for the report, @charujing. 🥧

[2020-12-21 11:19] jakubroztocil commented on #1001
@batjko it should work out of the box, but I can see the Ubuntu version very old. We’re working on having it updated to the latest 2.x. In the meantime, I’d recommend you installing HTTPie via pip.

[2020-12-21 11:20] batjko commented on #1001
Ok thanks, I'll try that instead.

[2020-12-21 11:31] jakubroztocil commented on #1003
Thanks for the report. We’re looking into having the Ubuntu package updated.

[2020-12-21 13:43] hughpv opened #1006 "Redirected output starts response headers on same line as request body"
When I run a POST request without redirection, I see the response headers start on a new line:

[code]

But when I redirect the output, I see the `HTTP/1.1 201` on the same line as the request:

[code]

The options I specified in each case were `http -v --pretty format --unsorted`; the only difference was in the second case I redirected the output to a file.

[2020-12-21 13:51] hughpv opened #1007 "Feature request: output full HTTP request and response in a JSON structure"
I would love to capture the full HTTP request and response in a JSON structure so I can extract the various parts programmatically without parsing the plaintext output.

For example:

[code]

[2020-12-21 15:07] jakubroztocil commented on #1007
Thanks for the suggestion, @hughpv. I’ve been considering this for a while.

#### Initial thoughts

* [Output options](https://httpie.io/docs#output-options) should be respected.
* With [`--all`](https://httpie.io/docs#showing-intermediary-redirect-responses), an `Array` of exchanges is printed instead of a single object.
* What about binary bodies? Apply base64 encoding like [httpbin.org](http://

[2020-12-21 15:22] jakubroztocil commented on #1006
Thanks for the report. This is a bug indeed.

[code]

[code]

[2020-12-21 15:22] hughpv commented on #1007
Awesome ideas; love them all. Let me just expand a little on my use case --

I have it in mind to build a test suite that, in addition to testing functionality, also captures output for use in documentation, e.g.:

[code]

... where `request.http` and `response.http` would be built from the httpie output.

Thus what I'm looking for is essentially a "verbatim" or "raw" option. All the other stuff m

[2020-12-21 15:26] jakubroztocil commented on #1007
I see, so for your use case, the structured headers would be a complication, because you would have to manually _un-structure_ them for the docs?

[2020-12-21 15:29] jakubroztocil commented on #995
@ab-kily could you please share the entire output when you run the command with `--debug`?

[2020-12-21 15:32] jakubroztocil commented on #990
@stonebig yes, this is intentional so that SOCKS support comes out of the box, and the user doesn’t have to install `PySocks` manually. Is it causing any issues?

[2020-12-21 15:38] jakubroztocil commented on #987
@inglesuniversal I’d recommend reinstalling HTTPie via `pip` manually.

[2020-12-21 15:38] #987 closed

[2020-12-21 18:54] hughpv commented on #1007
Correct. :) But I could definitely see where some users would find structured headers quite useful.

[2020-12-21 19:38] stonebig commented on #990
Not directly, it's just the Way you specify it in setup.py is imperfectly managed in pip toolset

[2020-12-31 17:52] peterkronenberg opened #1008 "http: error: UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 1617: character maps to <undefined> when re-direction output to disk"
On Windows 10, I'm using httpie to retrieve data. It works fine when displaying on the screen, but as soon as I pipe the output to disk, I get http: error: UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 8024: character maps to <undefined>

I tried to attach the file I'm having the problem with, but unfortunately, it 100Mb

Here is the complete debug output:

[code]

[2021-01-02 07:27] tgr commented on #130
As noted in the upstream bug, RFC 7230 [says](https://tools.ietf.org/html/rfc7230#section-3.2.2) *A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined as a comma-separated list [i.e., #(values)] or the header field is a well-known exception.* The RFC is not very clear about it but the only well

[2021-01-03 11:30] mosesontheweb opened #1010 "Output not properly displayed in UTF-8"
Hi,

I'm using httpie v.2.3.0, it's really wonderful! While playing around with my website today I encountered a strange effect while displaying the output. All special characters, like €(EUR) or Ä/Ö/Ü are not shown properly, it seems like there's encoding error. `curl` on the other side does the job correctly.

Here are the headers:
[code]
The charset is defined in the header of the HTML file, bu

[2021-01-03 13:19] Almad commented on #1010
In theory, you should do `content-type: text/html; charset=utf-8`.

In practice and in the spirit of usability, I think it would make sense for HTTPie to support additional encoding detection for well-known content types.

[2021-01-03 16:18] jakubroztocil commented on #1010
Related: #627 #594 #358

[2021-01-04 05:18] ab-kily commented on #995
@jakubroztocil sorry for late answer. Here is the output:
[code]

[2021-01-08 11:30] hlascelles commented on #98
This was subsequently added. To test if your site supports the deprecated TLS 1.1 mode, use:

[code]

[2021-01-08 15:04] jakubroztocil commented on #98
Yes, this feature has been added. Docs: https://httpie.io/docs#https

[2021-01-08 19:18] pmeister opened #1011 "verbose output should show SSL/TLS details"
I'd like the see httpie's verbose output include some details of the SSL handshake and certificate, like curl's verbose output does:

for example:

[code]

[2021-01-09 14:36] ioan555 opened #1012 "tewZSLxMccq5SGVC5os60KHIz6ciJvOGXnRyDSJn2wO4QRsyB5IV3VSLY88QqrYF"

[2021-01-09 14:40] ioan555 opened #1013 "LtfoiWi8JxP9bnXtQMiLFjYe26mSxc2EIy8rF8aCK2s3yibUPTQInOK3KNbNs3C9"

[2021-01-09 14:51] #1012 closed

[2021-01-09 14:52] #1013 closed

[2021-01-09 18:38] PerfectlyInternal commented on #889
I've begun work on a terminal flag to disable the download progress bar.

[2021-01-09 19:30] PerfectlyInternal opened #1015 "Create an option that allows --download to output progress somewhere that isn't stderr"
When using HTTPie in a windows PowerShell session, redirecting output from stderr is unnecessarily difficult, particularly when debugging, as a significant amount of information is sent there. Some sort of option that would allow me to set an output file to be used instead of stderr would be very useful, especially when debugging.

[2021-01-10 23:04] PerfectlyInternal commented on #989
So something along the line of batch requests from a file? I see what you're thinking here, and it would be nice to have an automated way to make a lot of requests efficiently. I suppose this would also require a directory as an argument to have somewhere to store all the output because printing to stdout would probably be a bad idea with batch requests.

[2021-01-12 09:58] arjunv commented on #889
Sorry for the delay, but wouldn't it be better to send the progress bar output to `stdout`?

[2021-01-12 14:02] PerfectlyInternal commented on #889
But is `stdout` not where the downloaded information is being sent? Mixing the progress bar into that doesn't seem like it would work well, especially not if you're going to be piping that into something else.

[2021-01-12 17:03] webdog opened #1017 "Piped URL to httpie with xargs creates a POST request unexpectedly"
Hello!

Thank you for this utility! Has made requesting/testing URLs in development very handy for me.

I came across a bug that was resolved by using the instructions in #150 and  #660 , but I am seeing unexpected behavior in the request itself that I couldn't find in reported in another issue.

When parsing a URL from a  pipe,  I expected httpie to create a GET request to the specified URL:

`ht

[2021-01-12 17:30] jakubroztocil commented on #1017
Hi @webdog! `xargs` doesn’t use `/dev/tty` for the child’s `stdin` by default. Therefore, HTTPie will read data from `stdin` and assume you’re trying to send some data (even if it’s just `''` — this might change in a future version), and default to a `POST` request.

The most straightforward solution is to use the already mentioned `--ignore-stdin` even here:

[code]

Another option would be to us

[2021-01-12 17:34] webdog commented on #1017
@jakubroztocil Today I learned! That makes a lot of sense. Thank you for the quick response!

[2021-01-12 17:36] jakubroztocil commented on #1017
Happy to help! 🥧

[2021-01-12 17:36] #1017 closed

[2021-01-14 18:45] arjunv commented on #889
Got it.

The confusion was that httpie's download mode works very differently based on with/without pipe and with/without `--output`

For eg if I wanted to download a file and store the response headers to a separate log file, I'd have logically assumed that the following would work.
```http -d https://google.com/favicon.ico -o favicon.ico | tee response.txt```

It looks like there is no option to

[2021-01-16 19:53] george79d commented on #1015
[](trackchecker://tracks/add?n=&d=&g=&c=&l=&s=)

[2021-01-18 08:02] lucero701 opened #1021 "Apple"

[2021-01-20 13:53] #1021 closed

[2021-01-20 14:02] jakubroztocil commented on #1015
Thanks, for pointing this out,  @PerfectlyInternal!

I can see a bigger theme forming around the issues you’ve reported: The ability to specify to which standard stream the output should go via `--options`, and additionally specify which part of the exchange should go where (e.g., headers to `stderr` and body elsewhere).

Related: #1014 #889

You’re welcome to join our Discord where we can chat ab

[2021-01-20 14:15] Almad commented on #1011
This could be implemented as adding additional flags to `-p`, in this case potentially `S` for SSL?

It probably shouldn't be part of `--verbose` since it would break the pipe chainability with other commands.

[2021-01-20 14:38] Almad opened #1022 "Better handling of responses without correct content-type charset"
## Problem

If server doesn't provide correct content-type charset, we're defaulting to latin1 [because requests underlying does that](https://github.com/psf/requests/issues/2086). This is undesirable for user experience.

## Possible solutions

* Default to utf8
* For well-known content-types, handle them as defined in respective RFC (utf8 for `application/json`, first line or BOM for XML, meta t

[2021-01-20 14:39] Almad commented on #1010
Now part of #1022

[2021-01-20 14:41] Almad commented on #358
Now part of #1022

[2021-01-20 14:43] jakubroztocil opened #1023 "System for meta information output options (timing, SSL info, …)"
Meta issue for designing a system for displaying additional information to requests and responses. The current philosophy is to only show the actual HTTP exchanges so that they can be easily copied to API docs, sent elsewhere using `nc`, etc. The only non-http output is error messages & the download progress bar. This new system will provide a solution for showing additional metadata in a systemat

[2021-01-20 15:27] Almad commented on #647
I am closing this for time being as it needs more input. If you have this issue, please take a look at configuring requests as above, but if it doesn't work, please do reopen!

[2021-01-20 15:27] #647 closed

[2021-01-20 15:29] Almad commented on #1008
See [my answer on SO for workaround](https://stackoverflow.com/a/65579722/123558).

Now the core of this issue is whether there should be a httpie-specific way to override The stdio encoding, but I'd vote for `PYTHONIOENCODING` to be sufficient.

If someone disagrees, please do post your use case here.

Thanks again for the report!

[2021-01-20 15:29] #1008 closed

[2021-01-20 15:41] kamyar commented on #685
Any news on this? would be a great addition to httpie!
Also love it, thanks everyone for making it so easy to use. :)

[2021-01-20 15:46] jakubroztocil commented on #1008
I wonder what the root cause here is. If it’s not explicit misconfiguration by the user, then it might be worth investigating because the UX of having to set `PYTHONIOENCODING` is poor.

Maybe the Windows-only writer is incorrect. Or it provides an opportunity to autocorrect the mismatch.

https://github.com/httpie/httpie/blob/6925d930dac343140cce52631e74862c5412f783/httpie/output/writer.py#L68-L8

[2021-01-20 15:48] Almad commented on #1008
I think it may make sense to do it together / following the similar algorithm as #1022 for mismatches

[2021-01-20 15:54] Almad commented on #1008
The root cause is [output encoding detection on Windows](https://docs.python.org/3/library/sys.html#sys.stderr). I'd be hesitant to do a blank overwrite of the system locale as that can lead to other—and hidden—bugs.

[2021-01-20 16:01] jakubroztocil commented on #1008
I think the answer is there somewhere, but still not sure what _exactly_ it is.  One thing to note is that we currently use [colorama](https://pypi.org/project/colorama/) for the colored output on Windows.  I’m hopeful that once we switch to @willmcgugan’s more robust [Rich](https://github.com/willmcgugan/rich), this issue will go away.

[2021-01-20 16:03] Almad commented on #1008
I am almost sure this only appears when writing the file to the disk, not when displaying it in the terminal...

[2021-01-20 17:37] peterkronenberg commented on #1008
@Almad  Correct, this only appeared when redirecting output to disk

[2021-01-20 17:37] Almad commented on #1008
@peterkronenberg just for verification, does the same issue appear if you try without `--pretty`?

[2021-01-20 17:54] peterkronenberg commented on #1008
No, it does not appear without `--pretty`.  That's good to know

[2021-01-20 18:14] willmcgugan commented on #1008
I'm afraid Rich has a similar issue, usually a result of misconfigured locale in CI.

Rich will adjust output if the encoding isn't utf-8, replacing box characters with hyphens for example. But if you are printing something non-ascii and the encoding isn't utf-8, chances are it will throw an encoding error.

I've been advising people to set `PYTHONIOENCODING=utf-8`, but I've never been entirely co

[2021-01-21 11:54] Almad commented on #1008
Well if nothing else, we should document it as an issue with the download option...

[2021-01-22 18:56] #988 closed

[2021-01-22 19:06] Almad commented on #995
@ab-kily This looks like TLS issue. Would you mind running `openssl s_client -connect cloud.roistat.com:443` and posting it here?

[2021-01-23 01:49] snowman commented on #988
so sorry, I don't know why there have two duplicate issues :cry: :sob:

[2021-01-23 23:24] Almad commented on #988
No problem :)

[2021-01-24 22:53] sebastianczech commented on #1006
I was looking at this issue - after small analysis I found in file [writer.py](https://github.com/httpie/httpie/blob/master/httpie/output/writer.py) code which is responsible for inserting `\n\n` only for terminal output only (line 110):
[code]

If we remove `env.stdout_isatty and` and leave the rest as it is e.g:

[code]
`test_verbose_redirected_stdout_separator` in `test_regressions.py` will wor

[2021-01-25 12:03] ab-kily commented on #995
@Almad , here it is:

[code]

[2021-01-25 12:14] Almad commented on #1006
This was added when streaming support was added in https://github.com/httpie/httpie/commit/6925d930dac343140cce52631e74862c5412f783 — I'd maybe wait for @jakubroztocil to confirm whether adding the `\n\n` wouldn't break features in streaming

[2021-01-25 13:44] jakubroztocil commented on #1006
@sebastianczech Those are relevant bits indeed. There are quite a few scenarios that need to be handled. What has made things even more complicated, and has introduced this bug, is the new support for streamed uploads with simultaneous terminal output. I’m looking into fixing this, starting with ensuring we have tests for all the scenarios. Will publish soon.

[2021-01-27 02:11] bheemreddy181 commented on #316
locking httpie to 0.9.4 resolves this issue

[code]

[2021-01-27 04:53] Ousret commented on #1007
Hi,

I might have something to help with headers. https://github.com/Ousret/kiss-headers
Should help with a potential JSON repr.

[2021-01-27 09:24] soullivaneuh opened #1026 "Output errors reason when a request is failing with quiet option"
I use HTTPie on a script to convert images:

[code]

It works, but when it fail I don't have any information because of the `--quiet` option:

[code]

On that case, I have a Bad Gateway error (504).

If I remove it, I have the information but also when it success (200).

It would be great to have the possibility to quiet the output except if it's a request error.

[2021-01-27 12:01] Almad commented on #1026
So something like `--quiet-on-success`?

[2021-01-28 14:38] jakubroztocil commented on #1026
@soullivaneuh You’re working on what looks like a scripted workflow. So you likely want to interrupt the flow if the request fails. For that, it’s better to rely on the exit status code than on the textual output.

You can use `--check-status`, to instruct HTTPie to check the response status and exit with a non-zero code if there has been a problem (see https://httpie.io/docs#scripting for more de

[2021-02-02 13:57] gregfr commented on #275
That would be great, CORS is very tricky to test...

[2021-02-02 22:20] Hubbitus commented on #825
https://pypi.org/project/xmlformatter/
https://docs.python.org/3/library/xml.dom.minidom.html
https://lxml.de/tutorial.html all are not decent?

[2021-02-03 13:46] jakubroztocil commented on #1008
Guidelines for a future fix:
1. That issue relates specifically to colors, which can be enabled with both `--format=all` and `--format=colors`
2. It is specific to Windows.
3. It may have to do more with how colors are represented on Windows than with an encoding mismatch.

I’d find out what actually gets written to the file when colors are applied. And then see if it even makes sense to allow non

[2021-02-03 14:08] Almad commented on #94
We'd love to fix this, but when looking into it, we see it still blocked in the underlying libraries. We'll keep looking for solutions, but we can't promise any timeline since we don't see any easy fix.

Help or pointers very welcome!

[2021-02-03 14:10] dwt commented on #94
@Almad could you give some pointers on this bug what kind of blockers you see, so whoever is interested in helping here doesn't have to dig out that information again? Thanks!

[2021-02-03 14:23] Almad commented on #99
Looking into it, there are basically two options how to fix this:

* Work with requests/urllib3 to add support to the lower-level libraries. There is a PR for this at https://github.com/urllib3/urllib3/pull/1209 , which got abandoned during their "stale PR purge". Picking it up and working with urllib3 to add it is an option
* Monkeypatch sockets. This was proposed in #659

The strong preference w

[2021-02-03 14:24] #422 closed

[2021-02-03 14:51] Almad commented on #130
Requests implemented MultiDict in https://github.com/kennethreitz/requests/issues/1155 , but it works for response only.

Also, they [don't support multiple header field lines](https://github.com/psf/requests/issues/1155#issuecomment-236012970), they'd get combined into a single line as per RFC. We could do that in httpie as well.

The complete fix would need to use urllib3 directly.

[2021-02-03 15:01] Almad commented on #152
Still blocked by https://bugs.python.org/issue1346874

[2021-02-03 15:06] Almad commented on #155
The request bug is fixed and this works now 🎉

[2021-02-03 15:06] #155 closed

[2021-02-03 16:25] Almad commented on #94
Ah, apologies, somehow thought it's -linked here— https://github.com/psf/requests/issues/1691

[2021-02-04 13:03] LuckyDenis commented on #998
@jakubroztocil, Good afternoon!
I found out what the problem is. We lose information about expired `cookies` in this place, since there is no check for the `max-age` parameter.

What is in the variable `cookies = [{'path': '/', 'max-age': '0', 'version': '0', 'name': 'test'}]`

https://github.com/httpie/httpie/blob/cf78a12e46ced68003263f4f43cee8fac720aa2c/httpie/utils.py#L112-L119

The reason why

[2021-02-05 09:51] LuckyDenis commented on #998
Add issue for `requests`: https://github.com/psf/requests/issues/5743

[2021-02-06 09:50] #998 closed

[2021-02-06 11:19] jakubroztocil commented on #1026
HTTPie 2.4.0 with this change has just been released 🥧

[2021-02-06 11:19] #1026 closed

[2021-02-06 11:19] jakubroztocil commented on #1006
HTTPie 2.4.0 fixing the incorrect formatting has just been released 🥧

[2021-02-06 11:19] #1006 closed

[2021-02-06 12:13] soullivaneuh commented on #1026
Wow, just opened an issue from 10 days and I got a new release with clear indications about how to solve my need.

Well done and thanks! I'll test this as soon as possible.

[2021-02-07 13:59] jakubroztocil opened #1030 "Displaying error for incomplete responses"
#1009

[2021-02-10 13:55] Almad commented on #159
Still blocked by upstream / urllib.

[2021-02-10 14:08] Almad commented on #175
Hi! Revisiting the issue after a while, some thoughts:

* Needs more thinking as we currently auto-supply json/formencode
* It is problematic with streaming as the mentioned libraries need some minimal amount of data to be able to decide
* We are conservative about adding dependencies
  * Since it uses libmagic, [cross platform installation would get more complicated](https://github.com/ahupp/pyth

[2021-02-10 14:15] Almad commented on #177
There is now a way to define auth, formatter, convertor and transport plugin. [See "documentation" in the code. ](https://github.com/httpie/httpie/blob/master/httpie/plugins/base.py)

The API is not considered stable, thus not publicly documented. I am closing this issue as it's "good enough" for now, but feedback on the API is welcome here!

[2021-02-10 14:15] #177 closed

[2021-02-10 14:16] Almad commented on #369
This is currently not supported by the API. We plan to improve it, but no timeline yet.

Would you be able share your use case? I know it's been a while ;)

[2021-02-10 14:22] Almad commented on #221
Digest / NTLM authentication is blocked by urllib3: https://github.com/urllib3/urllib3/issues/242

[2021-02-10 14:34] jakubroztocil commented on #239
Positional arguments:

* The URL argument is the first positional one. It’s the only required argument.
* After that, other positional arguments—request items—may optionally follow.

Arguments order:

* If we allow random order of the positional arguments, then we’d have to introduce a detection for which of the arguments represent the URL. We can no longer rely on it being first.
* This might be

[2021-02-10 14:49] jakubroztocil commented on #78
An important consideration here is backwards compatibility. If we simply introduce a syntax relying on dots, than a script containing the following HTTPie command:

[code]
Which currently produces this JSON:

[code]

Would unexpectly result in:

[code]

So the command would have to be updated to escape the newly-meanignful `.` character:

[code]

[2021-02-10 15:08] merwok commented on #78
+1 for the compat issue, but the proposed solution should be more complicated:

[code]

otherwise the shell escape `\.` is interpreted by the shell as `.` and the backslash is not passed to the command called.

[2021-02-10 15:12] jakubroztocil commented on #78
@merwok Good point. I’ve updated the example to take shell escaping into account. General [request item escaping rules](https://httpie.io/docs#escaping-rules) apply.

[2021-02-11 14:59] mr-rodgers commented on #369
Hey there,

I think with this I was trying to make a plugin that would detect a header from my debugging server and then launch into an interactive mode whenever it was received. This use-case was 100% a toy though; not something I needed for the real-world.

[2021-02-11 16:38] Almad commented on #369
Thanks! Let me keep it open for now then, but mark it as low prio.

[2021-02-11 17:21] ahmadnassri commented on #1007
[HAR](https://en.wikipedia.org/wiki/HAR_(file_format)) would be a great format to use for this

[2021-02-12 14:26] ani-sha commented on #851
Hi, @jakubroztocil is this problem fixed yet? I am unable to use `httpie` on RHEL 8.

[code]

[2021-02-13 01:19] Ousret commented on #130
Something so simple yet so unsupported nowadays. Except for httpx. Also I have made something basic to help resolving issues with headers. Check out https://github.com/Ousret/kiss-headers if anyone is looking for a solution.

[2021-02-14 18:56] bl-ue opened #1033 "Ideas to improve header visualization"
Hello!

I have some ideas for improving the display of headers in HTTPie.  Please let me know which ones you agree with and I'll see if I can implement them right away.

1. If the value of any header matches the [RFC 2616 allowed date formats](https://tools.ietf.org/html/rfc2616#section-3.3.1), add a parenthetic, colored message at the end of the header stating how long ago/how long from now the d

[2021-02-15 11:18] stonecharioteer commented on #758
Is this feature still on the roadmap?

[2021-02-15 11:19] jakubroztocil commented on #758
@stonecharioteer Yes, it is! No timeline yet, though.

[2021-02-15 11:35] jakubroztocil commented on #1033
@bl-ue I like your ideas. They add a nice human touch, which is an important principle behind httpie’s design.

To summarize, there’re two broader ideas here:

1. Provide deeper, header-specific syntax highlighting (e.g., for `Cookie` and `Set-Cookie`).
2. Humanize header data (e.g, lengths & dates).

Improving the syntax highlighting should be quite straightforward (please feel free to create a n

[2021-02-15 12:30] bl-ue commented on #1033
I wondered if there was something like that behind HTTPie.  That's actually why I added two spaces before the parentheses, I know that's a great way to distinguish between the original text and the added text!

What would you do in that case?  Add a `--humanize` option that adds humanization with a warning/info in the help that the output will not be the exact output?

Techinically, with colors, t

[2021-02-15 13:02] jakubroztocil commented on #1033
The idea is to make it easy for the user to copy the output and paste it, for example, into their API documentation. So although the spaces help visually, the extra output still breaks this use case.

* The toggle should be based on [`--format-options`](https://httpie.io/docs#colors-and-formatting) (which I completely forgot about for a moment).
* Something like: `--format-options headers.humanize

[2021-02-16 11:25] Almad commented on #995
I unfortunately can't replicate—this needs further investigation

[2021-02-16 16:34] thetuxkeeper opened #1034 "Host header output incorrect when explicitly specifying the default port"
Hi,

if you do something like `http --print hH http://localhost:80/` you get this with `:80` in the host header as output:
[code]
But if you look at it with strace (`strace -f -v -s 256 -e sendto http --print hH http://localhost:80/`) you get
[code]
So the port was removed in the actual request.
What httpie is showing is wrong in this case. It works with non-default ports, so it's just an issue wi

[2021-02-16 17:56] jakubroztocil commented on #1034
Thanks for the report, @thetuxkeeper!  The reported vs. actual `Host` value inconsistency is a bug.

The default protocol port normalization is quite common. But we should document it together with the possible explicit `Host` overwrite. (Just need to make sure the overwrite works with `https://` URLs as well.).

Relevant spec:

[2021-02-17 12:24] anavarre opened #1035 "HTTP response code 425 should return the correct RFC message"
[code]

According to https://tools.ietf.org/html/rfc8470#section-5.2 we should return `HTTP/1.1 425 Too Early` instead.

Here's an example of node.js fixing it a little while ago https://github.com/nodejs/node/commit/458a38c904c78b072f4b49c45dda7c63987bb60b

[2021-02-17 12:31] jakubroztocil commented on #1035
@anavarre HTTPie should be showing exactly what the server has returned. Would you have a URL to test this against? My guess is that the server does reply with `425 Unordered Collection`.

[2021-02-17 15:01] anavarre commented on #1035
Of course you're correct @jakubroztocil

[code]

It's a server issue, not a HTTPie issue. Sorry for the noise!

[2021-02-17 15:01] #1035 closed

[2021-02-18 08:52] blurayne opened #1036 "Following Link-Header / MultiPage-Requests"
Please implement RFC5988 Link Header
https://tools.ietf.org/html/rfc5988#section-5

Also see: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Link

I often do need this functionality.

And yes, I am know of:
https://github.com/httpie/httpie/issues/323

[2021-02-18 09:01] blurayne commented on #1036
Ah okay, seems hypermedia is is not scope of httpie?

I found restish. https://dev.to/danielgtaylor/a-cli-for-rest-apis-part-1-104b

[2021-02-18 23:39] Josholith commented on #811
The above PR to pygments has been merged and landed in Pygments 2.7.0.  If you are using HTTPie with Pygments 2.7.0 or later,  the original issue should not be happening.

[2021-02-18 23:42] Josholith commented on #735
As HTTPie uses Pygments to do syntax highlighting, we had to make a fix for RFC 7230 adherence upstream in Pygments.

This was fixed in Pygments PR #1432 https://github.com/pygments/pygments/pull/1432, and was released in Pygments 2.7.0 (September 12, 2020)  https://pygments.org/docs/changelog/#version-2-7-0

Using HTTPie with Pygments 2.7.0 or later should resolve this issue.

[2021-02-19 13:35] Hydragyrum commented on #534
@jakubroztocil Thank you, I was about to open an issue about the newlines

[2021-02-19 13:42] zersiax opened #1037 "httpie seems to be adding a \n to the end of redirected input"
**Checklist**

- [x ] I've searched for similar issues.
- [x ] I'm using the the latest version of HTTPie.

---

**What are the steps to reproduce the problem?**

1. Make a HTTP request to an endpoint, using an arbitrary string as the request body. e.g. echo "hello" > HTTP POST -v url/post-endpoint
2. Make the same request using curl, adding the -X and -d flags to simulate the same request.

**Wha

[2021-02-19 13:45] zersiax commented on #1037
Update for anyone else running into this: this isn't httpie's fault, it's echo's. echo -n to fix.

[2021-02-19 13:45] #1037 closed

[2021-02-19 16:01] jakubroztocil commented on #1036
@blurayne It is currently a bit out of the scope. But we’re planning on bringing some of the higher-level API features from [httpie/http-prompt](https://github.com/httpie/http-prompt) directly to httpie, and then this will be relevant.

[2021-02-19 21:00] #1010 closed

[2021-02-23 03:03] Frankz commented on #181
Thank you very much

[2021-02-24 03:27] wajika opened #1038 "Why are httpie and service options request results different?"
First of all, I am not sure if there is a problem with my thinking.

Another thing, the domain name I requested is implemented by the windows dns server.

issue:
I found that the options request issued by the application got rich results, but I did not get similar results using httpie.

I want to get the  http.request.headers.Access-Control-Request-Headers field.

--------------------------------

[2021-02-24 11:55] zwh-china opened #1039 "pip install error"
The **setup.cfg** in the main folder of this project has a pair of unusual character which will result the following Error output
I add a print statement in dist.py it turns out to out put the file name:**setup.cfg**
![图片](https://user-images.githubusercontent.com/39894798/108997450-90d8af80-76da-11eb-8b5e-646974883f46.png)
So i run cat setup.cfg which prints this
![图片](https://user-images.githubu

[2021-02-24 13:38] #1039 closed

[2021-02-24 13:43] Almad commented on #1039
If someone visits from google: this is caused by system encoding being set to [GBK](https://en.wikipedia.org/wiki/GBK_(character_encoding)) which doesn't support full range of UTF-8 characters. Distutils use that encoding to interpret `setup.cfg` and typography quotes cause it to fail.

[2021-02-24 13:48] Almad commented on #1038
Could you clarify what you mean by "application"? Is it a one you are developing?

Either way, it seems that your application is sending extra headers (like `Access-Control-Request-Headers`) that you are not sending using HTTPie. If you want to reproduce the response, you should send them as well, e.g.

[code]

[2021-02-24 13:49] Almad commented on #1038
Closing for now as it's not an issue with HTTPie, but feel free to reach out with more questions / clarifications.

[2021-02-24 13:49] #1038 closed

[2021-02-24 13:53] Almad commented on #205
This is a duplicate to #551—let's use that one as a canonical issue.

[2021-02-24 13:53] #205 closed

[2021-02-24 13:55] Almad commented on #313
Seems to be solved by upstream. Please let us know if it isn't!

[2021-02-24 13:55] #313 closed

[2021-02-24 14:12] Almad commented on #329
Let me break it down, what curl displays is:

* TLS details, see  #1011
* Connection information
* Request/response indicators (`>` and `<`)

For displaying the latter two, we need #1023 . The lasts breaks copy&paste ability, so that one needs product design.

I am going to link to this issue in #1023, please let's move the discussion there.

[2021-02-24 14:12] #329 closed

[2021-02-28 21:04] ducaale opened #1043 "Consider joining efforts with xh in porting HTTPie to Rust"
HTTPie is one of a few tools that I recommend to everyone. However, the language it is currently written in means it can suffer from slow startup and some occasional installation problems.

I and other lovely contributors have been working on [porting HTTPie to Rust](https://github.com/ducaale/xh). And given that an [official Rust version of HTTPie](https://crates.io/crates/httpie) is now being pl

[2021-03-01 23:39] jakubroztocil commented on #1043
Hey @ducaale, thanks for reaching out! I’ll shoot you an email.

[2021-03-03 10:47] #1043 closed

[2021-03-05 14:31] Almad commented on #685
Needs #1023

[2021-03-05 14:41] Almad commented on #477
Would `http --help` be viable as a manpage? Based on what I see from the discussion here, it seems to me like a better "minimal" option.

But as mentioned, this is kind of a moot point if package maintainers wouldn't use it.

In that respect, I love the @deed02392's solution the most ^_^

[2021-03-06 06:38] zwh-china opened #1044 "shadow file name 'ssl.py' may cause run time error when tring to run the program from source code"
![image](https://user-images.githubusercontent.com/39894798/110198081-d17aba80-7e8a-11eb-9186-5b60765e1d2d.png)

As you can see in the screenshot in Pycharm, it shows that the ssl has no property named 'CERT_REQUIRED'. But when I looked up the official doc of urlib and pyopenssl. I am sure that it should not be that property doesn't exist.

I reinstall the requirements and openssl plus urlib in th

[2021-03-06 09:38] comradesmith commented on #83
this is a really neat practical example :)

[2021-03-08 06:35] shimmeris commented on #1044
Try using `python -m httpie.__main__` under the httpie directory which contains a README file. Since that's the root directory.

[2021-03-09 01:30] testt11114 opened #1045 "ALMALKI"
(spam)

[2021-03-09 08:21] #1045 closed

[2021-03-09 16:13] ksamuel commented on #58
Hello @jakubroztocil,

As we discussed weeks ago, here is a PoC for a Windows installer attached and the procedure I used to generate it: https://drop.chapril.org/download/889aae1e4ee17fe9/#BBLdWchiazXCxNkma9lqQQ

The link will expire in 5 days, or 20 DL. I can't attach it on Github as it's bigger than 20Mo.

# Dependencies

- httpie
- [nuitka](https://nuitka.net)
- [nsis](https://nsis.sourceforge

[2021-03-14 10:27] daniellimafv commented on #946
Hi. What kind of certificate files are we talking about here?

[2021-03-15 08:02] cynay opened #1046 "Content-Lenght header is one byte to big"
**Checklist**

- [x] I've searched for similar issues.
- [2.3.0] I'm using the the latest version of HTTPie.

---

**What are the steps to reproduce the problem?**

1.
`echo "A" | http -v POST localhost:9999`
Request:
[code]

2.
`curl -s -XPOST localhost:9999 --data A`
Request:
[code]

**What is the expected result?**
Header Content-Length: 1 !

**What happens instead?**
Header Content-Length: 2
I

[2021-03-15 09:07] jakubroztocil commented on #1046
@cynay `echo` by default adds a `\n` at the end. You can get rid of it with `echo -n`:

[code]

[code]

[2021-03-15 09:07] #1046 closed

[2021-03-17 13:19] jakubroztocil commented on #58
This is great. Thanks, @ksamuel! We’ll look into exploring this approach. 🧪

[2021-03-17 13:24] Almad commented on #58
Note: there is also [a choco build of HTTPie](https://chocolatey.org/packages/httpie) that we could automate and also use in this build.

I wonder what's the usage of choco vs windows store for CLI tools on Win. Research needed.

[2021-03-25 11:13] victordidenko commented on #480
Is there any workaround so far?
I started using `mkcert` tool, and was really upset to figure out, that `httpie` ignores system-wide installed CA :(
Specifying `--verify="$(mkcert -CAROOT)/rootCA.pem"` option is working fine, but I wouldn't really want to memorize that.

[2021-03-27 14:14] ferenczy opened #1047 "Feature request: load whole request from a file"
It's possible that HTTPie has such a feature already, but I was unsuccessful in trying to find it.

## What enhancement would you like to see?

To have a possibility to load the whole request (URL, HTTP method, headers, payload, etc.) from a file.

## What problem does it solve?

The use case is to have a library of requests stored as a hierarchy of directories and files. It should be platform-ind

[2021-03-30 23:27] bowlofeggs opened #1050 "Support for Content-Type on each part of a multi-part form"
**Checklist**

- [X] I've searched for similar feature requests.

---

**What enhancement would you like to see?**

I would like to be able to do the equivalent of this curl command:

[code]

Using curl's `--trace-ascii` feature, the above results in something like this:

[code]

I've attempted a few things with httpie, but I don't see a way to get the `application/json` component to come through

[2021-03-31 14:56] jakubroztocil commented on #1050
HTTPie supports this use case, but it only allows you to specify the type when you load the contents from a file (i.e., it doesn’t currently support specifying the type for string fields).

This would be the equivalent:

[code]

[code]

[code]

[2021-03-31 18:21] bowlofeggs commented on #1050
Oh interesting, I hadn't considered doing it that way. I think that's an acceptable way to do it, though it might be nice to have a way to do it as an inline argument on the CLI too.

Feel free to close this issue if you aren't interested in supporting it as an inline argument.

[2021-04-01 21:56] bowlofeggs commented on #1050
I did realize that there is one way that using the file to upload the JSON is not quite equivalent to sending it the way curl does. It ends up including the `filename`, as you noted above. For my current purposes this is fine, but I thought I'd note that here just for completeness.

[2021-04-02 15:18] thernstig commented on #1043
Please make this happen 👍 All of my most and best tooling is written in Rust due to it's significant speed advantage, and it being statically linked. It's just so nice.

[2021-04-02 23:18] kamyar commented on #376
Hey all,
Came across this issue when I was looking into why httpie does not show the SSE. `--stream` indeed solved it.
I did some tinkering in httpie code and noticed a potential location it can be handled from the response.
I would like to work on it if it is still relevant and maintainers of httpie are onboard. :)

cc @jakubroztocil

[2021-04-04 20:54] johhnry commented on #851
Hi,

Same issue here on CentOS 8, can't install `httpie` using `yum`.

It should be mentioned in the docs!

[2021-04-07 03:04] qiulang opened #1051 "brew install httpie will install python too instead of using my existing pyhton"
**Checklist**

- [x] I've searched for similar issues.
- [x] I'm using the the latest version of HTTPie.

---

**What are the steps to reproduce the problem?**

1. MacOS 11.2.3 (Big Sur) has python 3.8 installed and most of my projects use python 3.8
2. I installed httpie using `brew install httpie` then brew installed python 3.9 as well and updated my system python3 to that.
3. I know it is not n

[2021-04-07 11:45] ksamuel commented on #58
Updated the zip link, the last one expired but @jakubroztocil needed it: https://drop.chapril.org/download/3519a0235828b6d2/#Mwzt7QE4O1FnlDDIrUXjjg

It's still gonna expire in 5 days :)

[2021-04-08 08:08] msoe commented on #1034
A simple fix can be applied, I think. to `httpie/cli/argparser.py`

[code]

[2021-04-14 00:54] koresar commented on #851
This worked for me:

[code]

[2021-04-14 08:18] sustefil commented on #1003
+1

There is no `https` in version 1.0.3, which makes it quite unusable on Ubuntu20

[2021-04-16 13:11] danslapman commented on #1047
Actually duplicates #758

[2021-04-16 13:11] danslapman commented on #989
Actually duplicates #758

[2021-04-19 10:10] mtwolak commented on #1003
As a workaround you can install v.2 by grabbing this version from [Debian's site](https://packages.debian.org/sid/all/httpie/download).

[2021-04-27 01:47] ferenczy commented on #1047
@danslapman Yeah, it looks like the same thing, so this issue may be closed as a duplicate, thank you.

[2021-04-27 01:49] ferenczy commented on #758
I have proposed a solution for such a feature in [this feature request](https://github.com/httpie/httpie/issues/1047), maybe you'll find some inspiration there.

[2021-04-29 04:14] JimiPedros commented on #1051
seems like HTTPie setups a virtual environment with a version of Python 3.6 then activates this virtual environment, if you `deactivate` will your system be using Python 3.8? Just a guess - I'm not very familiar with HTTPie 🤷

[2021-04-29 21:06] Sick-codes commented on #989
i would be willing to work on this if no is already working on it

[2021-05-05 02:43] sharat87 opened #1060 "Streaming doesn't seem to be working"
**Checklist**

- [x] I've searched for similar issues.
- [x] I'm using the the latest version of HTTPie.

Version 2.4.0

---

**What are the steps to reproduce the problem?**

Hit any streaming API endpoint, even the one in the documentation. Examples:

1. `http -S pie.dev/stream/3`
2. `http -S pie.dev/drip`

**What is the expected result?**
That the response data shows in the output immediately w

[2021-05-05 02:44] sharat87 commented on #1060
Example taken from docs here: <https://httpie.io/docs/2.4.0#examples-use-cases>.

Thank you for your work.

[2021-05-05 11:10] elenalape commented on #1047
Closing as duplicate. Thanks for the request, though!

[2021-05-05 11:10] #1047 closed

[2021-05-05 11:36] elenalape commented on #1044
Did @shimmeris's comment solve your issue @zwh-china?

[2021-05-05 11:44] elenalape commented on #1060
I think there is an issue with httpbin.org/stream/:n (which is what pie.dev uses), not HTTPie, which is why it doesn't produce expected behaviour. Have you tested with other endpoints than the ones in the docs?

https://github.com/postmanlabs/httpbin/issues/600

[2021-05-05 12:04] elenalape commented on #1051
Looking at the [homebrew formula for HTTPie](https://github.com/Homebrew/homebrew-core/blob/master/Formula/httpie.rb), `depends_on "python@3.9"` is possibly what is installing 3.9 on your system. @jakubroztocil may be able to provide more context on why that is the case.

However, installing HTTPie using Homebrew doesn't seem to change my _default_ system version of python 🤔 Is that definitely the

[2021-05-05 12:31] jakubroztocil commented on #1060
@sharat87 Thanks for the report! The [`--stream` flag](https://httpie.io/docs#disabling-buffering) should and does seem to work with `/stream/3`.

As you can verify in the terminal output, those three JSON chunks get formatted with `--stream` (unlike without the flag where the whole response is considered but doesn’t constitute a valid JSON document). The response is very small so the chunks appea

[2021-05-05 12:38] jakubroztocil commented on #1051
The HTTPie package is fully managed by Homebrew, so it doesn’t depend on the system Python. That is a big advantage because the macOS Python version tends to get quite old.

As @elenalape points out, your system Python should be unaffected, though. Please take a look here to learn more about how Python and Homebrew work together: https://docs.brew.sh/Homebrew-and-Python

[2021-05-05 12:38] #1051 closed

[2021-05-05 13:20] sharat87 commented on #1060
Thank you for the replies. I believe the httpbin endpoint is indeed responding correctly. I've tested the `/drip` endpoint with `curl` and the output shows up in a streaming fashion. Please view the below video. The `*` characters appear one by one, with one second delay when using `curl`. But with httpie, they all appear at once after a 6 second delay:

https://user-images.githubusercontent.com/1

[2021-05-05 13:24] jakubroztocil commented on #1060
@sharat87 in HTTPie, `--stream` is for line-by-line processing. The `/drip` endpoint returns only one line of text. Therefore, `--stream` has no effect there. HTTPie currently doesn‘t have an equivalent to `curl`’s `-N, --no-buffer`.

[2021-05-05 14:15] sharat87 commented on #1060
I see. Thank you very much for the response. I didn't realize `--stream` only works on line streaming. Thank you for the detail. Please consider adding this note to the documentation.

Closing.

[2021-05-05 14:15] #1060 closed

[2021-05-06 04:15] qiulang commented on #1051
Hi macOS 11.2.3 has upgraded system python3 to 3.9 but I will try to find another mac to retry it.

[2021-05-06 09:16] zwh-china commented on #1044
Yes, I turned out to find my environment may cause the issue, I set up an venv and this problem did not appear again. And `python -m httpie.__main__` can properly invoke the program.

[2021-05-06 09:16] #1044 closed

[2021-05-06 15:08] qiulang commented on #1051
Hi I reproduced the case, please check:

[code]

Then
[code]

[2021-05-06 15:55] jakubroztocil commented on #1051
@qiulang Homebrew puts `python3` on your `$PATH` but leaves the version-less `python` intact so you can use to refer to the system Python. This has nothing to do with HTTPie, though — https://docs.brew.sh/Homebrew-and-Python.

[2021-05-06 20:24] kindlehl commented on #1011
This would be very handy.

[2021-05-07 02:33] qiulang commented on #1051
@jakubroztocil  I read that brew document when you first pointed to me. But what that document didn't explain and what confused me is following, as I tried to brew install httpie on my 3rd mac.

As you can see it said python 3.9 is installed at `/usr/local/bin/python3` but when I check its version, it is still 3.6.4 as it still points to the python version I install through python installer from h

[2021-05-07 08:11] markruler commented on #851
in my case (CentOS 7)

[code]

[code]

[2021-05-07 15:12] qiulang commented on #1051
But from a user point of view if I uninstall a tool I just want everything comes with it uninstalled too.

[2021-05-07 15:12] jakubroztocil commented on #1051
Noted

[2021-05-08 07:42] abitrolly commented on #914
It would be nice GraphQL pagination supported natively. To fetch more than 100 results from GitLab API https://docs.gitlab.com/ee/api/graphql/getting_started.html#pagination on one go.

[2021-05-11 15:25] BoboTiG opened #1063 "[Poll] Raw request body option name"
In order to tackle #534, we would like to ask for the community assistance to find the most approprite option name :)

In short, we are implementing a way to specify the raw request body. Example:
[code]
It is an alternative to passing the body via `STDIN`:
[code]

I will add a comment per suggestion and you will only have to :+1: or :-1: to let us know your preference.
If you have suggestions, fe

[2021-05-11 15:25] BoboTiG commented on #1063
`--input, -i`

[2021-05-11 15:25] BoboTiG commented on #1063
`--data`

[2021-05-11 15:25] BoboTiG commented on #1063
`--message, -m`

[2021-05-11 15:25] BoboTiG commented on #1063
`--payload`

[2021-05-11 15:33] BoboTiG commented on #534
Hey people, do you mind having a look at #1063 🙏 ? :)

[2021-05-12 10:57] elenalape commented on #1063
If it's a raw request body, what do you think about `--raw`?

[2021-05-15 02:03] sex69ok opened #1065 "LICENSED"
**Checklist**

- [ ] I've searched for similar issues.
- [ ] I'm using the the latest version of HTTPie.

---

**What are the steps to reproduce the problem?**

1.
2.
3.

**What is the expected result?**

**What happens instead?**

**Debug output**

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[code]

**Provide any additional information, s

[2021-05-15 11:01] #1065 closed

[2021-05-15 13:10] Ousret commented on #1022
Hi @Almad

There could be a change that might interest you in the near future. see https://github.com/psf/requests/pull/5797

Personally, I think that Httpie should differ from the default process applied to content with unknown or incorrect charset declared. You should output something acceptable in the best possible way.

Let me be my own advocate 😃 With charset-normalizer :

- No need for it to

[2021-05-16 09:40] Almad commented on #1022
@Ousret Excellent! It's a bit unclear from the discussion: will that be merged into the requests or would we need to monkeypatch around?

[2021-05-16 10:20] Ousret commented on #1022
It is a full-on replacement of Chardet when using Python 3.

[2021-05-17 16:07] zwx00 opened #1067 "Send null as value in JSON body key-value pairs"
When sending body parameters via httpie, say:

[code]

will send `null` as a string value in JSON, as opposed to the actual null JSON type.

I propose there should be a special syntax to declare this null value an actual null value.

Thanks and sorry if this feature request exists, because I couldn't find it.

[2021-05-17 17:48] #1067 closed

[2021-05-18 07:59] BoboTiG commented on #1063
Then `--raw` is will be!
Thanks everyone for your participation :)

[2021-05-18 07:59] #1063 closed

[2021-05-22 02:03] will-sargent-eero commented on #486
[code]

[2021-05-24 12:44] jakubroztocil commented on #534
Implemented: https://github.com/httpie/httpie#raw-request-body

[2021-05-24 12:44] #534 closed

[2021-05-25 11:19] RakshithRAcharya commented on #239
Can I take up this issue??...... Is it still open??

[2021-05-25 11:27] RakshithRAcharya commented on #564
Can I try to work on this?? @jakubroztocil ....... Where should the README.rst added??

[2021-05-25 12:09] invoicer-it commented on #711
This shouldn't really be closed. How can we obtain both body and headers if status code is an error? There should be an easy way to do this.

[2021-05-29 14:55] ducaale opened #1079 "Cannot follow 307/308 HTTP redirects in verbose mode if request body is being streamed"
**Checklist**

- [x] I've searched for similar issues.
- [x] I'm using the the latest version of HTTPie.

---

**What are the steps to reproduce the problem?**

1. Create a file with some content `echo 'hello world' | file.txt`
2. Run ` http --follow -v post pie.dev/redirect-to url==https://pie.dev/post status_code==307 @file.txt`

**What is the expected result?**

HTTPie should be able to follow

[2021-05-29 14:55] ducaale commented on #1079
A similar thing happens for multipart requests but I am not sure If I should open a separate issue for it

[code]

[2021-06-01 07:50] BoboTiG commented on #1079
Thanks for the detailled report @ducaale :)

I was able to reproduce the issue and will work on a patch shortly.

[2021-06-01 18:31] ducaale opened #1082 "Intermediate requests are being printed if `--print` flag is used"
**Checklist**

- [x] I've searched for similar issues.
- [x] I'm using the the latest version of HTTPie.

---

**What are the steps to reproduce the problem?**

Run `http --follow --print=H pie.dev/redirect/3`

**What is the expected result?**

I should only see the last request header

**What happens instead?**

Intermediate request headers are shown, even though, there is no mention in the docs

[2021-06-09 12:02] BoboTiG commented on #1082
Hello @ducaale,

Thanks for the report.

After digging into the issue, it appears to be a little bit _complicated_ to handle that scenario. I do not say we will not fix it, but it requires to adapt how requests are printed and we like the way it is as of now: streamed in real-time. I simply added a reproduction test case with 9792513c6878a410fe7645810668f820100b5eea and delayed the work on a poten

[2021-06-09 12:17] blyxxyz commented on #1082
Hm, *would* you expect to only see the last request? That's how `--all` is documented, but seeing only the first request and the final response is what I'd intuitively expect.

(Context: we're implementing `--all` in ducaale/xh#137 and aren't sure about the correct behavior)

[2021-06-09 12:39] ducaale commented on #1082
This is how https://github.com/ducaale/xh/pull/137 is currently being implemented
* By default, the last request and last response are printable
* `--all` can mark intermediate requests and responses as printable
* `--print` affects only the requests and responses which are marked as printable
* `--verbose` implies `--all`

I am not sure why I said last request instead of first request in the bug

[2021-06-12 17:01] cascadingstyletrees commented on #1023
As someone who is constantly troubleshooting requests to APIs and CDN issues, seeing the SSL handshake(and even the SNI host), and certificate details are invaluable. The option to modify SNI host (like host headers), would be a unique feature that is hard to come by.

I would really appreciate more features of this type, HTTPIE is just so good, but like curl seems to output either too little or t

[2021-06-15 11:39] #1079 closed

[2021-06-15 11:58] BoboTiG commented on #1079
@ducaale the original issue has been fixed in master :champagne:

[2021-06-15 11:59] BoboTiG commented on #1079
(The second issue, if still revelant, should have its own issue.)

[2021-06-17 09:13] blka opened #1092 "httpie in alpine:3.14 missing dependencies"
**Checklist**

- [* ] I've searched for similar issues.
- [ *] I'm using the the latest version of HTTPie.

---

**What are the steps to reproduce the problem?**

1. docker run -ti alpine:3.14 sh
2. apk add httpie
3. http

**What is the expected result?**
[code]

**What happens instead?**
[code]

**Debug output**

Please re-run the command with `--debug`, then copy the entire command & output and

[2021-06-17 14:04] cognivore commented on #194
Agreed, @jaraco

[2021-06-18 05:12] IlyaSukhanov opened #1093 "Unsafe use of protected member response.raw._original_response"
**Checklist**

- [x] I've searched for similar issues.
- [x] I'm using the the latest version of HTTPie.

---

**What are the steps to reproduce the problem?**

1. Create an TransportPlugin that does not make use of urlib3/http.client
2. Install/register TransportPlugin
3. call  http http+myprotocol://example/

https://github.com/urllib3/urllib3/blob/2f033880938c453895e087b285d50f979acbd0ce/src/ur

[2021-06-18 06:49] BoboTiG commented on #1093
Hello @IlyaSukhanov,

Thanks for the report. Do you mind sharing the plugin to ease testing on my side?

Renforcing the robustness of that part seems interesting, so if you could come with a patch that is not a hammer, we could consider merging it ;)

[2021-06-18 07:02] BoboTiG commented on #1092
It might be an issue on the Alpine side when the package is created. I'll dig into that on my side.
In the meantime, maybe could you use https://github.com/alpine-docker/httpie instead?

[2021-06-18 07:11] BoboTiG commented on #1092
I think I identified the root cause: https://git.alpinelinux.org/aports/tree/community/httpie/APKBUILD#n11 does not list `py3-setuptools`. I'll check if it can be fixed ASAP, else we will have to wait for the next HTTPie release.

[2021-06-19 14:59] IlyaSukhanov commented on #1093
@BoboTiG

Appreciate the quick response. And thank you for providing such a neat tool!

I've provided a patch. Appreciate any feedback and happy to make an requisite changes.

While I'd be happy to share code of plugin I'm working on, it relies a lot of setup to be able to reproduce the issue. Instead I included a much simpler implementation which triggers same scenario in tests. Hope you find it

[2021-06-19 15:54] bl-ue opened #1095 "Use `$JQ_COLORS` to color JSON output"
**Checklist**

- [x] I've searched for similar feature requests.

---

**What enhancement would you like to see?**

Use `$JQ_COLORS` if set to color JSON output.

**What problem does it solve?**

I've configured [`jq`](https://github.com/stedolan/jq) to output colors via `$JQ_COLORS` the way I like (`1;30:1;33:1;33:1;31:1;32:1;39:1;39`), and it would be super if `http` automatically detected that

[2021-06-21 07:21] BoboTiG commented on #1092
I confirm that installing `py3-setuptools` fixes the issue:
[code]

[2021-06-22 08:05] BoboTiG commented on #1093
Just for my information, there was a similar issue on `requests`: https://github.com/psf/requests/issues/1534.

[2021-06-23 04:44] abdennour commented on #513
but how i can ignore "curl" which is few MB only and i installed httpie which 69MB.. then after that, i found myself still depending on other 3rd party CLI (.i.e "jq") ?

[2021-06-28 11:54] blyxxyz opened #1098 "Prompted passwords are not properly persisted into sessions"
**What are the steps to reproduce the problem?**

1. While using a session, supply only a username to `--auth` so the password is prompted. e.g. `http --offline --session ./sess.json --auth user :`
2. Send a new request using the session without explicit authentication, e.g. `http --offline --session ./sess.json :`

**What is the expected result?**

One of the following:
- The password I entered l

[2021-06-30 12:01] BoboTiG commented on #672
Hello,

We reclaimed `httpie` for a good start. When the package will be online we will see how to handle other packages.

Thank you all for your patience :)

[2021-06-30 15:48] peruzzof opened #1100 "Quieter ouput on check-status"
**What enhancement would you like to see?**
I would like to disable all warnings when using --check-status together with --quiet (that is the behaviour prior to issue #1026 ). It can be implemented as another flag (--quieter or --no-warnings)

**What problem does it solve?**
I am using a script with some failing scenarios being handled by the return code and I prefer a cleaner output, without the

[2021-07-02 03:06] weefatboi commented on #83
Whewww!:face_with_cowboy_hat:

[2021-07-05 12:01] BoboTiG opened #1105 "[Snap] Remove unused Pygments lexers"
In the Snap package, we are bundling a lot of `Pygments` lexers that will never be used. Maybe should we take time to remove them at some point.
Here is the revelant output of `$ snapcraft --debug` (that builds the package):
[code]

[2021-07-06 06:33] BoboTiG opened #1107 "[Snap] Fix bash completion"
Bash completion currently does not work in the Snap package. See how it could be fixed.
Interesting links:
- https://snapcraft.io/docs/tab-completion-for-snaps
- https://forum.snapcraft.io/t/debugging-tab-completion/4198

The first thing is to adapt that line: https://github.com/httpie/httpie/blob/b7300c1096796dce127152016dbc138145bf1001/extras/httpie-completion.bash#L13
It must be changed to:
[co

[2021-07-06 19:00] #1093 closed

[2021-07-09 04:47] matthew16550 commented on #566
Just thinking out loud here, I haven't actually tried this.

Perhaps at runtime we add `~/.httpie/plugins/` to the search path (if it exists) and recommend Mac users do this:

`pip install -t ~/.httpie/plugins httpie-jwt-auth`

Suspect it might work fine for 80-90% of the use cases but no idea what might be in that last 10% !

[2021-07-09 07:20] Ousret commented on #1022
Requests maintainers merged it. Should be tagged soon.

[2021-07-09 09:05] BoboTiG commented on #566
It is preferable rather my proposal on #1108 IMO.

Still:

- What would happen if someone installed a plugin in the folder using a different Python version (like Python 2.7) when HTTPie is running Python 3.9?
- Plugin requires HTTPie to be installed, so they install it, making the folder bigger (that's an issue on plugin themselves and not really a problem I guess), and having 2 `httpie` modules a

[2021-07-09 10:20] matthew16550 commented on #566
Good point, my random sampling of 4 plugins finds they all require `httpie` as an install dependency.

[2021-07-09 10:36] matthew16550 commented on #566
I've done a little work on [Nikola](https://getnikola.com/), it manages plugin installs itself.  Running `nikola plugin -i foo` will download and extract a foo.zip, then [run pip as a subprocess](https://github.com/getnikola/nikola/blob/7e03f76d8c0b9c05ffbb738f3c3c100da76eeb99/nikola/plugins/command/plugin.py#L254) to install any dependencies.

Maybe we could borrow the second half of that idea an

[2021-07-09 14:40] matthew16550 commented on #566
Another example: For [JMeter](https://jmeter.apache.org/), [this blog](https://medium.com/@sdanerib/run-jmeter-with-plugins-in-macos-8a6654fc0b38) recommends manually copying plugins into the Homebrew dir.

[2021-07-12 07:57] hmeine commented on #215
Please can someone comment on #838 ? I feel like the existing session functionality could be a good match for adding a default host (instead of localhost).

[2021-07-13 20:36] Ousret commented on #1022
The tag has been published.

[2021-07-15 14:53] BoboTiG commented on #1022
@Ousret I was trying the move from `chardet` to `charset-normalizer` but there is no behavior change:
[code]
So the new module is working fine, I had no doubt about that ;)
But `requests` does not seem to use it? Maybe I did something wrong while testing.

[2021-07-15 14:58] Ousret commented on #1022
Hi @BoboTiG

You may want to call the property `apparent_encoding` instead. Requests only return a guessed encoding through that. And use it sometimes with the `.text()` method.

[code]
Would be glad to see your feedback.

[2021-07-15 15:05] BoboTiG commented on #1022
Oh I see. Unfortunately it will not be so easy:
[code]
`apparent_encoding` will consume `content`, and that is not something we want for HTTPie: https://github.com/httpie/httpie/blob/41c251ec7c537059b44c69b75b89c6dd671a25fc/httpie/models.py#L83-L91

Out of curiosity, do you see a workaround? :D

[2021-07-15 15:08] BoboTiG commented on #1022
The root cause seems to be in [get_encoding_from_headers()](https://github.com/psf/requests/blob/5351469472eccee7ed1a6cae53341446c520d807/requests/utils.py#L524-L525): it will return `ISO-8859-1` when `text` is part of the content type. It is not bad, it is just that we are based on that value to prevent fetching the whole body of a response.

[2021-07-15 15:12] BoboTiG commented on #1022
https://github.com/psf/requests/issues/2086 is interesting to follow.

[2021-07-15 15:13] Ousret commented on #1022
For now, my first choice would be to do it directly using `charset-normalizer` after HTTPie got the whole body. Or resetting the buffer seek if this is how it is done/checked.

[2021-07-15 15:28] BoboTiG commented on #1022
Yes, let me try something :)

[2021-07-23 10:55] linpan commented on #122
Canonical issue so weird

[2021-07-29 10:37] JSamir commented on #825
SOAP/XML is still very much alive in the enterprise world. Maybe you can evaluate the suggestions from @Hubbitus ?

[2021-07-29 11:03] BoboTiG commented on #825
We will reconsider the feature, but it is not a high priority for now. #720 seems quite straitforward, and if someone wants to give a hand, a good amount of tests are required to demonstrate old issues are not present (like https://github.com/httpie/httpie/pull/720#issuecomment-438920147).

I'll have a look in the future if nobody steps in.

[2021-07-31 14:46] royalsg22 opened #1116 "I have updated the packaging to be a little more slick. In case its needed, I am willing to help with the maintenance of the snap package at least for the first few months."
I have updated the packaging to be a little slicker. In case it's needed, I am willing to help with the maintenance of the snap package at least for the first few months.
[code]

_Originally posted by @om26er in https://github.com/httpie/httpie/issues/672#issuecomment-485904969_
Set1/Repo/"B"/import os
Set2/Repo/"C"/import os
Set3/Repo/"D"/import os
Set4/Repo/"E"/import os
Set5/Repo/"F"/import os

[2021-07-31 15:01] om26er commented on #1116
bot, wtf ?

[2021-07-31 15:36] om26er commented on #1105
@BoboTiG Where does the snap packaging live ? I might be able to help with issue

[2021-07-31 17:11] #1116 closed

[2021-08-02 13:58] BoboTiG commented on #1105
Thanks @om26er, but the Snap package is not yet alive (see #1103). It will be work for later. Or you can try to improve the current PR, that would be great too :)

[2021-08-06 06:49] lienide opened #1122 "macOS 12 compatible"
**Checklist**

- [ ] I've searched for similar feature requests.

---

**What enhancement would you like to see?**

**What problem does it solve?**

E.g. “I'm always frustrated when [...]”, “I’m trying to do […] so that […]”.

**Provide any additional information, screenshots, or code examples below:**

[2021-08-06 08:07] BoboTiG commented on #1122
What is the problem? Could you elaborate please?

[2021-08-06 10:10] lienide commented on #1122
Hi, I just want install httpie to my another mac and then see below:

[code]

and `brew install --build-from-source httpie` cmd execute failed

[2021-08-06 10:32] BoboTiG commented on #1122
What is the output of `brew install --build-from-source httpie`?
I am afraid we will not support such an old version, you would better install it through Python:
[code]
That will install `http`& `https` executables just like `brew`.

[2021-08-07 13:37] tikki commented on #964
Hi, I would also be interested in this feature. I'm using [curl's -H](https://curl.se/docs/manpage.html#-H) at the moment to safely include a secret bearer token in an HTTP request. As far as I know there's no better way to avoid leaking that information on the local machine (e.g. through `ps` or inspecting the shell env) and of course I'd like to be able to use httpie instead of curl. :)

For an

[2021-08-09 09:56] lienide commented on #1122
Yes that's working! Thanks

[2021-08-09 09:56] #1122 closed

[2021-08-12 18:24] caofanCPU opened #1126 "Session file with cookie cannot be parsed"
**Checklist**

- [Y] I've searched for similar issues.
- [Y] I'm using the the latest version of HTTPie.

- httpie version, 2.4.0
- python version, 3.9

I prepared the **my-session-cookie.json** file, the request parameters are placed in **query.json**, and the expected response results are placed in the **result.json** file.

 **my-session-cookie.json** like this:
`
{
      "__meta__": {

[2021-08-13 04:06] BoboTiG commented on #1126
Could you rerun the command with `--debug` and copy-paste the whole output (not a screenshot)?

And to ease reproduction on our side, share whole data needed as code, not screenshots, please.

[2021-08-13 04:08] BoboTiG commented on #1126
What is the content of `query.json`?

[2021-08-13 05:12] caofanCPU commented on #1126
@BoboTiG
Just a normal json data like this:
`
{
  "data": {

  },
  "pageNum": 1,
  "pageSize": 100
}
`
![2021813-131051](https://user-images.githubusercontent.com/26968137/129307867-9670a111-7ff6-46f3-83c5-c47fb718be95.png)

[2021-08-13 05:22] caofanCPU commented on #1126
@BoboTiG
I guess the problem is parsing the session file.

When there is a cookie field in the session file, the parsing directly reported an error, simply can not send http request.

And when I remove the cookie field, session field can be parsed rightly and can send http request.

<img width="1788" alt="Xnip2021-08-13_13-16-42" src="https://user-images.githubusercontent.com/26968137/129308711-b9

[2021-08-13 05:34] caofanCPU commented on #1126
Sry, I missed this msg.
In debug mode:

**CASE 1:**
`http --debug  --verify=no -v  --session-read-only=~/Desktop/my-session-cookie.json POST http://localhost:8301/test < ~/Desktop/query.json -d >>~/Desktop/result.json`

HTTPie 2.4.0
Requests 2.25.1
Pygments 2.7.4
Python 3.9.5 (default, May  4 2021, 03:33:11)
[Clang 12.0.0 (clang-1200.0.32.29)]
/usr/local/Cellar/httpie/2.4.0/libexec/bin/python3.9
D

[2021-08-13 15:29] BoboTiG commented on #1126
Thank you @caofanCPU. I can reproduce the problem, expect a fix very soon :)

[2021-08-13 20:17] stellarpower commented on #243
For anyone looking for a quick hack that may get the job done, the bonus is that I learned today about the `time` command in Fish (and possibly your other favourite shell, I believe the bash has it)

[2021-08-16 12:50] #1126 closed

[2021-08-17 14:05] caofanCPU commented on #1126
@BoboTiG @jokull
Thank you for your timely handling work, my **httpie** util is online again, ✌️!
‘cause can’t wait for the release version,  I directly install the latest versio from the master. 😎
Of course, I am looking forward to the next release version! 🤝

[2021-08-26 14:50] brasilikum opened #1132 "Reader View for HTML websites"
**Checklist**

- [x] I've searched for similar feature requests.

---

**What enhancement would you like to see?**
I would like to have a representation of the HTML similar to "reader view" in many browsers.

**What problem does it solve?**

I am frustrated to scroll through pages of HTML on the CLI when there could be a more readable version made available.

**Provide any additional information,

[2021-08-31 20:49] #825 closed

[2021-09-01 09:13] annettejanewilson opened #1133 "Don't silently fix invalid JSON with duplicate keys"
**Checklist**

- [x] I've searched for similar feature requests.

---

**What enhancement would you like to see?**

When a server returns invalid JSON, the HTTPie formatter should either leave it untouched or fail loudly. As it stands, if the JSON contains duplicate keys, HTTPie will quietly remove the duplicates during formatting.

**What problem does it solve?**

When debugging broken services,

[2021-09-01 09:36] jakubroztocil commented on #1133
Thanks for the thorough description. I agree that the current behavior is not acceptable for the formatted output use case. It’s the default behavior of the underlying library we use.

We should customize the JSON loader/serializer we use for formatting to allow repeated keys. Ideally, we’d also extend the JSON lexer to mark repeated keys as errors, but that might be too big of a project for such

[2021-09-01 10:21] annettejanewilson commented on #1133
Oh, it's thornier than I realised. Apparently the JSON specification _doesn't_ require keys to be unique. It just leaves it up to JSON processors. 😱 Still, I don't think that remove the onus from HTTPie to do something sensible. It just makes it harder. It looks like it's super easy to _parse_ using `object_pairs_hook=multidict.MultiDict` and largely impossible to serialise without rewriting the j

[2021-09-01 11:43] jakubroztocil commented on #1133
Interesting that JSON doesn’t prohibit duplicate keys. But it makes sense, though. It’s valid on the language syntax level, and semantically it could be explained as following the JS object notation behavior where the latest occurrence overwrites any earlier ones.

In any case, we shouldn’t alter the data for display. `object_pairs_hook=multidict.MultiDict` might be a good start. Cc @BoboTiG

[2021-09-01 15:53] BoboTiG commented on #1133
@annettejanewilson Using a custom `multidict`, we can achieve that output:
[code]
It is still not the same output as for `--pretty=colors` in the sens we loose the repeated lines. Still, does such output would help in you case?

[2021-09-01 15:55] jakubroztocil commented on #1133
The data should not be interpreted/transformed in any way other than the documented one. So this doesn’t work.

[2021-09-02 13:43] BoboTiG commented on #1133
OK I have a working patch. I'll wait for the #1130 merge because changes will conflict then.

[2021-09-05 03:11] arloan opened #1138 "HTTP request hangs for some site"
**Checklist**

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

**What are the steps to reproduce the problem?**

1. hit the "Try Online" button of the homepage of https://httpie.io/
2. input command 'http https://www.cmegroup.com' and hit Enter
3. the output hangs without response body

**What is the expected result?**
The response body text (web page so

[2021-09-06 19:28] peterpt opened #1142 "Unable to retrive the full page of url"
I am using httpie 0.9.8 and when i try to download the webpage of dropbox i dont get the page fully downloaded , only partially .

Using this dropbox link :
https://www.dropbox.com/sh/erv1tycztizfvyd/AADeXwemV9sK37MSHqxmYz_5a?dl=0

and using the command :
http https://www.dropbox.com/sh/erv1tycztizfvyd/AADeXwemV9sK37MSHqxmYz_5a?dl=0 -o page.html

i get the links from 30 files where in reality exis

[2021-09-07 07:40] stephenlprice commented on #83
HTTPie is awesome! :heart:

[2021-09-07 08:47] BoboTiG commented on #1142
Could you try the latest HTTPie version (2.5.0 at the time)?

[2021-09-07 08:54] joliegrace commented on #83
HTTPie is awesome! :heart:

[2021-09-07 14:45] #672 closed

[2021-09-07 18:50] peterpt commented on #1142
i have try it with 2.5.0 and still have the same issue .

I created a simple script that uses httpie and uses sed next to parse the html file and retrieve only the links , probably is more easier for you guys make tests , i am sending it as an attachment in zip file .

[2021-09-08 08:16] BoboTiG commented on #1092
The version 2.5.0 fixes the issue. I is already available on the `egde` Alpine repository, it will be propagated to others.

[2021-09-08 08:16] #1092 closed

[2021-09-10 09:24] BoboTiG commented on #672
A small news for all Linux folks: `sudo snap install httpie` is now working ;)

[2021-09-10 09:26] jakubroztocil commented on #672
Oh snap!

[2021-09-11 20:50] 1Nick1Name commented on #1003
Now almost a year later, any progress on this issue?

[2021-09-12 07:22] BoboTiG commented on #1003
Ubuntu is shipping `snap`, you could install the latest version using it (here is the [package](https://snapcraft.io/httpie)):
[code]
It is the preferred way to install it on Ubuntu.

We may improve the situation using `apk` but that takes time and it will not be available on all versions on Ubuntu. Have a look at https://repology.org/project/httpie/versions where you can find which version is ava

[2021-09-12 19:32] jrtitus commented on #1003
@BoboTiG Is there supposed to be a `latest/stable` when installing via `snap`?

`snap info httpie` returns

[code]

I needed to do `snap install --edge httpie`

[2021-09-12 19:55] somera commented on #1003
I took the pip installation.

[2021-09-12 20:19] BoboTiG commented on #1003
@jrtitus the stable version will come later. I knew `snap` would propose the version from edge, it is expected. Tomorrow, 2.5.0 will become stable and snap will handle it perfectly.

I would like some feedbacks before moving the package to stable ;)

[2021-09-12 20:20] BoboTiG commented on #1003
@somera wise move 👍

[2021-09-13 08:32] 1Nick1Name commented on #1003
To my other dismay, does not work on in Ubuntu on wsl.

Mickaël Schoentgen ***@***.***> schrieb am So., 12. Sept.
2021, 22:20:

[2021-09-13 08:35] BoboTiG opened #1156 "Do not append missing XML declaration in formatted responses"
## Minimal reproduction code and steps

1. Create the file `repro.xml` with that content:

[code]
2. Serve that file using:

[code]
3. And GET the file:

[code]

## Current result

[code]

Note the additional XML declaration (it is not present from the original response).

## Expected result

The responses should not be altered:

[code]

---

## Additional information, screenshots, or code example

[2021-09-13 08:38] BoboTiG commented on #1003
Could you open a specific issue with more context an details please? I am afraid that WSL is another beast on its own.

[2021-09-13 08:42] 1Nick1Name commented on #1003
Sorry, what I meant to write was that snap does not work on Ubuntu on wsl. So using snap is not a viable alternative to apt.

[2021-09-13 08:44] somera commented on #1003
But this

`pip install --user --upgrade httpie`

works on wsl.

[2021-09-13 08:48] BoboTiG commented on #1003
@1Nick1Name, indeed, [Snap documentation](https://snapcraft.io/docs/build-on-windows) states:

So let's go with `pip`, it will always work.

[2021-09-13 09:12] 1Nick1Name commented on #1003
Yea maybe. At the moment I am trying to limit the amount of rabbit holes I jump into to have a good chase. So I'd prefer to stay with the Ubuntu packet manager.
That might be kind of the point to my comment and maybe the OPs post. We all have limited time, so there is no good reason to concern yourselves with a zoo of possible alternatives. Either the httpie community wants to support Ubuntu then

[2021-09-13 10:30] BoboTiG commented on #1003
@1Nick1Name I understand your frustration and get it. We are actively looking to improve the situation.

[2021-09-16 10:25] faaizajaz commented on #26
[code]

I get an invalid JSON error with the above. it expects a colon and value as it is treating those cookies as a key

[2021-09-16 11:12] BoboTiG commented on #26
@faaizajaz, please open a specific issue.

[2021-09-16 11:19] tobske commented on #959
@jakubroztocil Just a very vague idea: Could you maybe use prettier from https://prettier.io/ for this? I know that is commonly used in combination with editors but in the end it is just a npm module.

[2021-09-16 11:28] BoboTiG commented on #959
@tobske, HTTPie is Python-based code, it would not make sens to install the whole NodeJS suite just to have HTML formatting.
We may rethink that part when we will know about a potential Python module that would solve the case.

[2021-09-16 11:49] faaizajaz commented on #26
@BoboTiG Happy to do so. Just wanted to confirm that if I have a session file containing only the block I shared above, should it work, or am I missing something about how sessions work?

[2021-09-16 14:48] tobske commented on #959
Okay, I can understand that.

[2021-09-16 16:18] ramilmsh commented on #243
JFYI, this will time the command, not request, meaning parsing the arguments, making the request, compression, parsing response and so on will be included. It's fine, if your request time much larger (orders of magnitude) than any local operations that need to be performed, but something you need to keep an eye out for

[2021-09-17 12:20] BoboTiG opened #1158 "Please vote on issues :+1: :-1:"
Hello world,

In order to help us prioritizing the work on HTTPie, you could simply use [reactions](https://github.blog/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) on issues description.
We will try to include most wanted bug fixes and features in our development cycles, so let's us know what you are interested in the most :)

Thanks,

_Mickaël & the HTTPie team._

[2021-09-17 14:30] BoboTiG commented on #569
Closing as duplicate of #94.

[2021-09-17 14:30] #569 closed

[2021-09-21 17:07] #1133 closed

[2021-09-22 14:47] jakubroztocil commented on #448
Solved by moving the docs from `README.md` to `docs/README.md` where users are less likely to consume the `master` ones.

[2021-09-22 14:47] #448 closed

[2021-09-22 15:10] BoboTiG commented on #990
@stonebig do you have all answers you had looked for?

[2021-09-22 15:13] BoboTiG commented on #851
The [documentation](https://httpie.io/docs) has been updated to reflect all commands needed. To summarize:

[code]

[2021-09-22 15:13] #851 closed

[2021-09-22 15:49] BoboTiG commented on #578
I think @GotoCode has found the issue and fix :pie:

Please feel free to reopen this if you still have the issue/questions.

[2021-09-22 15:49] #578 closed

[2021-09-22 15:56] BoboTiG commented on #1001
I close that issue as the root cause is #1003, let's focus on one issue.

[2021-09-22 15:56] #1001 closed

[2021-09-23 08:34] BoboTiG commented on #995
@ab-kily what HTTPie plugins do you are using?

[2021-09-23 08:37] #939 closed

[2021-09-23 13:50] ab-kily commented on #995
@BoboTiG how can I see list of plugins?

[2021-09-23 14:07] BoboTiG commented on #995
Until #455 it will be hard to guess.

Maybe could you run that script and copy-paste the output?

[code]

Run it with `python3 list-plugings.py`.

[2021-09-23 14:14] ab-kily commented on #995
@BoboTiG it seems I have no plugins installed:
[code]

[2021-09-23 14:20] BoboTiG commented on #995
What give `python -V` & `python3 -V`?

[2021-09-23 14:37] ab-kily commented on #995
@BoboTiG sorry, my previous message was wrong because I run the script on different server. So I run it on correct server and here is the output:
[code]
Python versions are:
[code]

Also, I update httpie to the latest version and the problem still exists:
[code]

 I can send you API key in PM (there is nothing private), so you can check the problem by yourself.

[2021-09-23 14:43] ab-kily commented on #995
@BoboTiG  I'm surprised there is no private message functionality in GitHub 😂😂😂

Here is an API key: `6554bfac99dbf6313ba552942c0f3b2d`

Just replace XXX by this key, and you should see the issue.

[2021-09-23 14:45] BoboTiG commented on #995
(You could find my email ID on my profile.)

[2021-09-23 14:46] BoboTiG commented on #995
(And you remove your comment, I have copied the key.)

[2021-09-23 14:51] BoboTiG commented on #995
I can reproduce, thanks!

[2021-09-23 15:15] #455 closed

[2021-09-23 15:32] BoboTiG commented on #995
The issue with HTTP/2 is more tricky than expected. We will fix everything at some point (see https://github.com/httpie/httpie/issues/692#issuecomment-646354697).

[2021-09-23 17:45] emdneto commented on #1132
You can simply save the content and open it in firefox:

[code]

[2021-09-23 18:42] mrsarm commented on #534
Just wanted to say that I'm pleased to see this feature finally included in the last release, thanks @jakubroztocil  :clap:

[2021-09-24 03:45] brasilikum commented on #1132
Hey @emdneto that would be a way to do it, but for me, it defeats the purpose.
If I had wanted to look at it in a browser, I could have done so directly.

My use case is automated fetching of a text only version for my personal notes.

[2021-09-24 11:50] emdneto commented on #1132
I see. In this case, I believe that we can't perform a "text dump" by using httpie. But in the meantime, could you please try `lynx`? It may solve your use case:

[code]

[code]

[2021-09-29 09:21] BoboTiG commented on #78
Since HTTPie 2.5.0, you can also use [`--raw`](https://httpie.io/docs#request-data-via---raw):
[code]
[code]

[2021-09-29 18:22] #358 closed

[2021-09-29 18:22] #1022 closed

[2021-09-29 18:22] #627 closed

[2021-09-30 08:32] BoboTiG opened #1167 "Encoding error with non-prettified encoded responses"
## Minimal reproduction code and steps

[code]

## Current result

[code]

## Expected result

[code]

---

## Debug output

[code]

[code]

## Additional information, screenshots, or code examples

The issue occurs because the `Content-Type` header specifies the UTF-8 encoding, but it is BIG5 actually.

Before #1110, the error was more obvious:

[code]

## Solution

A potential fix would be to ex

[2021-10-01 17:50] ByteHackr opened #1170 "Possible SQL injection vector through string-based query construction."
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

Possible SQL injection vector through string-based query construction.

Location: superset/tests/integration_tests/csv_upload_tests.py:373

372             .get_sqla_engine()
373             .execute(f"SELECT * from {EXCEL_UPLOAD_TABLE}")
374             .fetchall()

Solution :
Sanitize and co

[2021-10-01 17:57] jakubroztocil commented on #1170
This is not httpie-related.

[2021-10-01 17:57] #1170 closed

[2021-10-01 20:09] vishr opened #1171 "Method POST is used always when executing from go as external command"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

[code]

1.  Install go
2. Save above code as `test.go`
3. Execute `http` using `go run test.go`
4. `http` in this case is always using POST method

## Current result

[code]

## Expected result

Downloads a file

## Debug output

Please re-run the comman

[2021-10-01 20:17] jakubroztocil commented on #1171
@vishr you might need to add `--ignore-stdin`, see https://httpie.io/docs#scripting

[2021-10-01 20:26] vishr commented on #1171
@jakubroztocil It worked but now the output is going to stdout. Also, is there a way to globally set this flag?

[2021-10-01 20:42] jakubroztocil commented on #1171
@vishr when invoking HTTPie from a context like the Go program, both `stdin` and `stdout` are disconnected from the terminal. And HTTPie interprets that as if being invoked as part of a Unix pipe chain where it adjusts its behavior. I.e., It thinks you’re trying to do something like this (your script is the middle command):

[code]

This makes sense when actually piping, but requires some explicit

[2021-10-01 20:52] jakubroztocil commented on #1171
You can add it to your [config file](https://httpie.io/docs#config) in the `default_options` list. But I advise against it unless you have a strong reason because it’s a drastic change to the default behavior. But if you do go ahead with it, you can still un-set it for individual invocations via [`--no-ignore-stdin`](https://httpie.io/docs#un-setting-previously-specified-options).

[2021-10-01 21:00] vishr commented on #1171
Thank you. Will close.

[2021-10-01 21:01] #1171 closed

[2021-10-05 14:39] dkreeft commented on #1100
Is this something that we want to implement? I know I would like this and I can work on it.

[2021-10-06 12:38] BoboTiG commented on #1100
@peruzzof what is your use case? Could you provide an example?

It seems it could be solved by redirecting `stderr` to `/dev/null`:

[code]

[2021-10-06 15:27] #1167 closed

[2021-10-06 17:49] #1132 closed

[2021-10-08 12:36] BoboTiG opened #1177 "Drop Python 3.6. support in Dec due to EOL"
A friendly note to all our community: HTTPie will **drop Python 3.6 support by January, 2022**. Indeed, the Python Software Foundation will cease to maintain it by [December, 2021](https://www.python.org/dev/peps/pep-0494/#lifespan).

For those who may ask why: our rational is to drop insecure versions immediately when that happens.

That issue will be used a a reminder of tasks to be done in orde

[2021-10-12 11:03] andrascz opened #1180 "TypeError when printing response headers"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. `http -h https://www.google.com`

## Current result

[code]

## Expected result

the response headers printed

---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[code]

## Addi

[2021-10-15 05:25] BoboTiG commented on #1156
Of course @this-is-r-gaurav 👍 :)

[2021-10-15 05:54] this-is-r-gaurav commented on #1156
Its a dirty hack, not sure whether its acceptable, if any further suggestion i can update it @BoboTiG  https://github.com/httpie/httpie/pull/1183

[2021-10-15 17:36] BoboTiG commented on #1107
That would be cool :)

[2021-10-17 14:26] this-is-r-gaurav commented on #1107
Hi @BoboTiG Just to keep track of it,  I tried to debug that, the command `complete -p httpie.http` is failing with `no completion specification`.
I was trying to figure it out why specification is not loading, but not able to figure it out. I might take another weekend, to debug that.
____
with  command
[code]
It is listing all options.

[2021-10-26 23:48] testt11114 opened #1192 "majed"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1.
2.
3.

## Current result

…

## Expected result

…

---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[code]

## Additional information, screenshots, or code examples

…

[2021-10-27 00:43] testt11114 opened #1193 "https://github."
__Originally posted by @testt11114 in https://github.com/testt11114/testt11114/issues/1__

[2021-10-29 04:10] aaronhmiller opened #1194 "docs not loading"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---
try opening https://httpie.io/docs in any browser (Safari and Firefox tested)
see the following:
<img width="737" alt="image" src="https://user-images.githubusercontent.com/223486/139373980-6bd9e179-ee93-4e9e-bb53-087118dbec13.png">

"Application error: a client-side exception has occurred (see

[2021-10-29 07:22] #1194 closed, assigned to nobody

[2021-10-29 22:27] sevenc-nanashi opened #1195 ":// to use command name for scheme"
## Checklist

- [x] I've searched for similar feature requests.

---

## Enhancement request

`://` for `use command name for scheme`, like this:
[code]

---

## Problem it solves

This will make requesting from clipboard more easy, it's just putting space.

---

## Additional information, screenshots, or code examples

…

[2021-10-30 12:10] pjalsGit opened #1196 "GUI/CLI interface for saving requests"
## Checklist

- [x] I've searched for similar feature requests.

---

## Enhancement request

Add a GUI/CLI interface for saving requests.

---

## Problem it solves

It makes it easier to remember/debug requests.

---

## Additional information, screenshots, or code examples

Similar to Insomnia or Postman

## Search Terms (this should be added to the template by the way)
postman insomnia gui cli

[2021-10-30 12:18] jakubroztocil commented on #1196
Check this out: https://httpie.io/product

[2021-10-31 14:04] #130 closed

[2021-11-01 17:32] isidentical commented on #566
I focused on this today and seems like it is finally working (install/uninstall/list). Here is the draft branch to give an impression of the implementation, though it is nowhere near production-ready (in terms of UI): https://github.com/httpie/httpie/compare/master...isidentical:httpie-plugins?expand=1. There were a couple of caveats (e.g pip doesn't support uninstallation from a custom scheme etc

[2021-11-01 20:32] MystPi commented on #83
Cool! :star: HTTPie IS awesome! :heart:

[2021-11-03 14:21] dwt commented on #414
Sad this looks stale, something like `--connect host:port` seems to me to be the right approach.

[2021-11-05 09:28] andrascz commented on #1180
Sorry for the late response, here it is:
[code]

[2021-11-05 11:49] jakubroztocil commented on #1180
@andrascz thanks for the debug output. I see you have `httpie-http2` installed amd that might be the cause. This plugin is obsolete (we don’t have a replacement yes). So `pip uninstall httpie-http2` should fix the issue.

[2021-11-05 12:00] andrascz commented on #1180
@jakubroztocil thank you for the suggestion. It resolved this issue.

[2021-11-05 12:00] #1180 closed

[2021-11-05 12:59] #1195 closed

[2021-11-05 13:00] jakubroztocil commented on #1195
@sevenc-nanashi thanks for the suggestion — implemented in `master` 🎉

[2021-11-05 21:23] transmatecode opened #1198 "# [Codecov](https://codecov.io/gh/httpie/httpie/pull/1169?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=None) Report"
# [Codecov](https://codecov.io/gh/httpie/httpie/pull/1169?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=None) Report

[![Impacted file tree graph](https://codecov.io/gh/httpie/httpie/pull/1169/graphs/tree.svg?width=650&height=150&src=pr&token=N3PYfaFfzl&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_

[2021-11-05 21:26] #1198 closed

[2021-11-06 20:23] transmatecode opened #1199 "Epay"
http://www.paystreamadvisors.com/

[2021-11-07 15:54] isidentical commented on #1192
This seems like a spam.

[2021-11-07 15:54] #1192 closed

[2021-11-07 15:54] #1193 closed

[2021-11-07 15:54] isidentical commented on #1193
This seems like a spam.

[2021-11-08 07:21] transmatecode opened #1201 "http://external.system.id="
https://github.com/plaid/plaid-link-examples/blob/master/webviews/android/link-android-webview-example.iml#L1-L21

[2021-11-10 11:14] patatetom opened #1202 "SSL/TLS server certificat validation"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Context

- (Arch)Linux 5.10.78-1-lts
- python 3.9.7
- httpie 2.6.0
- rootCA/interCA/serverCA
- **interCA system trusted**
- **rootCA system trusted**
- **web browsers (Cr/Ff) OK**
- **curl/wget OK**

---

## Minimal reproduction code and steps

1. `https https://server`
2. `https --verify r

[2021-11-13 17:24] isidentical opened #1204 "Ignoring broken plugins"
Seems like there are a couple of broken plugins out there, and when any of them are installed in the system it completely blocks the usage of `http`/`https` commands. An example scenario;

[code]

A straightforward solution for this is ignoring these errors, and throwing a warning to user (`Warning: Failed to load 'httpie-aws-auth' plugin, see '/tmp/xxx.txt' for more logs`). This way, even if the

[2021-11-15 15:27] bac opened #1206 "Certificate expiration date incorrect (by a few decades)"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. `http --verbose --verify no https://internal.example.net`
  Output shows `Expires: Thu, 19 Nov 1981 08:52:00 GMT`

2. `curl -v https://internal.example.net`
 Correctly shows `*  expire date: Dec  4 16:16:34 2021 GMT`

## Current result

`Expires: Thu,

[2021-11-15 16:19] bac commented on #1206
This issue is wrong as I confused the cert expiration date with the cache expiration. Sorry for the confusion.

[2021-11-15 16:19] #1206 closed

[2021-11-17 13:16] jakubroztocil opened #1207 "Response headers sharing the same names get converted into a comma-separated list"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

Make a request to URL that returns repeated headers lines. Here’s an example express server that does that:

[code]

The run `node server.js` and get the response:

[code]

## Current result

[code]

## Expected result

[code]

---

@isidentical we’ve fi

[2021-11-17 14:52] isidentical commented on #1207
Seems like this happen during the adapter, so we should be able to simply build our own `HTTPAdapter` and use the actual values from the `urllib3`'s `HeaderDict`. Will send a patch!

[2021-11-17 21:20] djeikyb commented on #480
Hack update for today's version of httpie, intel macos:

[code]

[2021-11-17 21:23] jakubroztocil commented on #480
@isidentical do you have an idea how to fix this directly in HTTPie?

[2021-11-17 22:41] djeikyb commented on #480
I think https://github.com/psf/requests/issues/2966 is the requests lib issue to follow along with?

[2021-11-19 19:43] PerfectlyInternal commented on #1204
This seems pretty handy addition, and fairly simple to implement at that. I can start working on this now, if there aren't any other changes to be made.

[2021-11-19 19:47] isidentical commented on #1204
Unfortunately, there is. For not creating any conflicts, we need #1200 first (not directly relevant, but touches the same places this requires). After that, it should be very simple to do so.

[2021-11-20 11:01] Bhavye-Malhotra commented on #1142
I have tested the script and it works perfectly fine. The issue seems fixed in version 2.6.0

![image](https://user-images.githubusercontent.com/49281065/142723860-6a728a25-2f6d-495a-ab98-2740d10da4c0.png)

[2021-11-20 15:00] peterpt commented on #1142
You have 50 links of wav files in that drop box , httpie only get 31 , your output was the same as i got in 2.5.0 .

[2021-11-20 16:19] Bhavye-Malhotra commented on #1142
Ohh, let me recheck and try to fix it.

[2021-11-20 16:49] Bhavye-Malhotra commented on #1142
@peterpt hey, I tried to extract the URLs manually by downloading the source HTML page locally and running the script on that HTML file and i found out that it still shows 31 links and not 48 which is the total number of files so I think its a thing from dropbox side and not httpie 😅

[2021-11-20 18:00] isidentical commented on #1142
The reason there are only 30-something in the HTTPie usage and 50-something on the browser is that once the page is fully loaded, the browser starts executing javascript which does light pagination to load more entries. If you want to test this out by yourself, simply block the  `https://www.dropbox.com/list_shared_link_folder_entries` API on your browser's command toolkit and then try again. This

[2021-11-20 18:01] #1142 closed

[2021-11-23 09:03] isidentical commented on #1201
Please create a new issue with the description of your bug. A random link is not sufficient without any other information provided.

[2021-11-23 09:03] #1201 closed

[2021-11-24 08:15] isidentical opened #1211 "Lazily load pygments styles"
We currently try to retrieve all pygments styles at once, but this operation is very slow due to the import of `pkg_resources` on the pygments side.
https://github.com/httpie/httpie/blob/cfcd7413d1afbabc5ab3c88a892851335be4944a/httpie/output/formatters/colors.py#L31

We should load these styles lazily when a user specifies `--style` explicitly.

[2021-11-24 08:33] isidentical commented on #1211
|               | normal   | lazy loading | factor      |
|---------------|----------|--------------|-------------|
| Environment 1 | 238.2 ms | 185.4 ms     | 1.30X (30%) |
| Environment 2 | 383.3 ms | 240.4 ms     | 1.58X (58%) |

Since the actual load we are removing is `pkg_resources` import, the speed-up factor is very dependant on how complex the current python environment you are within. Th

[2021-11-24 08:34] isidentical commented on #1211
(I'll send a patch after #1200)

[2021-11-24 09:04] jakubroztocil commented on #1211
Nice!

Could we do some quick lookup even if the user specifies `--style`? Many users probably have `--style` in their config file.

The full list is probably only needed for `--help' output. But also even then we only need the names.

[2021-11-24 10:36] isidentical commented on #1211
If users specify `--style`, they will load the whole pygments (including all of it's plugins). And it will be like the original, so we will error out if the style is not available etc.

Yea, that is definitely the trickiest thing to do. The names and the actual styles don't matter much since either way the most of the time is spent on collecting packages through `pkg_resources`.

We need to retrie

[2021-11-24 23:41] #1207 closed

[2021-11-25 15:18] tonsV2 commented on #758
@jakubroztocil Are there any updates on this matter?

I've been needing this for quite a few years now and there might be people here, myself included, which would be willing to work.

[2021-11-25 19:08] isidentical opened #1212 "JSON only operator handling for :=/:=@ --form/--multipart"
Currently handling of JSON only operators (:=/:=@) with `--form`/`--multipart` is not properly defined, and they sometimes work and sometimes just throw and `AssertionError`. As discussed, let's properly formalize this:
- Support basic types like strings, numbers and booleans
- Error out on complex types

[2021-11-26 11:45] #1212 closed

[2021-11-28 19:32] josephworks opened #1214 "Move away from Make"
I see that this is a python project, but Make is being used for building/developer setup. Could make be replaced with a python script? Is there any specific reason why make was specifically used for this?

[2021-11-28 19:46] doublevcodes commented on #1214
I'd like to propose the use of Poetry for this project as well, and if that isn't feasible, perhaps Pipenv

[2021-11-29 13:10] isidentical opened #1215 "Support Bearer Authentication"
Bearer is a form of HTTP authentication through a header value (`Authorization: Bearer <token>`). It is pretty common and pretty well defined (by [RFC 6750](https://datatracker.ietf.org/doc/html/rfc6750)) so personally I'd say we should support it out of the box.

[2021-11-29 13:17] isidentical commented on #1214
For the code-style checks, I am planning to introduce `pre-commit` in the future. But for the rest, my opinion is that, `Make` is alright.

`Make` is a language-agnostic tool, are there any reasons to move away from it?

If it didn't exist, I'd probably use `nox` for these sort of tasks but since we already have a `Makefile` I personally don't see any reasons to switch.

[2021-11-29 13:17] #1214 closed

[2021-11-29 14:36] josephworks commented on #1214
Imo it would be nice to have a pure python project, where an external tool like make isn't part of the equation.

Couldn't make easily be replaced with a python script?

I was using python on my phone, and I didn't have make installed so that costed me a few minutes.

[2021-11-29 14:51] isidentical commented on #1214
GNU Make is an essential part of nearly all development ecosystems, and AFAIK on many systems it actually comes bundled with the system. I don't know about android or other esoteric development environments, but if it is not available (which  is extremely unlikely), you actually don't need it at all.

CI runs everything you need to do, so don't worry much about it. You can manually run the tests l

[2021-11-29 15:26] josephworks commented on #1214
Most Linux distros use make for Linux updates iirc. Otherwise it is
primarily used for C and C++. I still don't see why make is used for this
specific project. Can it do the job? Yes. Should it be doing the job? Not
quite sure but I'm thinking no.

If I were to replace make with a python script, would that be accepted?

Python is cross platform also, but make does not come installed to windows
and

[2021-11-29 15:45] isidentical commented on #1214
The most obvious answer I can give (as someone who has no context of it) is that, it was there and it works.

I personally don't see any benefit of replacing something that already works with an ad-hoc python script.

[2021-11-29 16:04] jakubroztocil commented on #1214
@josephworks Makefiles are used for all sorts of purposes. Ours is it to have named commands that run other commands. That is perfectly common. There’s no strong reason to move that from the shell to Python. We’re building for the shell/terminal, after all.

I do understand it’s tempting, though — I’ve done it in the past myself (with a lot of effort and a poor result). Your initiative is apprecia

[2021-11-29 17:31] markrosenbaum opened #1217 "The HTTPie beta web interface can be accessed unauthenticated at a specific url."
By going to a specific url you can access the HTTPie beta web interface unauthenticated.

Steps to reproduce:
Look at the `x-vercel-deployment-url:`  HTTP Header

[2021-11-29 18:18] jakubroztocil commented on #1217
@markrosenbaum thank you for the report! Where did you see the header? 🤔  Maybe could you please ping me on [our discord](https://httpie.io/discord) (I’m `@jakub`)?

Btw, accessing these URLs bypasses the private-beta-user check, but it’s not a vulnerability (I’ve updated the description a bit).

[2021-11-29 18:54] markrosenbaum commented on #1217
Thanks for the quick reply. I do not currently have a discord account, Do you have another way to chat?

[2021-11-29 19:14] jakubroztocil commented on #1217
@markrosenbaum email / Twitter (links on my profile)

[2021-11-29 19:20] markrosenbaum commented on #1217
Ok, I'l send the link to your email.

[2021-11-29 19:21] markrosenbaum commented on #1217
Look at the first one in the list.

[2021-11-30 08:13] isidentical commented on #566
We have finally landed `httpie plugins` interface, though the initial QA on brew is not yet completed. I'll probably try to complete it within today or tomorrow and then close this ticket.

[2021-11-30 19:31] jakubroztocil commented on #1217
The headers issue has been fixed, thank you!

[2021-11-30 19:31] #1217 closed

[2021-12-01 17:37] #1215 closed

[2021-12-01 18:09] #605 closed

[2021-12-01 18:16] #1211 closed

[2021-12-01 20:11] jakubroztocil commented on #1211
Couldn’t we use a different method for checking if it exists (e.g. checking if a module exists first, and only then loading the styles if not)? If I use a custom `--style` (via config, for example), I won’t be able to benefit from this optimization.

[2021-12-01 20:18] isidentical commented on #1211
We could introduce layers (e.g `check if this is a built-in httpie style > check if this is a built-in pygments style > check if this is coming from a pygments plugin`), but I think that would be a bit complicated.

Another possibility is asking pygments maintainers whether they would accept a patch that migrates from `pkg_resources` to `importlib_metadata` (a much much faster version for iteratin

[2021-12-03 10:17] #78 closed

[2021-12-06 10:47] kykungz opened #1229 "per-directory config file (.httpierc)"
## Checklist

- [x] I've searched for similar feature requests.

---

## Enhancement request

I would be great to have a _per-directory_ httpie config file such as `.httpierc` (same naming convention with `.prettierrc`, `.eslintrc` or `.npmrc`).

---

## Problem it solves

The [httpie config](https://httpie.io/docs#config) seems to act as a "global" config on all `http` or `https` command, which s

[2021-12-07 18:47] isidentical opened #1234 "Plugin updates through httpie interface"
Context: https://github.com/httpie/httpie/pull/1228#discussion_r764267920

The UI can be one of these:
- `httpie plugins install --upgrade <bla bla>` (I think less intuitive)
- `httpie plugins update <bla bla>`
- `httpie plugins upgrade <bla bla>` (same with apt)

[2021-12-08 15:45] #1204 closed

[2021-12-08 15:49] #376 closed

[2021-12-10 11:20] isidentical opened #1237 "Create a style that matches with the HTTPie for Web/Desktop"
[HTTPie for Web and Desktop](https://httpie.io/beta) uses a very cool colour scheme, and we should probably add it as a custom style to the CLI.

[2021-12-14 15:14] jakubroztocil opened #1242 "No syntax highlighting possibly for content-types with charset"
[code]

[2021-12-14 15:15] #1156 closed

[2021-12-15 11:07] patrocolo commented on #83
HTTPie is very awesome!Fantastico! :heart:

[2021-12-16 10:42] tomchristie commented on #692
I'd like to pick this up again - I'm planning on releasing `httpx`/`httpcore` 1.0 this month, and after that getting HTTP/2 support for `httpie` is right up there on my list. Because `httpie` has a super large install base it's going to be really important to minimise any risk of unintended changes in the network behaviour, even for edge cases etc.

I think the approach in #972 is the smart route

[2021-12-16 15:04] #1242 closed

[2021-12-17 07:59] #1234 closed

[2021-12-19 10:41] #1237 closed

[2021-12-21 17:32] isidentical opened #1247 "Test new httpie command on various actions"
We have 2 actions that gets triggered when specific files are edited (for testing snap/brew works), they test the `http` but not `httpie`, so let's also test it too.

[2021-12-22 15:29] isidentical opened #1248 "Gracefully handle DNS failures"
HTTPie for Web and Desktop prints useful suggestions when you are not connected to internet or the URL is invalid. Let's also have these on the CLI as well.

[2021-12-23 10:15] ducaale commented on #428
Most rust-based CLI tools, including [ripgrep](https://github.com/BurntSushi/ripgrep), show a compact or a detailed help page depending on whether `-h` or `--help` flag has been used.

Httpie currently uses `-h` as a short form for `--headers`, but is there a chance to change that before the 3.0 release as a breaking change?

[2021-12-23 10:17] ThiefMaster commented on #428
changing switches in a cli is a terrible idea, even in a major release. you just don't do something like that.

[2021-12-23 10:18] ThiefMaster commented on #428
maybe it could do things like git and display a man page instead of dumping so much to stdout directly?

[2021-12-23 10:53] ducaale commented on #428
To maintain backward compatibility, what if `-h` stood for `--headers` only when the URL is available? Of course, the docs wouldn't mention this behavior to steer away users from using `-h` as `--headers`.

[code]

[2021-12-23 11:00] ducaale commented on #428
The current output of `http -h` is
[code]

If you remove the last line and change the exit code to 0, you would end up with a behaviour similar to ripgrep

[code]

[2021-12-23 16:58] #566 closed

[2021-12-23 17:04] isidentical commented on #1248
Actually there is a similiar issue (this is probably a subset of the ones mentioned in there) https://github.com/httpie/httpie/issues/815

[2021-12-23 18:15] isidentical commented on #1247
This has now implemented.

[2021-12-23 18:55] #1247 closed

[2021-12-23 19:06] #964 closed

[2021-12-23 19:35] #1248 closed

[2021-12-23 20:13] #243 closed

[2021-12-26 10:36] zhan9san commented on #1138
This maybe network issue.

I verified all sites above work well with `httpie`.

[2021-12-27 09:26] isidentical opened #1252 "Choco installaed packages conflict with the user's own site-packages"
See [this](https://discord.com/channels/725351238698270761/799982808122523648/924860935074635777) thread on our discord server for details. We should try to be more isolated for package installations on windows.

[2021-12-27 09:59] isidentical opened #1253 "--chunked with --raw raises an internal error"
[code]

[2021-12-28 10:19] isidentical commented on #995
I can no longer reproduce this issue (on a clean environment without any plugins). If it is still happening with the development revision, please let us know.

[2021-12-28 10:19] #995 closed

[2021-12-28 10:23] isidentical commented on #1003
From what I can reproduce, the latest version available in the ubuntu repos at the moment is 2.4.0. Our debian package is now 2.6 on the Debian Sid environment, so we are hopeful that the next version of ubuntu will install either 2.6.0 or 3.0.0 (depending on whether we'll release it or not). We are hoping that in the future, the delays between package managers are going to as noticeable as this o

[2021-12-28 10:23] #1003 closed

[2021-12-28 10:24] isidentical commented on #1107
This seems to be resolved by #1189. Let us know if there is anything else to be done by creating a new issue.

[2021-12-28 10:24] #1107 closed

[2021-12-28 10:26] isidentical commented on #1202
@patatetom can you provide the example website for us to reproduce this problem?

[2021-12-28 10:27] isidentical commented on #1138
I also verified the website in the given reproducer works correctly on the latest revision. If you still experience this issue, please let us know.

[2021-12-28 10:27] #1138 closed

[2021-12-28 10:35] isidentical commented on #1095
This is actually possible without any burden for us. HTTPie uses [pygments style's](https://pygments.org/docs/styles/) to highlight certain parts of the request and response, and if you implement and register a custom style that processes `JQ_COLORS` and use it as the style, you can directly use it from HTTPie by telling it to look for it `--style=my-custom-style`.

Whether such a theme should go

[2021-12-28 11:54] isidentical commented on #999
As you've noticed, `httpcat` or `nc` is useful for constructing/sending manual requests on the terminal. `HTTPie` itself does not support it directly, as we do not support HTTP/2 at the moment.

[2021-12-28 11:54] #999 closed

[2021-12-28 11:55] isidentical commented on #990
Closing as the question was answered, @stonebig if you have any more questions feel free to create new issues.

[2021-12-28 11:55] #990 closed

[2021-12-28 11:59] stonebig commented on #990
Sorry, I forgot to Close. Happy new Year to the team.

[2021-12-28 11:59] isidentical commented on #974
Interesting approach. This makes me notice that we might want to introduce an `httpie sessions` command to manage session state in a blind way.

For example, currently, we ask users to use `ls` to list all sessions from a long path, which might be very inconvenient to type everytime you forget the name of the session you are looking for. We could perhaps create `httpie sessions list` and `httpie s

[2021-12-28 12:04] isidentical commented on #935
Closing as per the notice in the linked PR.

[2021-12-28 12:04] #935 closed

[2021-12-28 12:09] isidentical commented on #842
I, unfortunately, can not reproduce your problem. It would be really nice if you could give an URL that actually works.

[2021-12-28 12:12] isidentical commented on #1011
Duplicate of #826.

[2021-12-28 12:12] #1011 closed

[2021-12-28 12:14] isidentical commented on #824
If I am not missing anything, this seem to be fixed by @kbanc on #932. If the issue is still persisting, please let us know by creating another ticket.

[2021-12-28 12:15] #824 closed

[2021-12-28 12:16] isidentical commented on #815
#1248 fixed some of the problems here. If you have other cases that are tricky to figure out in terms of error messages, please let us know. We are constantly looking forward to improve the UX of HTTPie.

[2021-12-28 12:16] #815 closed

[2021-12-28 12:21] isidentical commented on #805
I also agree that we should not be sending additional headers every time we send a request. The plugin approch seems to be the best way to go with this, but if we'd  add this to the core then it should definitely be guarded with a flag.

[2021-12-28 12:23] isidentical commented on #800
@lathspell would you mind sharing an example website that we can use to reproduce this problem?

[2021-12-28 12:30] isidentical commented on #797
I also couldn't reproduce the problem, @struckoff would you mind sharing a reproducer URL?

[2021-12-28 15:48] patatetom commented on #1202
hi @isidentical,
sorry, I can't because it's an internal server, but I can run a series of tests... (well, not right now because I'm on vacation).

[2021-12-29 09:01] isidentical commented on #1098
Fixed by #1239

[2021-12-29 09:01] #1098 closed

[2021-12-29 09:41] #1253 closed

[2021-12-30 15:06] isidentical opened #1255 "Warn the user when there is no incoming data after a certain time passed on stdin"
E.g
[code]

[2021-12-31 08:46] ducaale opened #1257 "Consider horizontally overflowing code blocks in HTTPie docs on smaller screens"
### Before:
<img width="599" alt="Screenshot_2021-11-07_130323" src="https://user-images.githubusercontent.com/16341131/147813074-a5242a57-ab4f-4ea2-b8a6-b5f62481a4fb.png">

### After:
<img width="611" alt="Screenshot_2021-11-07_131815" src="https://user-images.githubusercontent.com/16341131/147813071-c627a87d-ae65-4c96-b79e-4277eaacb02a.png">

[2022-01-03 17:48] luisuimi opened #1258 "@maldito-dot"
@maldito-dot

_Originally posted by @maldito187 in https://github.com/httpie/httpie/pull/1256#pullrequestreview-842143225_

[2022-01-03 21:47] #1258 closed

[2022-01-09 20:34] Kimtrai2020 opened #1262 "https://github.com/HECODAO/HECO123/blob/483a3463e36ba8d26871ba74b9f8b6d068d626b8/audit/HecoDAO-Audit-Report-112921.pdf"
If you have a general question, please consider asking on Discord: https://httpie.io/chat

[2022-01-09 20:34] #1262 closed

[2022-01-09 20:35] Kimtrai2020 commented on #1262
https://github.com/HECODAO/HECO123/blob/483a3463e36ba8d26871ba74b9f8b6d068d626b8/audit/HecoDAO-Audit-Report-112921.pdf

[2022-01-09 23:04] blyxxyz opened #1263 "`--json` without request items omits body instead of sending empty object"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

Run `http --offline --json post :`

## Current result

A request with `Content-Type: application/json` and an empty body is sent.

## Expected result

`{}` is sent as a body.

---

It seems to me that HTTPie shouldn't construct an invalid JSON body if it

[2022-01-10 08:57] maldito-dot opened #1264 "@maldito-dot"
https://discord.com/api/oauth2/authorize?client_id=894605960344117249&permissions=8&redirect_uri=https%3A%2F%2Fmaldito-dot.github.io%2Fremagined-octo-system%2F&response_type=code&scope=identify%20email%20connections%20rpc.notifications.read%20rpc.voice.read%20rpc.voice.write%20rpc.activities.write%20bot%20webhook.incoming%20applications.builds.upload%20applications.builds.read%20applications.store

[2022-01-10 08:59] #1264 closed

[2022-01-10 13:43] maldito-dot opened #1265 ".readme-md"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1.
2.
3.

## Current result

…

## Expected result

…

---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[code]

## Additional information, screenshots, or code examples

…

[2022-01-10 13:46] isidentical commented on #1265
@maldito-dot please stop spamming on our repos.

[2022-01-10 13:46] #1265 closed

[2022-01-10 13:49] maldito-dot commented on #1265
honestly dont know hpw i am spamming ??

[2022-01-11 15:22] wjrogers opened #1266 "JSON highlighting corrupted by green background in Windows Terminal"
## Checklist

- [X] I've searched for similar issues.
- [X] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. Request a JSON file using HTTPie in Windows Terminal, e.g. `http -j GET https://raw.githubusercontent.com/httpie/httpie/master/tests/fixtures/test.json`
2. Observe corrupt/incorrect green background in JSON syntax highlighting

Windows Terminal versio

[2022-01-11 15:39] isidentical commented on #1266
@wjrogers does other styles work for you (`http --help` can show other alternatives)?

[2022-01-11 15:46] wjrogers commented on #1266
@isidentical yes, actually! Some don't seem to do anything (i.e. the output is not colored), but `auto` works:

![image](https://user-images.githubusercontent.com/62573/148974569-b5acc273-d866-4b06-9065-79ee6c7f32fd.png)

[2022-01-11 15:52] isidentical commented on #1266
As as a quick workaround (until this issue gets resolved) you can actually set it as the default by adding the following to your [config file](https://httpie.io/docs/cli/config-file-directory) (possibly located at `%APPDATA%\httpie\config.json`):
[code]

We normally use `fruity` (a custom theme) as the default on windows (and `auto` on linux/mac os) because we had reports in the past that it was t

[2022-01-11 21:05] AleCandido commented on #83
HTTPie is awesome! :heart:

[2022-01-13 05:44] FftyShadesofCode commented on #1266
I'm having this same issue and I can't seem to figure out how to get `--style` to work for me. I also can't find the config.json file. I'm operating on windows.

[2022-01-13 12:14] isidentical commented on #1266
Hey @FftyShadesofCode! Would you mind trying `http --style=auto pie.dev/get` and sending the output as a screenshot?

[2022-01-13 14:11] FftyShadesofCode commented on #1266
[image: image.png]

On Thu, Jan 13, 2022 at 7:14 AM Batuhan Taskaya ***@***.***>
wrote:

[2022-01-14 13:07] cquark7 commented on #83
HTTPie is awesome! :heart:

[2022-01-14 13:22] cquark7 commented on #83
Just getting started with HTTPie. Loving it so far! About a year ago, I worked on building a CLI to interact with REST APIs of an enterprise application. Initially, I used the same design pattern which cURL uses to pass JSON payload and query params, but the client found it difficult to use. I am a bit surprised to see that HTTPie uses the same pattern for building JSON payloads and request header

[2022-01-14 16:47] #1266 closed

[2022-01-14 16:52] jakubroztocil commented on #1177
cd877a5e0875bfc27d560956b21230e65ad8c347

[2022-01-14 16:52] #1177 closed

[2022-01-19 11:10] patatetom commented on #1202
hi,

first of all, I didn't manage to simulate the problem :
- I mounted two (Arch)Linux virtual machines,
- I applied this https://github.com/patatetom/tls4dev/
- and `httpie` behaved like `curl` and `wget`, i.e. as expected.

so i rechecked my configuration :
- according to `openssl`, my three certificates are OK
[code]
- they are installed at system level
[code]
- `curl` works as expected
[code

[2022-01-19 11:31] patatetom commented on #1202
some additional tests for `httpie` :
[code]

[2022-01-20 14:59] Kirill opened #1270 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:997)"
## Checklist

- [*] I've searched for similar issues.
- [*] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

Call https drwg.ru

## Current result

![image](https://user-images.githubusercontent.com/302940/150362839-c8b17436-745c-42af-956b-8998887deb55.png)

## Expected result

![image](https://user-images.githubusercontent.com/302940/150363226-7b3f94fe-1fcf-43

[2022-01-20 16:06] isidentical commented on #1270
Hey @Kirill!

I can reproduce the problem through `https`, though it also fails with `cURL`:
[code]

Do you have any additional environment variables, or any custom certificates that you are using with cURL that might be missing on my local environment?

[2022-01-20 16:16] Kirill commented on #1270
Yes. I see this problem from server outside home. Strange... I generate SSL with ACME. I understand that problem with hosting. Sorry for take your time.

[2022-01-20 16:16] #1270 closed

[2022-01-20 16:18] isidentical commented on #1270
No problems at all!

[2022-01-21 11:18] alexdelorenzo opened #1271 "Not all messages are suppressed with `--quiet --quiet` or `-qq`"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

[code]

## Current result
[code]
## Expected result
I'd expect the double `--quiet` flag to suppress all warnings.

---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[code]

[2022-01-22 03:06] alexdelorenzo commented on #1271
I'm also encountering cases where `httpie` will still print 404 warnings to the console despite launching it with double quiet flags. I can't reproduce it consistently, though. It seems to only occasionally happen when making many concurrent connections from the shell with GNU `parallel` and the `http` CLI.

[2022-01-22 18:31] jakubroztocil commented on #1271
Thanks for the report! @isidentical looks like we need to also [disable Python’s `warnings`](https://docs.python.org/3/library/warnings.html#overriding-the-default-filter) to hide warnings triggered in 3rd-party packages.

[2022-01-23 08:13] daurnimator opened #1276 "test_plugins_cli tests failing"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. Run httpie 3.0.0 tests on Archlinux in a clean chroot

## Current result

[code]

## Additional information, screenshots, or code examples

Full logs: [httpie-3.0.0-1-x86_64-check.log](https://github.com/httpie/httpie/files/7920038/httpie-3.0.0-1-x86_

[2022-01-23 08:15] isidentical commented on #1276
Can you provide a docker image which would help us reproduce this? All our tests pass on both locally and in the CI (ubuntu). I don't see anything clear on the logs.

[2022-01-23 08:42] daurnimator commented on #1276
`docker run -it archlinux:base-devel`

[code]

[2022-01-23 08:56] isidentical commented on #1276
@daurnimator seems like the problem is `pip` is not being installed, which is an implicit dependency of `httpie` (we assume python installations come with `pip`, which I now notice might not be available on some distributions). Also be aware that these tests require network connection, which if it would be any help, I can mark as `@pytest.mark.network`.

[2022-01-23 13:25] daurnimator commented on #1276
Is that a new requirement as of 3.0.0? And even so, it seems that it is only an optional requirement?

[2022-01-23 13:26] isidentical commented on #1276
Yep.

No, it is always required.

[2022-01-23 13:37] daurnimator commented on #1276
hmm. even with pip installed (add `python-pip` to the depends array in the PKGBUILD) I get the same failure.

[2022-01-23 13:39] isidentical commented on #1276
Are you sure the test environment has internet connection?

[2022-01-23 13:45] daurnimator commented on #1276
yes.

[2022-01-23 14:02] isidentical commented on #1276
Seems like `check` function does not install httpie, if I modify the pkg build like this it works perfectly:
[code]

[2022-01-23 14:09] daurnimator commented on #1276
So your tests only work if the package is installed? That's not usually how python packages work.
For an arch PKGBUILD, `check()` is done *before* installing anything (but after running `build()`)

[2022-01-23 14:34] isidentical commented on #1276
The testing plugins in the `test_plugins_cli` depends on the `httpie` package being installed. That is correct.

This feature specifically tests the plugin installation, and since each plugin depends on the `httpie` being available on the current python environment where pip is installed, `httpie` has to be installed before running these tests.

I have not yet seen this to be causing an error on o

[2022-01-23 23:13] jakubroztocil commented on #243
🎉 This feature is now publicly available in [HTTPie for Terminal 3.0](https://httpie.io/blog/httpie-3.0.0):

👉 https://httpie.io/docs/cli/response-meta

[2022-01-24 12:09] isidentical commented on #78
🎉 This feature is now publicly available in [HTTPie for Terminal 3.0](https://httpie.io/blog/httpie-3.0.0):

👉🏻  https://httpie.io/docs/cli/nested-json

[2022-01-24 12:10] isidentical commented on #346
🎉 This feature is now publicly available in [HTTPie for Terminal 3.0](https://httpie.io/blog/httpie-3.0.0):

👉🏻  https://httpie.io/docs/cli/nested-json

[2022-01-24 12:13] isidentical commented on #566
🎉 This feature is now publicly available in [HTTPie for Terminal 3.0](https://httpie.io/blog/httpie-3.0.0):

👉🏻  https://httpie.io/docs/cli/plugin-manager

[2022-01-24 12:14] isidentical commented on #958
🎉 This feature is now publicly available in [HTTPie for Terminal 3.0](https://httpie.io/blog/httpie-3.0.0):

👉 https://httpie.io/docs/cli/response-meta

[2022-01-24 13:15] daurnimator commented on #1276
I think that would help.

[2022-01-25 08:42] isidentical commented on #1276
We have added `requires_installation` marker, so if you could change the `pytest` call to `pytest -m "not requires_installation"`, it should work. Let me know if there are any problems you observe. Thanks again for the report!

[2022-01-27 03:03] jcayzac commented on #692
It's 2022 now, HTTP/3 is an industry standard…

[2022-01-27 10:17] isidentical commented on #1196
Closing as resolved, with [HTTPie for Web & Desktop](https://httpie.io/app).

[2022-01-27 10:17] #1196 closed

[2022-01-27 10:30] jakubroztocil commented on #1196
By the way, you’ll soon be able to work with your HTTPie data from the CLI as well.

[2022-01-28 17:16] ptrcnull opened #1284 "Uninstalling plugins doesn't resolve egg-info files correctly on Alpine"
## Checklist

- [X] I've searched for similar issues.
- [X] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. Run plugins CLI tests on Alpine 3.15 with `PYTHONPATH="$PWD" python3 -m pytest -vv ./httpie ./tests/test_plugins_cli.py`

## Current result

Uninstalling a plugin removes only the main `.py` file.

## Expected result

Uninstalling a plugin removes all

[2022-01-28 19:25] ptrcnull commented on #1284
Looks like this happens without the `wheel` package installed and is not exclusive to Alpine; it's mentioned in setup.py as a dev dependency though, so I'll close this issue.

[2022-01-28 19:25] #1284 closed

[2022-01-29 17:41] ducaale opened #1285 "Escaping backslashes in nested json keys"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

Run ` http httpbin.org/post 'foo[\\8]=bar' --offline`

## Current result

[code]

## Expected result

Double a backslash anywhere should turn it into a literal backslash.

[code]

---

## Debug output

Please re-run the command with `--debug`, then copy

[2022-01-30 12:01] ducaale opened #1286 "HTTPie doesn't apply type checking to the top-level lists"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

[code]

## Current result

[code]

## Expected result

[code]

---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[code]

## Additional information, screenshots, or code examples

[2022-01-30 12:35] nilushancosta commented on #1276
@isidentical , I am experiencing the same issue in Alpine APKBUILD. Skipping tests requiring the `requires_installation` marker resolved the issue for most of the tests. However `tests/test_uploads.py::test_stdin_read_warning` is still failing.
The same marker has to be added to this test also, right? I could send a PR with the fix once you confirm

[2022-01-30 12:36] isidentical commented on #1276
Yes, please do so 🙏🏻

[2022-01-31 18:39] isidentical commented on #1286
I don't think we have documented the top-level list functionality, so we probably need to discuss it from a few aspects.

Current implementation ensures these conditions and then if all checks out, it promotes the the value to a standalone object:
- Is the resulted object has only one key?
- Is the only present key an empty string?
- Is the value for that key is a list?

[code]

Other objects, eve

[2022-01-31 20:33] ducaale commented on #1286
Thanks for explaining the current implementation.

I think @jakubroztocil mentioned in the [same thread](https://discord.com/channels/725351238698270761/801485021016752208/930052488768393216) that it would still be possible to create empty top-level keys if the `[string]` syntax was banned:

[2022-02-01 09:33] isidentical commented on #1286
Ah, I have missed that. If we have a way like that, we can safely embed nested data directly `http --offline pie.dev/post ':={"foo": "bar"}'`. I think in the light of this, we can implement something similiar to your suggestion. @jakubroztocil WDYT?

[code]

[2022-02-01 10:10] #1285 closed

[2022-02-02 15:14] binbjz opened #1290 "httpie could not request multiple url"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---
## I have several questions
1. httpie could not request for multiple url
2. Whether httpie supports HTTP/2 or HTTP/3
3. Why can the output response headers use so many options (--hea, --head, --header, --headers)

---
## Minimal reproduction code and steps

1. https www.python.org --header
HTTP

[2022-02-03 11:21] isidentical commented on #1290
Hey @binbjz, unlike `cURL` we do not support sending multiple requests to multiple urls in the same run. You would have to run `http` command twice with different inputs.

[2022-02-03 11:21] #1290 closed

[2022-02-11 23:05] #1286 closed

[2022-02-14 23:31] mkmoisen opened #1298 "Slow startup on Windows"
The HTTPie client for me on Windows is pretty slow. It takes about 2-3 seconds before the request is launched.

Does anyone know what the reason is?

Could this be optimized?

[2022-02-15 01:16] igoracmelo opened #1299 "--offline not being recognized"
## Checklist

- [X] I've searched for similar issues.
- [X] I'm using the latest version of HTTPie.

---

OS: Ubuntu 20.04 LTS

## Minimal reproduction code and steps

1. `pip3 install httpie`
2. `http google.com --offline`

## Current result
`http: error: unrecognized arguments: --offline`

…

## Expected result
![image](https://user-images.githubusercontent.com/85039990/153973773-1d988f09-a677-4

[2022-02-15 21:23] isidentical commented on #1299
Hey @igoracmelo! The HTTPie command accepts our request data syntax after the URL. That is the reason you can't pass it. The correct way should be:
[code]

[2022-02-15 21:23] #1299 closed

[2022-02-15 21:25] isidentical commented on #1298
Hey @mkmoisen, I am not sure about windows but locally it takes around 150 ms (0.15 seconds) to fire up a new offline request. Plus the time spent on networking, it roughly adds up to 300 ms. Would you mind benchmarking `http --offline pie.dev/get` to get realiable results?

I'll also try to benchmark it on windows (though since Ill be use a virtual machine to do that, it might not be really relia

[2022-02-15 21:58] mkmoisen commented on #1298
Hi @isidentical,

Running `http --offline pie.dev/get` results in the same 2-3 second wait before I see results on my screen. If I use curl (From the Windows linux subsystem) it feels pretty much instant.

It seems to me that the http client simply takes 2-3 seconds to load up, before it actually launches a request. I think the request itself is fast. For example in my case, I am using httpie to h

[2022-02-19 00:11] EarthCitizen opened #1300 "Unable to See Status Code in Output"
## Checklist

- [ X] I've searched for similar issues.
- [ X] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. Run local web service that returns 401 for endpoint :8080/get-values
2. Run HTTPie against endpoint

## Current result

**Curl output:**
[code]
**HTTPie output:**
[code]

## Expected result

Expecting to see `HTTP/1.1  401` instead of just `HTTP/1.1

[2022-02-20 01:34] yanakey commented on #828
Upgraded python and httpie to the latest versions today and got this issue.
I've just added `alias http='winpty http'` to my `~/.bashrc` and it works again.
Thanks!

[2022-02-22 07:14] isidentical commented on #1300
Hey @EarthCitizen! I can't seem to reproduce your problem locally with `pie.dev/status/401`:
[code]

If it is possible, would you mind sharing the underlying server code that returns this response? This was, we could have a reliable reproducer to test and hopefully fix this issue.

[2022-02-22 07:20] isidentical commented on #1298
With the latest HTTPie from the choco, I can achieve a `0.4` seconds runtime per request on a virtual machine with Windows 11:
![image](https://user-images.githubusercontent.com/47358913/155082026-98611051-e2bb-4fa2-9954-dcf29aa7bdab.png)

Would you mind sharing your system configuration @mkmoisen (the full OS version, python version if applicable, HTTPie version)?

[2022-02-22 18:05] victorioxd commented on #83
HTTPie is awesome! ❤️

[2022-02-22 20:08] mkmoisen commented on #1298
Here is httpie, about 1.5 seconds:

![image](https://user-images.githubusercontent.com/2534631/155209587-c9af12fd-e05f-4303-bad6-7a533f991399.png)

Here is using curl, about 0.5 seconds:

![image](https://user-images.githubusercontent.com/2534631/155210332-018050bb-0cd6-4251-981e-15764a4d7922.png)

Would you be able to try using curl or some other non-http app?

I am using httpie 2.6.0 from Python

[2022-02-22 20:37] isidentical commented on #1298
Would you mind upgrading to 3.0 and test it again?

[2022-02-22 21:16] mkmoisen commented on #1298
When I do `pip install httpie --upgrade` it says:

How do I upgrade to 3.0?

[2022-02-22 21:45] isidentical commented on #1298
@mkmoisen We've dropped support for python 3.6<, so I'd recommend you to install Python 3.10 and then try `pip install --upgrade --force httpie`.

[2022-02-22 22:14] EarthCitizen commented on #1300
@isidentical

I did some additional testing. Spring Boot does not send a reason phrase on the status line of the response:

Spring Boot raw status line:
[code]
Which in HTTPie results in:
[code]

When I do a similar test with Python http.server, HTTPie does show the status code:

Python http.server raw status line:
[code]

Python http.server:
[code]

[2022-02-22 22:30] EarthCitizen commented on #1300
For an example Spring Boot project:

https://start.spring.io/#!type=gradle-project&language=java&platformVersion=2.6.3&packaging=jar&jvmVersion=11&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.demo&dependencies=web

Click "Generate" on that page, which will download a zip. In that project folder, run:

[code]

[2022-02-22 22:42] mkmoisen commented on #1298
@isidentical I have a Python 3.9.5. After installing httpie on 3.9.5, It now takes between 0.6 and 0.8 seconds. Thank you!

Do you men you dropped support for <3.7? The python version I originally installed httpie was 3.6.5.

[2022-02-22 22:48] jakubroztocil commented on #1300
@isidentical I think this was introduced with the addition of the Pie theme. Please see #811.

[2022-02-23 08:19] isidentical commented on #1298
Yes, sorry for the confusion.

Glad that upgrading worked for you! Please let us know if you experience any other issue.

[2022-02-23 08:29] #1298 closed

[2022-02-23 09:08] isidentical commented on #1300
@EarthCitizen thanks a lot for sharing the root cause. From that, I was able to make a reproducer via Python's `http.server` to be used in tests. @jakubroztocil you are right! The handling of HTTP status line in our own lexer (the one that we use for custom themes, e.g anything beside `auto`) changed when we introduced the custom highlighter.

[2022-02-23 15:03] pogopaule commented on #946
Having the same problem. If I provide a password protected PEM file under `--cert-key` I get `...'Client private key is encrypted, password is required')...`

[2022-02-23 15:43] isidentical commented on #946
@pogopaule would you mind sending the full output with `--debug`?

[2022-02-24 08:14] ducaale commented on #428
What if the `--help` flag displayed a compact help while a `help` subcommand is was used for more complete documentation?

[code]
[code]

[2022-02-24 08:15] isidentical commented on #428
@ducaale that is the plan. Here is a sneek peek of the planned `--help` (and we'll add a `--manual` for the full help):
![image](https://user-images.githubusercontent.com/47358913/155484896-c8d2ea4f-babd-4710-bbd6-641327369c9e.png)

[2022-02-24 08:25] ducaale commented on #428
Besides the `--manual` flag, are there any plans to support `http help`, or is that not possible because of the current `argparse` setup?

[2022-02-24 08:27] isidentical commented on #428
We could support it, but honestly I find a bit confusing (currently `http help` means `http ://help`). Perhaps we might add a `httpie cli help` someday (cc: @jakubroztocil).

[2022-02-24 08:48] pogopaule commented on #946
@isidentical
[code]

[2022-02-24 08:50] isidentical commented on #946
This seems like a very old version, would you mind [upgrading](https://httpie.io/docs/cli/installation) to 3.0+?

[2022-02-24 10:33] pogopaule commented on #946
Ah damn always forget that Debian packages lag behind quite a bit...But it is the same with 3.0.2

[code]

[2022-02-24 10:42] isidentical commented on #946
Thanks for the full report, we'll look into it @pogopaule

[2022-02-28 01:33] stasiaks opened #1305 "Documentation suggests running potentially harmful operation on Arch-based distros"
Installation documentation for [Arch Linux](https://httpie.io/docs/cli/arch-linux) tells you to run

in order to install httpie. I understand that it was possibly done so that newbie doesn't end up with bunch of 404s thanks to new versions being released since their last upgrade. But doing so will perform a **partial upgrade**, which is not only unsupported but heavily discouraged (especially sinc

[2022-02-28 08:43] barny commented on #662
I've put in a PR to fix just the problem with cookie domain not being stored in session file - hoping to publish an authentication plugin for a specific server type of authentication which needs auth stored in cookies to work acrosss sessions, so hoping to get this PR accepted. Without the fix I get endless auth loops when resuming a session where the authentication is expired.

[2022-02-28 08:51] isidentical commented on #1305
Hey @stasiaks, thanks for opening up this issue! I agree in your judgement (and thanks for sharing the official documentation to corroborate that). Would you like to submit a patch to fix this? A simple fix would be

- Updating the arch section in [`methods.yaml`](https://github.com/httpie/httpie/blob/master/docs/installation/methods.yml)
- Running `python generate.py` in `docs/installation` to up

[2022-02-28 08:53] isidentical commented on #662
Thanks for the PR @barny! Unfortunately we can't accept it as of this moment, since this issue has multiple points that we'd like to fix (most importantly change how cookies are represented in the session files) to take our sessions to a next level. We are actively working on it, and hopefully it will be part of the upcomiing release.

[2022-02-28 10:18] stasiaks commented on #1305
Hi, I'd be glad to, I've created PR for this (#1306)

[2022-03-01 10:54] Oliver-Fish opened #1308 "Invaliding Secure Cookie handling with localhost"
## Checklist

- [X] I've searched for similar issues.
- [X] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps
Given the following tiny Go HTTP server
[code]
If you set the cookie to a session with the following command
[code]
I would expect to be able to get the cookie value by the next running
[code]

However, the cookie is unset in the second request if the Sec

[2022-03-01 11:25] isidentical commented on #1308
Thanks for the report @Oliver-Fish, we are looking into it.

[2022-03-01 17:14] #1305 closed

[2022-03-01 17:48] ansman opened #1310 "Content-Length sent for OPTIONS requests"
## Checklist

- [X] I've searched for similar issues.
- [X] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. `$ http OPTIONS https://example.com -v`

## Current result
[code]

## Expected result
[code]
---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[code]

## Additional information

[2022-03-01 18:46] isidentical commented on #1310
Thanks for the report @ansman, this seems like an issue in the underlying library we use (requests):
https://github.com/psf/requests/blob/79f60274f7e461b8fd2f579e741f748438d7eadb/requests/models.py#L545-L548

I'll send a temporary fix for HTTPie, and a more permanent fix for the the `requests` library.

[2022-03-01 20:01] isidentical commented on #1310
Even though [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/OPTIONS#syntax) agrees this by stating

[code]

[RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231) claims:

[code]

which implies that `OPTIONS` can have payload unlike `GET` and `HEAD` whose payload is strictly discouraged:

[code]

[code]

I am not sure whether we should omit the `Content-Length` on our side or no

[2022-03-03 16:28] #1300 closed

[2022-03-07 12:40] #1271 closed

[2022-03-07 13:09] #946 closed

[2022-03-08 23:27] adamtaylor13 commented on #662
@isidentical Is there any chance that can merge in the meantime while a larger overhaul is being performed? I just realized all my issues with using httpie for an auth-flow that I'm working on are stymied by this issue with domains. It took a bit of digging, but when I plugged @barny's solution into the sessions.py file, it worked like magic.

... I guess I can just run with this local custom patc

[2022-03-09 10:01] isidentical commented on #662
Hey @adamtaylor13! We've just released 3.1.0 with the new sessions layout, please give it a try (we still haven't made the official annonucement yet, but the package is already on `PyPI`/`Snap`/`Brew`) if you can!

[2022-03-09 13:11] adamtaylor13 commented on #662
@isidentical Oh... Fantastic! Yeah, I just upgraded to `3.1.0` and that seemed to do the trick! Big thanks! 🎉

[2022-03-09 14:24] isidentical commented on #662
Glad you liked it! @adamtaylor13

[2022-03-14 06:40] zhaohanqing95 opened #1323 "How to print part of the body"
I post a URL and get body like this.
I just want to print the value of "token"
How can I do that?

<img width="709" alt="제목 없는 그림" src="https://user-images.githubusercontent.com/43262277/158118069-187f0c8b-ae85-4915-97f7-fae9ed096222.png">

[2022-03-15 06:52] zhaohanqing95 commented on #1323
thanks!!!

[2022-03-16 09:19] tidzerda commented on #576
I think we all know that we should not be using self signed SSL certs, but sometimes, in a dev environment, you just want to get on with it.
It should be possible to use these certificates, if they are sgned by a CA, that is entered into your OS trust store? (even if the CA is yourself). Most browsers are ok with this.
Not trusting a Self signed certs is a pain, esp if you are running on your own

[2022-03-19 19:02] ducaale opened #1331 "Sessions doesn't support multiple headers sharing the same name"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

Run `http --offline : hello:world hello:people --session test`

## Current result
The header `hello: world` is not saved in the session file

[code]

## Expected result
Both `hello: world` and `hello: people` should be saved in the session file

---

##

[2022-03-23 00:30] hemulin opened #1334 "Issue with debian based system after upgrading python to 3.10"
## Setup

- Running Lubuntu 20.04
- httpie from apt (v1.0.3-2)
- Recently upgraded Python to 3.10

## Issue
When running in terminal, invocation leads to exception and termination:
[code]

## Cause

The `Iterable` object changed location in 3.10 from the root of the module into `collections.abc`

## Confirming

Changing line 12 in `input.py` (in _/usr/lib/python3/dist-packages/httpie/input.py_) th

[2022-03-23 08:16] isidentical commented on #1334
Hey @hemulin, the code you mention is not present on the recent releases. Unfortunately our debian package is stuck at a very old version, which we currently are trying to upgrade. In the meanwhile, would you mind giving a shot at installing from [Snap](https://httpie.io/docs/cli/snapcraft-linux) or [Pip](https://httpie.io/docs/cli/pypi)?

[2022-03-24 14:13] isidentical commented on #1263
Thanks for the report @blyxxyz, but we have concluded that this might not be very intuitive (adding a different behavior when a default option is specified explicitly). I think the easiest route is just sending it with `--raw`, e.g `http --offline pie.dev/get --raw="{}"`.

[2022-03-24 14:13] #1263 closed

[2022-03-24 20:18] Abdallah-Zidan commented on #83
HTTPie is awesome! :heart:

[2022-03-25 11:13] blyxxyz commented on #1263
#137 already decided opposite by making explicit `--json` add a `Content-Type` header, so then maybe that should be reverted instead? Right now it's inconsistent.

[2022-03-30 10:54] robertolopezlopez opened #1337 "adding HTTPie group and argument from httpie-edgegrid"
Hi,

I am working on the plugin httpie-edgegrid to add a `--config` parameter to httpie. Thus the user would be able to pass the location of the credentials file ([original request here](https://github.com/akamai/httpie-edgegrid/issues/19)).

Thus I have added the following code:

[code]

But when I am issuing a simple httpie command, the parameter does not get recognized:

[code]

Httpie-edgegrid

[2022-03-30 11:35] isidentical commented on #1337
Hey @robertolopezlopez! We load the argparse parser before we load the plugins, so it is not really possible to create a new one and replace it. But I think for your use case, you should be able to simply add the new group to the existing parser:
[code]

[2022-03-30 12:59] robertolopezlopez commented on #1337
Wow @isidentical , I would not have come up with such idea easily. Kudos for you 👍

Now it works locally. Hopefully we will release the new version soon - with this and other changes.

Regards,

Roberto

[2022-03-30 15:06] belliveausco opened #1338 "can't install chocolatey issues with python error code 1603"
Failures
 - python3 (exited 1603) - Error while running 'C:\ProgramData\chocolatey\lib\python3\tools\chocolateyInstall.ps1'.
 See log for details.
Attempting to install but having this issue, have been trying to find resources for this error but no luck. Anyone familiar with this error and what to do?

[2022-03-30 15:21] robertolopezlopez commented on #1337
last question: how can I get access to this parameter from `AuthPlugin.get_auth()`?

[2022-03-31 10:45] isidentical commented on #1337
Unfortunately we do not officially support adding new arguments through the plugins API (though we might in the future), so there isn't really a way to do so. The only 'hack' I can think of for the time being is using the `edgerc` action you have posted here. Possibly something like this:

[code]

Where the `EdgeGridSetterAction` will receive that specific value, and set it as a global constant (`

[2022-03-31 10:54] isidentical commented on #1338
Hey @belliveausco, thanks for the report! I've just tried installling HTTPie 3.1.0 on a new windows 11 environment from chocolatey and it seem to be working fine. Would you mind sharing the mentioned `log file` for us, and a bit about your environment (OS version etc.)?

[2022-03-31 15:23] robertolopezlopez commented on #1337
Hi @isidentical ,

That's what I would call a great pythonic display :-)

It kind of works. The only problem I can see is that `argparse._StoreAction` is an internal class, so importing from `httpie-edgegrid` is not an easy task. What I have done is copying its `__init__()` implementation to my `EdgeGridSetterAction`, and then make it extend `argparse.Action` directly.

This bypass seems to be wor

[2022-04-03 13:02] #1310 closed

[2022-04-03 13:48] #1331 closed

[2022-04-08 12:12] chok commented on #675
In my opinion, it is just a shortcut to a very common use case. In this way, you can also create a function in your bash_profile for basic auth, etc...

[2022-04-09 02:17] 89z opened #1348 "Multiple connections"
Is this possible? Similar to `aria2c -x2`

[2022-04-09 19:56] isidentical commented on #1348
Can you describe your use case a bit more?

[2022-04-09 20:02] 89z commented on #1348
The server I am connecting to throttles the connection, but it doesnt seem to limit the number of connections (up to at least 16). So if I can have 16 or more connections, then I can maximize the download speed.

Note I am not trying to abuse, I am just trying to get normal speed, as the single connection speed is only 50 kB/s

[2022-04-10 20:13] isidentical opened #1349 "Stdin warning makes programs stuck"
Context: https://discord.com/channels/725351238698270761/799982808122523648/962805007248392192

[2022-04-12 17:16] SteveALee opened #1351 "https not installed"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. WSL on windows 11 (Ubuntu 20.04)
2. sudo apt install httpie
3. 3 httpie.io/hello (as per example)

## Current result

[code]

## Expected result

works

---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & out

[2022-04-12 17:18] isidentical commented on #1351
Unfortunately the current version in the APT is pretty old. We are currently working on the debian packages, but in the meanwhile I can offer our experimental packages:

[code]

We'll update the official instructions before the next release.

[2022-04-12 17:24] SteveALee commented on #1351
Thank you for the fast response.

It's interesting that that single example uses https, and before it is mentioned.

[2022-04-14 14:42] #1308 closed

[2022-04-14 15:00] #1349 closed

[2022-04-15 14:48] NachoSoto commented on #1349
`httpie` has stopped working for me, even after this fix (I installed it with `brew install --HEAD httpie`).

Example request:
[code]

[2022-04-15 15:07] isidentical commented on #1349
Hey @NachoSoto thanks for the report! I can't seem to reproduce your issue (on a fresh environment). When did you start experiencing these problems? (it seems like your issue is irrelevant from this by the way, as this issue was for POST/PUT etc. that was originating from stdin).

[2022-04-16 03:15] fantismo opened #1358 "Website isn’t sending invite emails"
Singing up for beta at https://httpie.io/beta doesn’t send confirmation email. Tried twice. Other emails are delivered without issue.

[2022-04-17 02:06] fantismo commented on #1358
Mail host migrated to a different backend. This was the source of the issue. Apologies.

[2022-04-17 02:06] #1358 closed

[2022-04-17 10:41] vtronko commented on #758
I guess, it's off the roadmap since Desktop app has more priority?

[2022-04-17 13:21] MrBrain295 commented on #83
This was sent with HTTPie :heart:

[2022-04-17 13:25] rasnesakam opened #1360 "I can translate md file to Turkish"
## Checklist

- [x] I've translated README.md file to turkish.

---

## Turkish version of README.md

---

## Problem it solves

Localization helps to reach more users to use, contribute, support etc

[2022-04-18 03:31] kalsolio opened #1362 "star history~"
If you have a general question, please consider asking on Discord: https://httpie.io/chat
## Star History

[![Star History Chart](https://api.star-history.com/svg?repos=httpie/httpie&type=Date)](https://star-history.com/#httpie/httpie&Date)

[2022-04-18 08:38] isidentical commented on #1362
Thanks for posting this, more details here https://httpie.io/blog/stardust

[2022-04-18 08:38] #1362 closed

[2022-04-18 16:02] tombulled opened #1363 "Incorrect URL in GitHub social image"
There appears to be a typo in the social image for this repository. The image demonstrates the following PUT request:

[code]

The domain appears to be incorrect, and should most likely be `httpbin.org` instead.

As a side note, `httbin.org` appears to potentially be a malicious domain.

[2022-04-18 16:05] isidentical commented on #1363
Thanks for the report, we'll be loking into it.

[2022-04-18 16:13] tombulled commented on #1363
For reference, here's a link to the image in question: https://repository-images.githubusercontent.com/3544424/74c34800-8341-11eb-93d0-8b01bccfd334

[2022-04-20 08:08] anthillofoppies44 commented on #1348
Open ports?? With varying, well I don't know?

[2022-04-20 10:44] isidentical commented on #1360
Thanks! We'll discuss this idea internally (whether we want to support localized readme's or not) and reply back to you.

[2022-04-20 20:54] NachoSoto commented on #1349
Sorry you're right! This was an unrelated issue caused by a local proxy.

[2022-04-20 21:02] isidentical commented on #1349
For future reference, you might want to specify `--timeout=30` (or something like that) in your `~/.config/httpie/config.json` so that it won't make you want indefinietely and let you know about the potential issue.

[2022-04-21 21:02] namastiy commented on #1363
- .github/workflows/code-style.yml

[2022-04-23 09:53] repdox-cyfso6-wonzAb opened #1366 "Uuuu"

[2022-04-23 09:54] #1366 closed

[2022-04-25 07:30] vrlo commented on #83
Mmmm, HTTPie... :pie: :heart:

[2022-04-26 16:21] shoyip opened #1367 "Feature request: scroll persistence between tabs"
## Checklist

- [x] I've searched for similar feature requests.

---

## Enhancement request

I would like Httpie to have persistance of scroll position while switching between tabs.

---

## Problem it solves

This feature will enable the user to visually compare bits of response previews or requests between different tabs.

---

## Additional information, screenshots, or code examples

[2022-04-26 16:22] shoyip opened #1368 "Feature request: find feature"
## Checklist

- [x] I've searched for similar feature requests.

---

## Enhancement request

A search bar that enables find and replace functionalities across the preview text box.

---

## Problem it solves

Enables the users to look through the response, especially if it is particularly nested or long.

---

## Additional information, screenshots, or code examples

…

[2022-04-26 17:19] vergenzt commented on #838
FYI, I've worked around this for local scripting use by defining a function (in Fish, as that's the shell I use). I'm still working out the kinks, but here's the basic structure:

[code]

[2022-04-26 17:25] vergenzt commented on #838
Hmm, I just realized as I was posting https://github.com/httpie/httpie/issues/838#issuecomment-1110055759 that this _doesn't_ work when an http verb (get, post, put, etc.) is explicitly passed as the first argument, as this function statically prepends `$flag_base_url` to the _first_ non-option argument.

I think what I'll likely do statically check if `$rest[1]` is in the list of expected http ve

[2022-04-26 17:32] jakubroztocil commented on #1367
Thanks, @shoyip — we’ll look into it (also remembering the cursor position).

[2022-04-26 17:39] jakubroztocil commented on #1367
Btw, this is the HTTPie for Terminal repo. For Desktop, please report issues here: https://github.com/httpie/desktop

(I’m closing this, but we will still ping you when the feature has been implemented. Feel free to cross-post it there.)

[2022-04-26 17:39] #1367 closed

[2022-04-26 17:39] jakubroztocil commented on #1368
Btw, this is the HTTPie for Terminal repo. For Desktop, please report issues here: https://github.com/httpie/desktop

(I’m closing this, but we will still ping you when the feature has been implemented. Feel free to cross-post it there.)

[2022-04-27 02:19] repdox-cyfso6-wonzAb opened #1369 "K"

[2022-04-27 02:19] repdox-cyfso6-wonzAb commented on #1369
G

[2022-04-27 02:19] #1369 closed

[2022-04-27 02:22] repdox-cyfso6-wonzAb opened #1370 "U"

[2022-04-27 02:26] repdox-cyfso6-wonzAb opened #1371 "H"

[2022-04-27 02:35] repdox-cyfso6-wonzAb opened #1372 "H"

[2022-04-27 02:35] #1372 closed

[2022-04-28 09:19] #1371 closed

[2022-04-28 09:19] #1370 closed

[2022-04-30 16:15] tajbojc commented on #699
@isidentical it seems that this has been already solved:

**https://github.com/httpie/httpie/blob/master/httpie/output/ui/rich_progress.py#L48-L51**

Should this still be open?

[2022-04-30 17:03] isidentical commented on #699
That is correct, thanks for noticing (my changes were isolated, and I didnt thought of this issue but it is nice that it also got solved through)

[2022-04-30 17:03] #699 closed

[2022-05-01 12:27] rasnesakam commented on #1360
Im not quite sure but when i look at to projects with different README files, their file name is in format `README.la-CO.md`
which is `la` stands for **language code**. My is `tr` and `CO` is **country** and mine is `TR`. So, i planned to create file name `README.tr-TR.md` and translate contents into new file

[2022-05-05 16:22] tx0c commented on #692
the [httpie/httpie-http2](https://github.com/httpie/httpie-http2) plugin is just broken, does not work at all for anything, have to uninstall:

[code]

[2022-05-06 06:38] nico-arianto opened #1388 "No such file or directory: '~/.config/httpie/version_info.json'"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. do use `http` command, e.g. `http GET http://localhost:8004/consumers/test`

## Current result

[code]

## Expected result

[code]
(without the `FileNotFoundError`)

---

## Debug output

Please re-run the command with `--debug`, then copy the entire

[2022-05-06 07:06] #1388 closed

[2022-05-06 07:13] isidentical commented on #1388
Thanks for the report @nico-arianto, I've just release `3.2.1` with it. You can upgrade, and hopefully this would be resolved.

[2022-05-06 07:15] nico-arianto commented on #1388
@isidentical 👍🏼 Thanks for the quick fix, will try again after the `3.2.1` is available in the `homebrew`

[2022-05-06 12:12] omarSuarezRodriguez commented on #83
HTTPie es una chimba parceroo

[2022-05-07 00:43] nico-arianto commented on #1388
Fyi, tested and verified it fixed now.

[2022-05-08 17:57] coderj001 opened #1395 "Y"
If you have a general question, please consider asking on Discord: https://httpie.io/chat

[2022-05-08 17:57] #1395 closed

[2022-05-08 18:47] loupipalien commented on #83
HTTPie is awesome! :heart:

[2022-05-09 03:49] janbrasna commented on #1363
@isidentical yo there's the same "GH social image" just hotfixed with a correct url: (and pngoptimized to ~50% size along the way…)

![httpiedev](https://user-images.githubusercontent.com/1784648/167337061-8df20a5b-43d2-4e79-abb3-03fef44a8dc0.png)

https://user-images.githubusercontent.com/1784648/167337061-8df20a5b-43d2-4e79-abb3-03fef44a8dc0.png

(just ready to copypaste to repo settings…) /cc @

[2022-05-10 19:23] janbrasna opened #1400 "Deprecate PROTOCOL_SSLv23"
## Enhancement request

Move away from `PROTOCOL_SSLv23` as it now defaults to `PROTOCOL_TLS` … and we should (probably?) use `PROTOCOL_TLS_CLIENT` explicitly.

---

## Problem it solves

Deprecated since 3.6, might be needed for going ahead with features like #722 where a range of `SSLContext.*` is needed etc.

---

## Additional information, screenshots, or code examples

The backstory is I was

[2022-05-10 19:24] janbrasna commented on #962
So there's more to address than actually phasing out this version param itself (as seen in #724 where a need for pinpointing only a part of the range arose), yet at the same time I believe that unless you specify any of the legacy protocols, they won't be downgraded to from default TLS connection. Or not at least with the new `PROTOCOL_TLS*` as should be the solution going forwards #1400

The othe

[2022-05-10 19:33] janbrasna commented on #1400
What this might impact is things like `verify`:

https://github.com/httpie/httpie/blob/9241a093605cf6afbd6a52b42db4c946badea420/httpie/ssl_.py#L70-L82

as this comes with `*_CLIENT` constant etc.

[2022-05-10 20:01] janbrasna commented on #722
@sethmlarson I actually think (and might have verified that in the past) that the current implementation works by running the constants in creating custom context through [create_urllib3_context()](https://github.com/urllib3/urllib3/blob/main/src/urllib3/util/ssl_.py#L277) that changes `ssl.PROTOCOL_*` to `TLSVersion.*` in background so that might be the reason `PROTOCOL_TLSv1_3` does actually sil

[2022-05-10 20:39] janbrasna commented on #1360
The thing is… it creates the unrealistic idea that the project is then able to provide support, respond to issues or provide documentation in that language, or engage with users in other channels using their native tongue (which is not the case here).

Yet the first thing to do after installation is to interact with the cli and its help/man params or documentation site that's all solely in english

[2022-05-16 03:55] jackdeguest opened #1401 "Bad filename when having non ASCII characters"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. save a dummy image as `天狗.png`
2. issue a multipart/form-data, such as: `https --offline --multipart https://example.org name='John Doe' file_field@/home/john/天狗.png` > /tmp/httpie_result.txt

## Current result
The `Content-Disposition` header generat

[2022-05-16 07:35] tx0c opened #1402 "can httpie support JSON5 (JSON for Humans) input?"
## Checklist

- [x] I've searched for similar feature requests.

---

## Enhancement request

trying to call httpie with post body including raw valid js objects,

    http <url> metrics:='[{name: "activeUsers"}]'

got error:

    'metrics:=[{name: "activeUsers"}]': Expecting property name enclosed in double quotes: line 1 column 3 (char 2)

as expected;

but always expected tools like `httpie` co

[2022-05-16 07:52] isidentical commented on #1402
Hey @tx0c, thanks for the suggestion! This needs a bit more work than just adding another check, since we want to be backwards compatible and warn our users in case of they are sending wrong JSON objects (even though those might be valid in JSON5). We need some product design first, in order to asses how we want to proceed (e.g a new `--json5` flag, accompaniying the existing `--json`).

[2022-05-16 07:54] isidentical commented on #1401
Thanks @jackdeguest, we will be looking for this one!

[2022-05-17 11:06] hroncok opened #1404 "Inconsistent BUILD_CHANNEL value"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

Hey, sorry for deleting your template, but this is a request from your Fedora packager and not the user.

I've figured out that httpie 3.2.0+ now includes an update notification https://httpie.io/blog/httpie-3.2.0#update-warnings

It points the users to https://httpie.io/docs/cli/pypi -- so I

[2022-05-17 11:14] isidentical commented on #1404
Thanks a lot for deep diving into the use case!

@hroncok In the generic sense, I think we need to separate the `installation_method` from `BUILD_CHANNEL` for fedora. What I mean by that is, all of the possible combinations should work:
[code]

[code]

[code]

If we handle that, we can add more channels to the https://packages.httpie.io/latest.json (which is a very simple mirror from [repology](ht

[2022-05-17 11:20] hroncok commented on #1404
To construct the data, I'd use something like:

[code]

[2022-05-17 11:26] isidentical commented on #1404
[This is the part](https://gist.github.com/isidentical/4504588f2a79484e0e2952b547ebf25d#L56) where we collect data from multiple providers (GH API, Repology), we can extend it with your script as well if need to be.

[2022-05-17 11:42] hroncok commented on #1404
This is a proof of concept of what I'd need:

[code]

[2022-05-20 12:38] lunarxlark commented on #83
HTTPie is awesome! :heart:

[2022-05-21 06:28] ifzm commented on #1338
[code]

[2022-05-23 01:57] chunyang-wen opened #1406 "Solarized dark theme in iTerm2, not printing correctly"
## Checklist

- [+] I've searched for similar issues.
- [+] I'm using the latest version of HTTPie.

A similar issue: https://github.com/httpie/httpie/issues/322
---

## Minimal reproduction code and steps

<img width="433" alt="image" src="https://user-images.githubusercontent.com/2911134/169728369-0c5353cc-1e83-49c0-befc-8c2ec91b9909.png">

<img width="319" alt="image" src="https://user-images.g

[2022-05-26 19:10] devsdmf commented on #758
Do we have any expectations to prioritize this feature in the following weeks/months? I can help with the code if no one already started to work on that. Can I get a green light?

[2022-05-26 22:16] adriens commented on #758
:heavy_plus_sign: :one: for this feature request :heavy_heart_exclamation:

[2022-05-27 12:47] HannahSlaughter88 opened #1407 "CreateDirectDeposits!"

[2022-06-06 21:31] ducaale opened #1408 "backslashes that precede a number are not preserved"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

[code]

## Current result

[code]

## Expected result
[code]
---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[code]

## Additional information, screenshots, or code examples

N/

[2022-06-07 02:28] YSCohen commented on #1408
Probably because of your shell. It works fine for me on PowerShell
[code]

[2022-06-07 02:40] ducaale commented on #1408
@YSCohen can you confirm which version of HTTPie you are using? I think the issue I am reporting is something that was introduced by the nested json changes.

[2022-06-07 02:41] YSCohen commented on #1408
3.2.1

[2022-06-07 02:47] YSCohen commented on #1408
If I do it in WSL it drops the backslashes.
[code]

[2022-06-07 11:33] blyxxyz commented on #1408
PowerShell doesn't treat backslashes specially so you're actually handing HTTPie two backslashes instead of one. It's clearer if we use single quotes. Bash:
[code]
PowerShell:
[code]

Not mentioned in the OP is that this used to work differently:
[code]

[2022-06-07 11:57] jakubroztocil commented on #1408
Yes, it’s a bug. It looks like the nested JSON array notation is getting in the way. Here’s a minimal reproduction:
[code]

[code]

[2022-06-07 14:30] hroncok opened #1410 "Python 3.11 test failures: Different enum reprs and different cookie order"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

The tests are failing with Python 3.11.0b3.

1. `git clone` httpie and `cd` into it, this is on the master branch @ 418b12bbd6072585118c06c5c4e17996d7f0b085
2. `python3.11 -m venv __venv__` and `. __venv__/bin/activate`
3. `pip install '.[test]'`
4. `pyt

[2022-06-07 15:15] jakubroztocil commented on #1410
Thanks, @hroncok. We’ll look into compatibility with Python 3.11.

[2022-06-08 12:13] troplolBE opened #1411 "Help option crash"
## Checklist

- [X] I've searched for similar issues.
- [X] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. install httpie latest version on debian
2. run the command `http --help`
3.

## Current result
[code]

## Expected result
The help menu from httpie.

---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output

[2022-06-11 04:51] quinncomendant commented on #602
I just ran into the same problem (httpie not saving cookie in session when domain is set to localhost).

Is there a workaround within httpie?

The only way I can fix it is by not sending a domain in the cookie when serving from localhost:
[code]

[2022-06-12 18:29] ducaale commented on #477
Since HTTPie 3.2 comes with man pages, should this issue be closed?

[2022-06-12 20:19] jakubroztocil commented on #477
HTTPie now includes man pages — https://httpie.io/blog/httpie-3.2.0 🎉

[2022-06-12 20:19] #477 closed

[2022-06-13 11:27] stuartio opened #1413 "Multiple response headers with same name combined to a single comma-separated list"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. Request from any endpoint which produces multiple response headers with the same name

## Current result

HTTP/1.1 200 OK
Connection: keep-alive
Content-Length: 2
Content-Type: text/plain
Date: Mon, 13 Jun 2022 11:17:01 GMT
Server: nginx/1.22.0
edge-c

[2022-06-16 15:55] gutsle commented on #83
HTTPie is awesome! :heart:

[2022-06-19 06:15] letmerecall opened #1415 "Incorrect references to benchmarking scripts"
## What's the issue?

There're bunch of places where we still have reference of old paths of benchmarking script.

1. In **Running benchmarks** section of `CONTRIBUTING.md` [[link-1]](https://github.com/httpie/httpie/blob/master/CONTRIBUTING.md#running-benchmarks)
2. In `extras/profiling/README.md` [[link-2]](https://github.com/httpie/httpie/tree/master/extras/profiling#usage)
3. Bunch of mentions

[2022-06-19 07:20] #1415 closed

[2022-06-20 09:26] alidauda opened #1417 "some issues with the copy button"
when i click on the copy button . this what I get copied
"# Install httpie
choco install httpie"
so I  think i will be be helpful if i can just copy the "choco install httpie"

[2022-06-22 16:16] classabbyamp opened #1418 "--help fails with a traceback when pip is not installed"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. `http --help` or `https --help`

## Current result

<details><summary>output with traceback</summary>

[code]

</details>

## Expected result

The help message

---

## Debug output

Please re-run the command with `--debug`, then copy the entire comma

[2022-07-07 16:03] hholst80 opened #1420 "Documentation / help: where is the config stored"
Running http --help should state where the config file is. The man page should also state that. It should also state the format of the config file.

[2022-07-12 15:37] #1420 closed, assigned to nobody

[2022-07-19 23:16] Pascal76 opened #1422 "binding to an IP"
Hello,

It would be great to be able to bind a local IP address like curl does:
curl --interface zz.zz.zz.zz http://example.com/

[2022-07-20 10:27] letmerecall commented on #1417
This is more painful in `REAMDE.md` (commands get copied with `$`). From website the copied command at-least works (as the first line is consider as comment), but the commands copied form `README.md` fails straightaway..

[2022-07-21 04:07] classabbyamp commented on #1418
solved by patching pygments to use importlib.metadata (https://github.com/pygments/pygments/pull/2155)

[2022-07-21 04:07] #1418 closed

[2022-07-21 05:38] wgqimut opened #1423 "version 3.2.1 is not real single-binary"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. download httpie 3.2.1 (latest httpie version) to centos7 machine
2. run "./http"

## Current result
[code]
…

## Expected result
[code]

it seems that httpie still rely on libpython3.9.so, and libpython3.9.so rely on specific glibc version.

[2022-07-23 00:50] Estevamsl opened #1424 ".inviteme to organization"
If you have a general question, please consider asking on Discord: https://httpie.io/chat

[2022-07-27 16:12] tomers opened #1425 "Support httpie in Chrome DevTools"
This is not httpie tool request per-se, instead as an avid user of the httpie tool, I find it frustrating that in the network tab of the Chrome DevTools, there's an option in the context menu of a request to copy it as a Curl or Fetch command line, but not as Httpie command line.
It would be great if anyone from this community will work on a browser extension to support that!

[2022-07-27 17:06] jakubroztocil commented on #1425
I think it might be possible to add it to DevTools directly. Planning to look into it at some point.  Here’s the ‘Copy as curl’ implementation in DevTools:

https://github.com/ChromeDevTools/devtools-frontend/blob/9b555a1251af22350c65966e094a3d74c4eee135/front_end/panels/network/NetworkLogView.ts#L2095-L2203

[2022-08-03 18:34] shamsPathan commented on #83
HTTPie is awesome! :heart:. When I found that bug I felt awesome!

[2022-08-04 11:29] ko2in commented on #1299
As the error in the console clearly says the ```--offline``` argument is no longer recognized. I'm not sure why this issue was closed.

![Screenshot from 2022-08-04 17-58-35](https://user-images.githubusercontent.com/930315/182836370-d3d157a6-c4e7-4dcb-8e89-de59365b5f42.png)

[2022-08-04 11:35] jakubroztocil commented on #1299
@ko2in this looks like an antient version of HTTPie. I recommend upgrading to the latest version (https://httpie.io/docs/cli/installation).

[2022-08-04 11:40] ko2in commented on #1299
@jakubroztocil Thanks. I installed via ```snap```. I've tried ```snap refresh httpie``` but it says no updates available.

![Screenshot from 2022-08-04 18-09-36](https://user-images.githubusercontent.com/930315/182838241-5ca1ef8c-e141-4c7c-bff1-0aade82fe3c7.png)

[2022-08-04 11:41] jakubroztocil commented on #1299
@ko2in what does `http --version` say?

[2022-08-04 11:58] ko2in commented on #1299
The version is 1.0.3.

![Screenshot from 2022-08-04 18-20-33](https://user-images.githubusercontent.com/930315/182841454-f5e0a5b3-5d97-494f-a239-20cfc19ad282.png)

[2022-08-04 13:06] ko2in commented on #1299
@jakubroztocil I've checked the snap and the httpie version is 3.2.1.

![Screenshot from 2022-08-04 19-32-57](https://user-images.githubusercontent.com/930315/182853977-cbe699aa-6f95-4fcb-b1b8-637b7b67da18.png)

And ```https --version``` also returns the same version and the ```--offline``` argument works with ```https``` command.

![Screenshot from 2022-08-04 19-35-31](https://user-images.githubu

[2022-08-04 13:26] jakubroztocil commented on #1299
@ko2in you may have the `1.0.3` version installed using another method (e.g., `pip` or `apt`). So if you uninstall it (and reinstall the newer snap, if needed), you should be good.

[2022-08-04 14:53] ko2in commented on #1299
@jakubroztocil You're right. I've also httpie installed with apt. I uninstall from apt and now it works. Thanks.

[2022-08-06 23:59] lucasfcnunes commented on #1423
It's not just httpie 3.2.1.

Tried other versions on docker's busybox:1.35.0 (uclibc, "has no python") and the same happened:
[code]

It was never statically linked. Would building it with something like `CGO_ENABLED=0 go build -static` solve it?
Doing it may bloat the final binary, right?

[2022-08-17 09:11] jpbochi commented on #523
http/3 and quic are picking up speed.

- cURL has some implementations: https://github.com/curl/curl/blob/master/docs/HTTP3.md
- NGINX has beta support: https://www.nginx.com/blog/our-roadmap-quic-http-3-support-nginx/
- AWS CloudFront just introduced support for it: https://aws.amazon.com/blogs/aws/new-http-3-support-for-amazon-cloudfront/

Could httpie add support for http/3 before curl does?

[2022-08-17 09:33] adriens commented on #523
Hmm looks like a challenge :roll_eyes: :thought_balloon: ....

[2022-08-19 06:24] dwisiswant0 opened #1426 "Adding support for predefined variable substitution format to printing out"
## Checklist

- [x] I've searched for similar feature requests.

---

## Enhancement request

Adding support for predefined variable substitution format to stdout after a completed transfer.

---

## Problem it solves

If we look at curl, they have `--write-out` flag to control it, and **httpie** has `--format-options` and/or `--print` for controls output formatting, but I don't think the availabl

[2022-08-19 16:44] azinsharaf opened #1427 "support for Oauth 2.0"
I see there are some conversation about adding support for Oauth 2.0. in 2013. Does httpie support it now?

[2022-08-19 20:09] eraxeg opened #1428 "Support different keywords for Bearer authentication"
## Checklist

- [x] I've searched for similar feature requests.

---

## Enhancement request

Adding support for different keywords than "Bearer" for Bearer authentication.

---

## Problem it solves

The default keyword in Falcon and Django REST Framework is "Token" instead of "Bearer". In HTTPie the only possible keyword is Bearer. Due to this it is not possible to use HTTPie with projects which

[2022-08-28 20:22] Gorthog opened #1432 "On windows, colors are missing from wttr.in"
## Checklist

- [V] I've searched for similar issues.
- [V] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

1. from windows 11, call "http wttr.in/london"

## Current result
widget have no colors

## Expected result
widget have colors

---

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[

[2022-09-01 00:55] asportnoy opened #1433 "Allow flags to be specified after method or after URL"
## Checklist

- [x] I've searched for similar feature requests.

---

## Enhancement request

Allow flags to be specified after the method or URL, for example
`http post -example.com -f ...`
`http post -f example.com ...`

## Problem it solves

Either of the above options are more human-readable than the current version, which only allows flags directly after the command. For example, "Make an HTT

[2022-09-05 21:57] afonsocarlos commented on #758
I'm also really interested in that one

[2022-09-09 08:56] vzlobinsky commented on #758
Do we have any news regarding this feature? I assume many people need it and will love it :)

[2022-09-09 22:22] adriens commented on #758
Yes, please make this happen :pray:

[2022-09-11 16:38] quinncomendant commented on #404
This file format is the Netscape HTTP cookie file format. It's commonly supported by curl, wget, youtube-dl, et al. It would make sense for httpie to support it too.

Here's what the [curl docs](https://curl.se/docs/http-cookies.html) say about it:

[2022-09-26 17:59] faraazb commented on #1432
The response from [wttr.in](https://wttr.in) contains a number of sequences not supported by coloroma.
With`http wttr.in --pretty format` or even `http wttr.in --pretty none`, the escape sequences are processed by Windows Terminal and the colors appear as expected, but not in Command Prompt due to VT100 being disabled by default. I don't know how curl works around it.

[2022-09-28 05:15] go4cas opened #1438 "[FEATURE REQUEST] Expand/Collapse array in JSON response"
## Checklist

- [x ] I've searched for similar feature requests.

---

## Enhancement request

At present it is possible to expand/collapse an object in the JSON response, but not arrays.

---

## Problem it solves

Allows better readability of large data sets with arrays.

---

## Additional information, screenshots, or code examples

<img width="728" alt="Screenshot 2022-09-28 at 07 09 58" src="

[2022-09-28 05:20] go4cas opened #1439 "[FEATURE REQUEST] Show number of items in an array"
## Checklist

- [x ] I've searched for similar feature requests.

---

## Enhancement request

For arrays, in JSON responses, it would be great if we could see the number of items in the array.

---

## Problem it solves

Simple overview of array count.

---

## Additional information, screenshots, or code examples
<img width="325" alt="Screenshot 2022-09-28 at 07 18 07" src="https://user-images.g

[2022-09-28 11:46] Gorthog commented on #1432
As Windows Terminal will be the default command line for future Windows, I think it's reasonable to support it only and not Command Prompt. However, why by default `http wttr.in` does not show all colors on Windows Terminal? Is it limitation of colorma on Windows?

[2022-09-28 14:51] faraazb commented on #1432
Yes, colorama supports [these](https://github.com/tartley/colorama#recognised-ansi-sequences) ANSI sequences. However, response from wttr contains many unsupported ones (e.g. 38, 208, 214, 226). I think, the purpose of having colorama is to support  Windows Console? Windows Terminal supports them by default. Maybe further detecting conhost and only then using colorama is a good solution.

[2022-09-30 06:20] go4cas commented on #1438
I have just realised that this actually works correctly for some response payloads. It seems the the cases where it works, are smaller payloads. For larger payloads some arrays and objects do not have the expand/collapse buttons.

[2022-10-10 14:16] AlphaMeta-max opened #1441 "Test"

[2022-10-10 14:17] AlphaMeta-max opened #1442 "Test"

[2022-10-10 14:18] #1442 closed

[2022-10-10 21:22] GeneralChauhan commented on #1417
Is anyone working on this??
@letmerecall can you please elaborate more?

[2022-10-12 10:36] tomchristie commented on #692
@earwin - Sure. I'm not doing any work on HTTP/2 in `httpie` at the moment.
If there's interest from the team, then I'm potentially up for spending time on it.

For now you can use `curl` or [the `httpx` command-line client](https://www.python-httpx.org) for HTTP/2 requests.

[2022-10-17 15:07] FlorianTolk opened #1443 "Cannot set content-type"
## Checklist

- [x] I've searched for similar issues.
- [x] I'm using the latest version of HTTPie.

---

## Minimal reproduction code and steps

Trying to connect to an API on localhost:66398, API is running and can be hit with curl. Using ubuntu 20.04, and httpie version 3.2.1.

1. httpie command (With redactions)
`http POST http://localhost:63398/api/v1/course -A bearer -a <BearerToken> Content

[2022-10-18 10:51] #1443 closed

[2022-10-22 00:15] t-mangoe commented on #757
I have tried this issue. To try it out, I added an option to specify the User-Agent for chrome.
<img width="887" alt="httpie1" src="https://user-images.githubusercontent.com/22494246/197307253-3f50cb44-62c1-4826-83ea-afa960594667.png">

In my implementation, this User-Agent String is defined as a constant.
For this reason, it may be difficult to always display the latest User-Agent string.
<img wi

[2022-10-24 06:30] waveywaves opened #1444 "Investigate increasing Maintainer Productivity with Pull Requests Environments"
I would like to make life easier for HTTPie maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi)
previews.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi)
Uffizzi is a Open Source full stack previews engine and is completely free for HTTPie (and all open source projects). This will provide maintainers with previews of their PRs in the cloud, allow

[2022-10-27 12:55] ArabCoders commented on #1401
This is problem for downloaded content as well

[2022-11-03 19:38] hickford opened #1446 "Digest authentication with qop=auth-int fails "TypeError: expected string or bytes-like object""
[code]

## Debug output

Please re-run the command with `--debug`, then copy the entire command & output and paste both below:

[code]

[2022-11-03 21:30] hickford opened #1447 "Authorization header not printed when using digest auth"
`http -v -A digest -a username:password pie.dev/digest-auth/auth/username/password`  doesn't print the Authorization request header

I guess this is challenging because the header is populated in the requests library

[2022-11-11 06:54] verenya opened #1448 "Interview partners for research about communication in GitHub projects wanted"
Hi. My name is Verena Ebert, and I am a PhD student at the University of Stuttgart in Germany.
A few months ago, I have examined 90 GitHub projects to see what communication channels they use and how they write about them in the written documents, for example README or wiki. If you are interested in the previous results, you can find them here:
https://arxiv.org/abs/2205.01440
Your project was one

[2022-11-14 10:07] Alexandersfg4 commented on #1447
Seems like I found a solution
https://github.com/httpie/httpie/pull/1449

[2022-11-14 21:12] aquacode opened #1451 "Potential issue httpie 3.2.1 on macos Ventura"
After upgrading, GET requests using basic auth are taking upwards of 3 minutes to return a 200 response.
If I do the same exact request using the web version of httpie, the response is near immediate.
The only thing different on my machine is that I recently upgraded to Ventura.
Is there any other debug, or troubleshooting I could perform to find the issue?
It's not my 'network' since the web vers

[2022-11-14 22:04] jakubroztocil commented on #1451
@aquacode could you please share the URL, if not sensitive, and the output of `http --debug`?

[2022-11-14 22:23] aquacode commented on #1451
https -v --debug -A basic -a username:app_password https://api.bitbucket.org/2.0/repositories/{workspaace}/{repository_slug}/environments/
HTTPie 3.2.1
Requests 2.27.1
Pygments 2.12.0
Python 3.10.6 (main, Aug 30 2022, 05:12:36) [Clang 13.1.6 (clang-1316.0.21.2.5)]
/usr/local/Cellar/httpie/3.2.1/libexec/bin/python3.10
Darwin 22.1.0

<Environment {'apply_warnings_filter': <function Environment.apply

[2022-11-15 10:50] ingemaradahl opened #1452 "Nested JSON with property name containing colon interpreted as header declaration"
The [Nested JSON](https://httpie.io/docs/cli/nested-json) CLI syntax allows me to construct a request body without having to type out the raw JSON (loving it), but it seems to collide with how arguments can be interpreted as headers. I'm expecting `http POST httpie.io/hello foo[bar:baz]=foobar --print=HB` and `http POST httpie.io/hello foo:='{"bar:baz": "foobar"}' --print=HB` to produce identical

[2022-11-15 11:15] jakubroztocil commented on #1452
Please see:
https://httpie.io/docs/cli/escaping-rules

[2022-11-15 11:54] ingemaradahl commented on #1452
Thanks for looking, @jakubroztocil

Unfortunately, the escaping rules won't help:
[code]

httpie still interprets `foo[bar:baz]=foobar` as an illegal header declaration.

[2022-11-15 12:28] ingemaradahl commented on #1452
Double escaping `:` results in the expected behavior, but due to the default behavior creating invalid header names, it shouldn't be required, really:

[code]

[2022-11-15 13:05] jakubroztocil commented on #1452
HTTPie only needs one backslash — the second one is for the shell.  You can single-quote the argument to avoid the second backslash (at least for Bash):

[code]

The key/value request items parsing uses the separator to determine the item type. Checking for effective validity on top of that would be an interesting heuristic for improving UX.

However, this semantic context sensitivity would make t

[2022-11-15 13:54] aquacode commented on #1451
Ok, I think I may have found the resolution.
I came upon this post https://matduggan.com/til-python-3-6-and-up-is-broken-on-mac/ and tried it and now HTTPie/python/requests/urlib3 all respond in milliseconds.

[2022-11-15 16:13] jakubroztocil commented on #1451
That’s great, thanks for sharing!

[2022-11-15 16:13] #1451 closed

[2022-11-16 09:29] ingemaradahl commented on #1452
Sure, but httpie is primarily a CLI utility for most people (I assume), and its popularity is most likely based on its ease of use (in comparison to cURL). You're suggesting I add three additional characters (one which also require a modifier key to type in) to make the request, which IMO goes against ease of use.

I haven't looked at the parsing solution in httpie, but this is pretty much akin to

[2022-11-21 20:47] #464 closed

[2022-11-30 16:28] lucasteles commented on #58
A Scoop alternative would be great

[2022-11-30 21:53] pongstr commented on #1428
I think it's still possible but you might have to tweak the syntax a little:

[code]