[2018-05-22 21:45] bedge opened #679 "Can't provide passphrase for p12 cert?"
I can't get cert auth working with a p12 cert with a passphrase.
Am I missing an option?

❯ http  --cert <cert filename>: 'https://localhost:20207/....'

http: error: SSLError: [SSL] PEM lib (_ssl.c:3393) while doing GET request to URL: https://localhost:20207/...

1) How can I provide the .p12 passphrase in a config file, or on the cmdline?

2) Is there something else wrong with p12 cert auth or

[2018-05-23 12:38] engin opened #680 "support base64 file input"
hello,

`jo` supports base64 encoding with `%` prefix
[code]
can httpie support this natively without needing `jo` ?

[2018-05-23 22:50] sigmavirus24 commented on #679
The limitation here fundamentally comes from Python's OpenSSL support. It doesn't support what you want here. Unfortunately that will not work

[2018-05-23 23:02] bedge commented on #679
Is it the passphrase that's a problem, or the ssl cert authentication with python in general?

I believe I can rebuild the cert to not require a passphrase.

[2018-05-23 23:37] sigmavirus24 commented on #679
The passphrase is the issue. The Python module that provides the interface to OpenSSL doesn't provide anyway for us to provide it to OpenSSL.

[2018-05-24 00:17] bedge commented on #679
I embedded the passphrase in the cert and confirmed it works. Thanks for the help!

The only thing I had to do for httpie that wasn't required with curl was add the "--verify=no".

[2018-05-24 00:17] #679 closed

[2018-05-30 12:15] jakubroztocil opened #681 "Fix Travis / tests"
https://travis-ci.org/jakubroztocil/httpie/jobs/385658131#L598-L616

[2018-05-30 12:28] jakubroztocil commented on #680
@engin HTTPie does not natively support base64 encoding. You could achieve the same result by combining `http` and `base64`, though:

[code]

[2018-05-30 12:28] #680 closed

[2018-05-30 18:31] jakubroztocil commented on #376
@sigmavirus24 great suggestion, I'll look into that.

[2018-06-01 09:33] RudolphBrown opened #682 "What should I do if i wanna post some fields which including keyword?"
Like this one:
http POST http://localhost:8080/apis  appId=123 urlPattern=/test  GET=get PUT=put POST=post DELETE=delete

[2018-06-03 09:00] jakubroztocil commented on #682
Method names like `GET`, `POST`, etc., are _not_ keywords (you can actually use any  method name you like). The method, if specified, is recognised by its position. So your command will work as expected.

[2018-06-03 09:00] #682 closed

[2018-06-04 16:57] tellmejeff commented on #480
Just going to add one additional comment on this: I use a proxy that is specifically designed so that when you make SSL requests, it establishes a secure tunnel between you and the proxy and then another one between the proxy and the destination. It does this so that I can securely monitor traffic going through my proxy to ensure no one is trying to do something nasty and hide it. This unfortunate

[2018-06-06 06:11] jenyzzn commented on #83
HTTPie is awesome! :heart:

[2018-06-08 14:04] yevgenys commented on #681
@jakubroztocil hi! i'm new to this framework - so not 100% sure that my solution is correct, but tests working :)

[2018-06-09 10:03] jakubroztocil commented on #681
Fixed, thanks for your effort, @yevgenys 👍

[2018-06-09 10:03] #681 closed

[2018-06-09 10:13] yevgenys commented on #681
@jakubroztocil cool, thx :)

[2018-06-12 07:41] NielsDoucet opened #684 "File upload fails with huge files on MacOS"
[code]

This is a 4.4G file I'm trying to upload. Seems like there's many related issues reported on SO, so it's a python issue. Is there any chance you could avoid reading such huge files at once?

[2018-06-15 06:19] royaso commented on #83
HTTPie is awesome! :heart:

[2018-06-19 19:46] arizzubair commented on #491
Having custom headers before url also allows you to edit url easily from bash history. You don't have to move left to url to edit the url endpoint.

[2018-06-20 08:48] tmhpfnr commented on #243
+1

[2018-06-20 15:46] vlcinsky commented on #356
@furkanmustafa `application/json` is default content-type used by `httpie`.

If you explicitly state the content type in your request, it will be resolved:
[code]
or even with sending compressed content:
[code]

[2018-06-22 14:45] opensas commented on #128
Has this feature been added? I tried with `--pretty=unsorted` but I get

[code]

Anyway, just passing `--pretty=colors` did the trick, the output is not sorted (I already format the output), but I found no wayt to specify something like `--pretty=colors,format`

[code]

[2018-06-22 20:10] martin-sladecek-o commented on #539
What about optional Content-ID for parts?
Like --part "my-id:application/json"

[2018-06-24 20:30] qoomon opened #685 "[Feature] Upload Progress Bar"
Would be great to have an upload bar as well.

[2018-06-27 21:15] nikolay commented on #78
@jakubroztocil This issue has been open for 6 years! And it is such a rudimentary feature! Of course, we can all do `echo`, but we can use `curl` as well, right? The point is that `httpie` does all the basic REST operations. Of course, we can use it along with [jarg](https://jdp.github.io/jarg/) or [jo](https://github.com/jpmens/jo), but it's so easy to implement this within `httpie`, I think!

[2018-06-27 22:02] merwok commented on #78
I don’t think it’s that simple, or someone would have sent a pull request!

We should appreciate projects written on free time and given for free.

[2018-06-27 22:16] nikolay commented on #78
@merwork We appreciate it. But how many REST services you know to have only a flat JSON?

[2018-06-27 22:17] merwok commented on #78
Many that I write :)

Thanks for the pointers to jarg and jo!  Goes well in my json toolbox with jq and gron.

[2018-06-28 13:33] hieuhc commented on #83
HTTPie is awesome! :heart:

[2018-07-09 21:36] rherrick opened #687 "Add "light response header" to --print options"
This is similar to #588, but simpler. Rather than wanting to be able to limit the header fields displayed based on configuration or criteria, it would be really useful to have a light or quiet response header option. A lot of data is in those headers, most of which isn't very informative unless you're specifically looking for something in, e.g., the content security policy or content type or whate

[2018-07-10 07:09] touchty commented on #83
HTTPie is awesome! :heart:

[2018-07-11 12:21] #674 closed

[2018-07-12 20:11] jakubroztocil opened #688 "Tox on Travis uses system python for -e py27 and -epy37"
https://travis-ci.org/jakubroztocil/httpie/jobs/403274486

[code]

[code]

---

https://travis-ci.org/jakubroztocil/httpie/jobs/403274485#L5847

[code]

[code]

[2018-07-13 10:08] moghya commented on #685
@jakubroztocil I would like to do this, please assign it to me. Any heads up that you would like to give.

[2018-07-13 17:07] anasbarg commented on #83
HTTPie awesome! :heart:

[2018-07-13 17:10] anasbarg commented on #83
HTTPie is awesome! :heart:

[2018-07-13 20:21] Maryse47 opened #689 "Downloading "Content-Type: text/plain" files will append .txt at the end of filename"
[code]

[2018-07-15 17:54] 9mm commented on #653
Hey @jakubroztocil Just checking in again if we can use the native terminal theme yet. The colors are so insanely bad its impossible to read.

Cheers

[2018-07-16 14:38] irreal commented on #83
HTTPie is awesome! :heart:

[2018-07-22 02:18] memdreams opened #691 "ModuleNotFoundError: No module named '__main__.core'; '__main__' is not a package"
I would like to run the project in pycharm, but it doesn't work. When I run __main__.py which in httpie folder, it just raises the error: ModuleNotFoundError: No module named '__main__.core'; '__main__' is not a package.

So how should I do if I would like to run the code by myself?

[2018-07-22 13:31] jelly commented on #620
Bump, can this still be done, or provide the git commit hash which is 0.9.9

[2018-07-22 15:55] jakubroztocil commented on #620
@jelly 👍 tagged — https://github.com/jakubroztocil/httpie/releases/tag/0.9.9

(0.9.9 only includes some README fixes)

[2018-07-22 15:55] #620 closed

[2018-07-22 17:49] jakubroztocil commented on #691
If you have HTTPie installed — either globally or in development mode via `pip install --editable` — then you should be able to **point PyCharm directly to the executable**:

[code]
<img width="889" alt="http" src="https://user-images.githubusercontent.com/326885/43048376-088ec10c-8de7-11e8-96f1-3c19991b66d2.png">

Without installation, you can still invoke HTTPie via **[`python -m`](https://docs.

[2018-07-22 20:03] #691 closed

[2018-07-22 22:57] memdreams commented on #691
Thanks so much!

[2018-07-24 05:31] sudipta1411 commented on #83
HTTPie is awesome! :heart:

[2018-07-25 06:18] touchty commented on #83
HTTPie is awesome! heart

[2018-08-02 21:48] stormbeta commented on #660
I agree - the default should be to use explicit args over implicit stdin; the current behavior of throwing an arbitrary error is quite confusing and surprising.

The objection raised in #150 is that the tool shouldn't try to guess, but most shell utilities already give priority to local or explicit context over global or implied context, and that's the behavior expected by the vast majority of dev

[2018-08-03 23:04] maximbaz opened #692 "Support HTTP/2 without plugin"
It's 2018 now, HTTP/2 is widely used, but `httpie` still doesn't support it out of the box. Let's fix this.

I know about [httpie/httpie-http2](https://github.com/httpie/httpie-http2), but there are issues with this approach:

1. `httpie/httpie-http2` doesn't come out of the box when `httpie` gets installed, many people would just never know that this plugin even exists.
1. Linux distributions do

[2018-08-03 23:06] maximbaz commented on #298
I think it's time to raise this topic again, I created a new issue #692 and listed all the reasons I could think of for merging the plugin into the `httpie` itself.

[2018-08-03 23:55] maximbaz commented on #692
I just tried to go through installation of the `httpie/http2` plugin and it appears to be impossible to use it right now. The plugin depends on [hyper](https://github.com/Lukasa/hyper) project, which in turn depends on a very old version of `hyperframe` project. This old `hyperframe` is not available for my Arch Linux, so I cannot install `hyper` and thus `httpie/http2`.

The [request to update `h

[2018-08-04 20:55] yoichi commented on #83
HTTPie is awesome! :heart:

[2018-08-09 07:33] losymear commented on #83
{
    "documentation_url": "https://developer.github.com/v3/#http-redirects",
    "message": "Moved Permanently",
    "url": "https://api.github.com/repositories/3544424/issues/83/comments"
}

[2018-08-13 13:59] pauleikis opened #693 "Feature request: support arbitrary HTTP methods"
Some servers support more than standard list of HTTP methods so I think it would make sense for httpie to support it. I understand it's impossible to support any custom logic for those methods, but code path could be as if no method is provided that is as if it was GET if no data is provided and as if it is POST if any data is provided.

See discussions like https://stackoverflow.com/questions/258

[2018-08-21 01:05] pkqxdd opened #694 "No output of server information when stdin is not present"
When stdin is not present, the server information is not printed. The easiest way to reproduce this error is to run
[code]
which produces no output.

Tested on macOS10.13.5 with Python3.6, centOS 6 with Python3.7

[2018-08-21 05:47] diepes commented on #314
Got this error today, on Ubuntu 14.04.5 LTS, wow

[code]

[2018-08-24 12:26] #593 closed

[2018-08-24 17:39] acostalima commented on #653
I've just installed httpie with brew and `preset` is not a valid `style` choice:

[code]

[2018-08-24 18:52] 9mm commented on #653
Yeah I'm still wondering when we can use the native color scheme, I thought it was coming with 1.0 but That was like 6 months ago

[2018-08-24 20:45] ReK2Fernandez opened #695 "not working"
On
[code]

[code]

[code]

[2018-08-25 23:43] mauroherlein commented on #83
HTTPie is awesome! :heart:

[2018-08-30 09:49] aleksandr-vin opened #697 "Do not dump content with first '-v'"
In cases when either large content is uploaded or when `httpie` is called from a loop, the actual content is not needed to be shown while progress (like headers and status codes is still welcome on the screen).

Now if you use `-v` content will be dumped as well, washing request headers away from the screen and flooding the logs, collected from the screen.

Let's skip content dumping with first `-

[2018-09-01 15:12] redalert11 commented on #600
413 error is due to you reverve proxy settings. if you try to uload you files they should work locally.

what i had to add too nginx config file on my reverse proxy
[code]

[2018-09-01 20:14] kevinsimper commented on #600
@jakubroztocil It kind of have, since `Connection aborted` is showed from `httpie` and not from `curl`.
@redalert11 It is not nginx that is the problem, it is that curl shows the correct output and httpie doesn't with the same input :)

[2018-09-03 07:52] hanxue opened #699 "Feature Request: more user friendly message for download time elapsed"
When a `--download` operation takes a long time, the output will be

`Done. 51.05 MB in 1653.26288s `

When the number of seconds is in the thousands, it requires more effort to calculate how many minutes of hours elapsed for the download operationg.

A full example:

[code]

The output could be more user friendly in this format:

[code]

[2018-09-07 03:42] matthew16550 opened #704 "Travis builds are broken for macOS with Python 3.7"
Travis job [975.7](https://travis-ci.org/jakubroztocil/httpie/jobs/424031338) and several others are broken with this error:

It's caused by `brew install python@3` failing:

Which seems caused by Travis changing to a [new default](https://blog.travis-ci.com/2018-07-19-xcode9-4-default-announce) osx image that includes `python 3.6.5`.

[2018-09-07 05:59] matthew16550 commented on #688
#706 has a fix for the 2.7 part of this.  The 3.7 part should be solved by #705.

[2018-09-07 06:00] matthew16550 commented on #704
PR #705 solves this.

[2018-09-07 12:19] MicroIdea opened #707 "upgrade python from 3.6 to 3.7 then switch back broke httpie"
Here's what happened:
1. brew upgrade (then I realized python upgrade from 3.6.5 to 3.7.0 and I don't want that)
2. brew switch python 3.6.5 (so I made a downgrade)
3. http
dyld: Library not loaded: @executable_path/../.Python
  Referenced from: /usr/local/Cellar/httpie/0.9.9_4/libexec/bin/python3.7
  Reason: image not found
[1]    14050 abort      http

After all these I think I broke httpie, how

[2018-09-07 19:26] AuditeMarlow commented on #695
Did you try `http GET https://hispagatos.org`?

[2018-09-08 02:51] ReK2Fernandez commented on #695
@AuditeMarlow yeah.
[code]

[2018-09-08 07:42] AuditeMarlow commented on #695
What version of Python are you using? Did you install HTTPie from Arch's community repository?

[2018-09-10 16:15] sgoll commented on #150
For future reference, there now is a CLI argument `--ignore-stdin` that can be used to explicitly tell HTTPie that request data (key=value) should be preferred over request body (from stdin).

[code]

Cf. https://github.com/jakubroztocil/httpie#16redirected-input

[2018-09-11 20:38] ReK2Fernandez commented on #695
@AuditeMarlow yes, and I have both pythons(such why I hate python lol)
[code]

[2018-09-13 13:03] camel113 commented on #707
My workaround was to uninstall httpie and re install it.
`brew uninstall httpie`
`brew install httpie`

[2018-09-13 13:46] lapo-luchini commented on #680
Actually, httpie it chokes on the newlines that `base64` produces, I managed to do it using `openssl enc -A -base64`.

[2018-09-13 14:23] Gregster66 opened #710 "http: error: TypeError: init_poolmanager() got an unexpected keyword argument 'ssl_version'"
Running on AWS linux with Python 2.7.12 installed.
When I  run my httpie command or save it in a .sh file and run it it completes successfully.
However I'm trying to get an app (Splunk) to periodically run that .sh file and fetch data but it's failing. The app is trying to run the file as the same user that I've tested it with.
This is the error that I'm getting within my app:
http: error: TypeErr

[2018-09-13 15:46] derFunk opened #711 "--download does not store response body if http status is not 200"
**Expected:**
Downloading the body of a website, which returns an http error 500, should result in a local file still containing the responses payload.

**Actual:**
Local file is empty.

**Version:**
[code]

**Testcase (not working as expected):**
Calling https://httpstat.us/500 should result in having the response body `500 Internal Server Error` stored in the local file.
[code]

**Counter Testca

[2018-09-13 18:45] jay-ouellette commented on #395
How do i run it from the CLI?

I want to type `httpie --version` in a terminal

mine got installed to /opt/local/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/httpie

[2018-09-13 19:31] jakubroztocil commented on #395
@jay-ouellette the command is simply `http`:

[code]

[2018-09-14 05:44] MicroIdea commented on #707
I tried reinstalling httpie and sadly it didn't work, still the same error 😑

[2018-09-14 09:15] daraws commented on #83
HTTPie is awesome! :heart:

[2018-09-17 04:36] mnking commented on #83
HTTPie is awesome! :heart:

[2018-09-18 03:59] delphym commented on #83
HTTPie is pretty cool! :heart:

[2018-09-19 21:44] BrandonY opened #712 "Ability to set headers when following redirects"
Sometimes I am trying to write some requests for APIs that involve redirects. I need a way to specify headers that should be included in the request that follows the redirect reply.

For example, `http https://developer-api.nest.com "Authorization: Bearer 1234.mycredentials"` will result in a redirect. I want to repeat the request after following the redirect, so I include the `--follow` parameter

[2018-09-20 08:49] bowbth opened #713 "How to solve HTTP/1.1 411 Length Required error ?"
Hi all,

I'm trying to get token by using POST with httpie command.

`http -a admin:cisco POST https://192.168.142.128/api/v1/auth/token-services --verify=no --debug -v`

but there was an error with HTTP respond status 411 Length Required. Here are the output from httpie.
[code]
and also from debug command I've put
[code]

please give me some suggestion to solve this.
Thanks you in advance.

[2018-09-22 12:59] matusf opened #714 "Program name results to sys.argv[0] when executing httpie module as a script"
Getting:
[code]

Expected:
[code]

[2018-09-22 13:01] SelfMade1101 commented on #714
what do i do

[2018-09-24 10:57] diegosparente commented on #83
HTTPie is awesome! :heart:

[2018-09-26 00:44] vnbrs commented on #411
`http --pretty=all  get https://google.com | less` does it! 😄

[2018-09-29 21:28] flowsta commented on #83
if you like the cli you will love HTTPie! :heart:

[2018-10-01 17:56] ianwremmel opened #717 "netrc parsing is overly strict"
it appears that auth via netrc is broken if `~/.netrc` includes entries that are not exactly `login`/`password` tuples. For example, I have the following entries for circle ci and heroku:

[code]

both of these entries prevent my entry for github.com from working with `httpie` (but curl works just fine).

[2018-10-02 13:59] labeneator opened #718 "Proposal: Allow Auth Plugins to use netrc"
Based on a previous issue #162  and my use case, I'd like to propose a small extension to auth plugins to allow netrc credentials.

Use Case
-----------

We have a [plugin](https://github.com/east36/httpie-http-signatures) that provides [http-signatures](https://tools.ietf.org/html/draft-cavage-http-signatures-10) support to httpie. However, providing an access/secret key pair becomes cumbersome,

[2018-10-02 15:43] labeneator commented on #718
Sample run

[code]

[2018-10-02 19:54] ianwremmel commented on #717
opened https://github.com/requests/requests/issues/4813

[2018-10-03 23:02] pulsedemon commented on #707
I'm getting the same error.  I'm on macos 10.14.  At work I have to use python 3.6, so I had to downgrade from 3.7.  It seems like httpie relies on 3.7 explicitly, so I can't use it anymore unless I brew switch, which is too annoying to do.

[code]

I'm sure I could come up with some hacky workaround, but it should work out of the box

[2018-10-05 12:29] vn-patriot commented on #677
Hi , I have the same problem but  it works well when i ssh into the server and run the script.
Still struggling how to make it work, even I have tried with ```ignore-stdin``` mode

Any recommendation would be appreciated !

[2018-10-05 12:33] emugel commented on #677
Completely agree, this is a major problem.

[2018-10-11 11:10] ivmn commented on #680
@lapo-luchini `base64 -w 0` would do as well

[2018-10-11 20:53] arivasvera commented on #163
cert phrase/password is supported?

[2018-10-15 17:16] rohits144 commented on #83
HTTPie is awesome! :heart:

[2018-10-17 10:04] jaimejim opened #722 "TLS 1.3"
Now that TLS1.3 is out **[1]** it would be great to add that to the list of supported ssl parameters.

` [--ssl {ssl2.3,tls1,tls1.1,tls1.2}] [--cert CERT]`

**[1]** https://tools.ietf.org/html/rfc8446

[2018-10-22 20:28] dimyme commented on #83
HTTPie is awesome! :heart: :heart:

[2018-10-22 20:31] dimyme commented on #83
CLI is so 70's

GUI is the real thing since 1981.

[2018-10-22 20:39] dimyme commented on #83
HTTPie is awesome! :heart: :heart: no status code though

[2018-10-22 20:41] dimyme commented on #83
HTTPie is awesome! :heart: :heart: no status code though

[2018-10-25 06:46] inductor commented on #692
@jakubroztocil Any thoughts? http2 plugin has lots of problems and it seems like nobody is maintaining that repo

[2018-10-25 09:12] jorgenhovind commented on #83
Agarwrab.

[2018-10-26 01:58] adrianogil commented on #83
HTTPie is really awesome! :heart:

[2018-10-29 08:56] ganziqim commented on #83
HTTPie is awesome! :heart:

[2018-10-30 10:58] ihaveadrame commented on #707
I tried reinstalling httpie and sadly it didn't work, still the same error 😑

[2018-10-30 17:41] #714 closed

[2018-11-01 05:10] dair-targ commented on #693
I've tried to reproduce it using httpbin.org:
[code]
It appears httpie is correctly transmitting any arbitrary HTTP method to the server, e.g. `http ANYMETHOD httpbin.org` would have `ANYMETHOD` to be used in the request.

Would it be possible for you to provide a concrete example when this doesn't work as you expecting?

[2018-11-01 06:14] dair-targ commented on #722
I've tried to declare support (see the merge request). This would require OpenSSL v.1.1.1 ([announcement](https://wiki.openssl.org/index.php/TLS1.3)) and the up-to-date python version ([issue 33618](https://bugs.python.org/issue33618) should be merged) merged.

[2018-11-02 14:01] jakubroztocil commented on #722
Merged, release coming soon. Cheers.

[2018-11-02 21:46] cat-turner commented on #707
+1

[2018-11-05 04:58] dair-targ commented on #693
Just for the note, I've created [httpbin#522](https://github.com/requests/httpbin/issues/522) so hopefully it would be possible to positive test arbitrary methods there.

[2018-11-05 10:59] andrewebdev opened #726 "Snap package for linux"
It would be good if a "official" snap package is provided for linux.

There is already another package in the snap store:
`http                 0.9.9-1  chipaca    -      HTTPie in a snap`

... but since it's not official I'm not sure how far I can trust it. For the time being I'll use the `apt` version, but it may be nice to have a snap package in future.

[2018-11-05 15:55] rcorre commented on #150
Encountered this while using `http` in a for loop. It worked fine locally, but failed in gitlab. `--ignore-stdin` resolved it.

[2018-11-06 05:50] linkwik opened #727 "JavaScript is disabled"
I use httpie to access hackerone.com, prompting that javascript needs to be turned on

How to fix it?

[2018-11-06 05:57] linkwik commented on #727
Sorry, try using the option of --json to return the information normally

[2018-11-06 05:57] #727 closed

[2018-11-06 09:50] jakubroztocil commented on #697
@aleksandr-vin you can choose the output via `--print`.  So if you want to print everything except for the request body, then you can specify it with `--print=Hhb`:

[code]
[code]

https://httpie.org/doc#what-parts-of-the-http-exchange-should-be-printed

[2018-11-06 09:50] #697 closed

[2018-11-06 10:28] #707 closed

[2018-11-06 10:29] jakubroztocil commented on #693
@dair-targ thanks

[2018-11-06 10:29] #693 closed

[2018-11-06 10:33] jakubroztocil commented on #667
This should work fine with HTTPie v0.9.4+.

<img width="1192" alt="screen shot 2018-11-06 at 11 31 07" src="https://user-images.githubusercontent.com/326885/48058810-b236ca00-e1b7-11e8-9426-42de40bc66a2.png">

[2018-11-06 10:33] #667 closed

[2018-11-06 10:34] #658 closed

[2018-11-06 10:43] #439 closed

[2018-11-06 10:47] #554 closed

[2018-11-06 10:53] #717 closed

[2018-11-06 10:54] #678 closed

[2018-11-06 14:02] andrewebdev commented on #726
my apologies

[2018-11-06 14:02] #726 closed

[2018-11-09 07:59] boyanghe opened #728 "get ssl and tcp time"
can i get  ssl time and tcp time of http connection？

[2018-11-12 15:31] aheissenberger commented on #566
There is also a problem with the read rights when user has no admin rights:
[code]

**I was able to fix it with**
[code]

but switched to `pip3 install httpie` because of it made it easier to install plugins.

[2018-11-13 05:56] CzBiX commented on #627
#594

[2018-11-13 16:07] rseichter opened #729 "Failing tests on Gentoo Linux"
I recently "adopted" the Gentoo Linux net-misc/httpie package after the last maintainer called it quits, and while I have completed the 1.0.0 binary release, I am having some problems with failing tests:

[code]

Full build log file: [httpie-1.0.0-r1:20181113-141909.log](https://github.com/jakubroztocil/httpie/files/2576992/httpie-1.0.0-r1.20181113-141909.log)

Some of the tests seem to fail becau

[2018-11-13 16:34] Fuxy22 commented on #83
HTTPie is awesome! :heart:

[2018-11-14 11:06] jakubroztocil commented on #729
@rseichter I've released v1.0.1 that doesn't call any external URLs from tests anymore: https://github.com/jakubroztocil/httpie/releases/tag/1.0.1

As for the SSL, I haven't encountered errors like those but I'd try to experiment with upgrading `requests` (https://packages.gentoo.org/packages/dev-python/requests) to the latest version.

[2018-11-14 14:37] rseichter commented on #729
@jakubroztocil Thank you, the updated tests of release 1.0.1 no longer cause issues with the sandbox.

Regarding the failing SSL tests: I tried the latest available version of dev-python/requests (2.19.1-r1), but it did not help. If I read things correctly, the three affected tests expect exceptions of the type `requests.exceptions.SSLError`, but according to the build logs, the returned objects a

[2018-11-14 15:08] rseichter commented on #729
I created the following patch as a workaround, but I am not certain it is the proper thing to do:

[code]

[2018-11-14 15:12] jakubroztocil commented on #729
@rseichter just pushed a fix — the tests didn't take into account pyOpenSSL's errors, which is an optional dependency. Can you please try it again with my latest commit?

[2018-11-14 15:32] rseichter commented on #729
@jakubroztocil : I created a patch for test_ssl.py based on release 1.0.1 and your commit, to replace my patch shown above, and the tests succeed on my build machine. Looks good to me.

[2018-11-14 15:37] #729 closed

[2018-11-14 15:39] jakubroztocil commented on #729
@rseichter https://github.com/jakubroztocil/httpie/releases/tag/1.0.2

[2018-11-14 15:56] rseichter commented on #729
Thanks @jakubroztocil for fixing the test issues so quickly!

[2018-11-15 18:56] sensibleish commented on #566
Since I upgraded to 10.14 Mojave I'm having the permissions error mentioned by @aheissenberger above. I have the same setup where I install homebrew using a local admin account but do normal operation in a standard account. I'm not a Python person and don't understand this discussion of plugins. I do not recall trying to add anything httpie beyond whatever comes as part of the homebrew formula. `p

[2018-11-17 09:37] Phizumi commented on #83
HTTPie is awesome! :heart:

[2018-11-19 11:56] gregschibsted opened #730 "[Feature] Allow bypassing .netrc"
The default support for .netrc is super useful, but sometimes I'd like to set the Authorisation header to a different value than the one I have configured in my .netrc, and sometimes it would be nice not to Authorization header set, to see how an API behaves when not authorised.

Having a flag, say `--ignore-netrc` that enables this behaviour would be nice.
Having an Authorization header supplied

[2018-11-19 16:32] jakubroztocil commented on #695
@ReK2Fernandez please try to upgrade to v1 and reopen if the issue persists. https://www.archlinux.org/packages/community/any/httpie/

[2018-11-19 16:32] #695 closed

[2018-11-19 16:33] jakubroztocil commented on #710
@Gregster66 please try to upgrade to httpie v1 and reopen this issue if the problem persists.

[2018-11-19 16:33] #710 closed

[2018-11-19 20:03] labeneator commented on #718
@jakubroztocil PR updated.

[2018-11-21 19:07] sahas- commented on #243
+1

[2018-11-22 11:17] shlomif opened #731 "https://pypi.org/project/httpie/ only has 1.0.0 instead of 1.0.2"
Please update it.

[2018-11-24 11:17] sirex opened #732 "httpie does not allow to redirect binary data"
I'm trying to do this:

[code]

Documentation says:

[code]

I thin check for binary data for redirected output should be disabled or at least there should be a flag to disable the check. For example I might want to redirect binary data to a file or to a program that expects binary data.

Full output:

[code]

[2018-11-24 14:36] jakubroztocil commented on #732
@sirex httpie has no issues with redirecting binary data, which you can easily verify:

[code]

The problem has nothing to do with HTTPie: the installer is supposed to be called as a bash script stored on disk. That's what the error message as well as the [documentation](https://conda.io/docs/user-guide/install/linux.html) says.

So you will need to download it first and then run the script:

[cod

[2018-11-24 14:36] #732 closed

[2018-11-24 14:41] jakubroztocil commented on #731
Done — https://pypi.org/project/httpie/

[2018-11-24 14:41] #731 closed

[2018-11-24 14:46] jakubroztocil commented on #694
@pkqxdd you'll need to include the `--ignore-stdin` option:

— https://httpie.org/doc#scripting

[2018-11-24 14:46] #694 closed

[2018-11-24 14:55] jakubroztocil commented on #675
Agree with @sigmavirus24, I will just need a function instead of an alias because headers need to come after the URL:

[code]
[code]

[code]

[2018-11-24 14:55] #675 closed

[2018-11-24 15:49] jakubroztocil commented on #660
The `stdin` handling is indeed confusing. I can see two good improvements mentioned here:

1. ignoring `stdin` if it's closed
2. ignoring `stdin` if data is specified via `foo=bar` data arguments as well (i.e., distinguishing between [`@file`](https://httpie.org/doc#request-data-from-a-filename) and [`< file`](https://httpie.org/doc#redirected-input) and throwing the error only for the former)

--

[2018-11-25 20:28] joolzg opened #733 "Specifing Content Range to download parts of a file."
Was trying to get curl working with -r but failed and ending up finding httpie, nice and easy, but i cant find how to download parts of a file.

[2018-11-25 21:23] #733 closed, assigned to nobody

[2018-11-27 20:49] joolzg commented on #733
Thanks for that, worked perfectly

[2018-11-28 13:44] agriffis commented on #587
@eyalev I've wanted this for a while, so I just hacked a wrapper. It works by making an innocuous `OPTIONS` call before the real call.

[code]

Here's the output from your example. Note the calculated URL is the first line of output:

[code]

Of course it'd be nice if this were available directly from httpie. My guess is that it's more complicated than we'd like, because a pastable URL doesn't acc

[2018-11-28 15:32] jakubroztocil commented on #587
@agriffis nice script 🎉

FWIW, you can also see the generated URL when you [print the request headers](https://httpie.org/doc#what-parts-of-the-http-exchange-should-be-printed):

[code]

[code]

[2018-11-28 15:37] agriffis commented on #587
@jakubroztocil Well, the point is that `http -v` doesn't generate a pastable URL. You have to manually concatenate the base URL (protocol and host) with the host-relative URL (path and search). If you look at my wrapper script, it uses `http -v` then does the concatenation for you.

[2018-11-29 21:23] deviantony opened #734 "-F changes the original request method after following redirect"
I'm using httpie to execute a POST request against my api at `myapi.mydomain.com/endpoint`:

[code]

Now using follow:

[code]

Seems that the request method is changed to GET, when using `curl`, the redirect is working fine:

[code]

[code]

[2018-11-29 23:31] jakubroztocil commented on #734
@deviantony changing to `GET` is actually the [correct behaviour](https://developer.mozilla.org/en-US/docs/Web/HTTP/Redirections#Permanent_redirections) (or at least the expected default behaviour on today's web).

(If you, for example, submit a form on a website, the most likely behaviour is that the server redirects you to another "thank you" page after processing your request to avoid double-su

[2018-11-30 00:02] jaraco commented on #194
I also would like this feature. I'm grabbing a CSV, posting it to a service, altering the CSV using csvkit, and then want to post the altered version to a service again:

[code]

It would be nice to have been able to use `file@-` and not have to supply `--ignore-stdin`.

[2018-12-06 17:11] weaming commented on #83
HTTPie is awesome! :heart:

[2018-12-06 18:28] cmoulliard opened #735 "Http headers appear in RED color"
### Issue

Is it possible to change the colors of the headers as they appear in red when I run a httpie request

[code]

![screenshot 2018-12-06 19 28 17](https://user-images.githubusercontent.com/463790/49604039-228a6400-f98d-11e8-9226-c7b619d5cae6.png)

### Debug info

[code]

[2018-12-07 05:57] jakubroztocil commented on #735
@cmoulliard this looks strange. Starting with version 1.0.0 httpie uses the native terminal colors (`--style=auto`). So I'd try tweaking the terminal colors. If that is not an option or if it doesn't help, then you can change it from the default scheme via the config file, for example:

[code]

[code]

[2018-12-07 07:32] zengpuzhang commented on #83
HTTPie is awesome! :heart:

[2018-12-07 16:43] crmendoza093 commented on #645
Thanks!!!

[2018-12-11 14:35] AleksanderGrzybowski opened #738 "Non user-friendly behavior (stacktrace dump) if config location isn't writable"
Hello! Thanks for great tool.

I was trying to use httpie inside OpenShift pod, which underneath uses Docker containers without root privileges. Because there `HOME` is set to `/` by default, httpie crashes with permission error trying to create it's config dir, since regular user can't write to `/`.

This can be reproduced on Linux by overwriting `HOME` environment var with directory that current

[2018-12-11 14:39] johonunu commented on #83
HTTPie is awesome! :heart:

[2018-12-15 20:45] #735 closed

[2018-12-30 20:02] tilek commented on #391
Thanks, Matt. I tried that and here is the problem I encounter: https://stackoverflow.com/questions/53980997/how-to-overcome-dependency-issues-while-upgrading-python-requests-module-on-amaz

[2019-01-02 22:17] blast-hardcheese opened #740 "Use exact text from the three-clause BSD license"
The text in `LICENSE` is very close to the BSD 3-clause license, but not exactly, possibly creating some ambiguity in enforcement:

[code]

[code]

The implication of switching `OR` to `AND` could be significant. I found this while attempting to add httpie to [nixpkgs](https://github.com/NixOS/nixpkgs), and I am required to provide a license.

[2019-01-03 15:31] nmtitov commented on #427
This would be really useful. Sorting is not that good when you don't want it.

[2019-01-07 05:59] emagutu commented on #718
@jakubroztocil can this be merged please?

[2019-01-11 23:07] ibnesayeed commented on #734
As per the specs, in order for the server to instruct the client to repeat the request on a redirected location with the original HTTP method it should return `307` or `308`. I did not test to see if the `httpie` respects these status codes appropriately.

[2019-01-14 10:32] nre-ableton opened #742 "Brew version does not work for other users"
When attempting to use `httpie` as a user other than the one who manages the system's homebrew packages, there is a permission error which prevents this from working:

[code]

Corresponding permissions for my system are like so:

[code]

FWIW, I don't seem to have this problem with other Python brew executables.

[2019-01-16 05:42] entimm commented on #83
HTTPie is awesome! :heart:

[2019-01-17 14:50] sethmlarson commented on #722
[Per Python 3.7's documentation](https://docs.python.org/3/library/ssl.html#ssl.PROTOCOL_TLSv1_2) there won't be a `PROTOCOL_TLSv1_3` definition in the `ssl` module. To force the use TLSv1.3 in Python you have to do `PROTOCOL_TLS | OP_NO_TLSv1_2 | OP_NO_TLSv1_1 | ...`.

[2019-01-17 21:01] shaYdaY222 commented on #728
Me too

[2019-01-23 17:57] yogeshpatil143 commented on #645
Just Run below command

1)brew doctor

than

sudo chown -R $(whoami) $(brew --prefix)/*

note the $(brew --prefix)/* ...High Sierra doesn't allow you to change permissions on /user/local directly)

then this:

sudo install -d -o $(whoami) -g admin /usr/local/Frameworks

Your problem may be solve

[2019-01-24 13:21] maelvalais commented on #735
I happen to have the exact same issue. I use iTerm2 (3.2.7beta3) + Zsh (and oh-my-zsh +agnoster). Same issue with macOS's default Terminal.app.

<img width="773" alt="capture d ecran 2019-01-24 a 14 20 50" src="https://user-images.githubusercontent.com/2195781/51680878-45c3ae00-1fe3-11e9-8536-4af8d4febd8c.png">

[2019-01-25 14:50] barnardb opened #744 "Output to stdout on success, stderr on error"
A common use case I have when scripting is that I'm only able to proceed when I get a 2xx response. The `--check-status` flag is great in this case. However, when a script dies with exit status 4 or 5, I'm not left with much insight about what went wrong. What I would love to be able to have the output go to stdout when the request succeeds, but go to stderr (ideally with headers and formatting, b

[2019-01-26 10:49] kurbeco commented on #645
I was having the same issue, and that fixed it. Thanks

[2019-01-26 22:52] dogweather commented on #404
@jakubroztocil This would be a fun project. Would you be interested in a PR for it?

[2019-01-29 16:39] andreafalzetti commented on #243
+1

[2019-02-03 01:38] mazter17 opened #747 "hola"
👋

[2019-02-03 07:09] raiskila opened #748 "httpie creates a dir + file in the user's home directory on every execution"
Hi,

Thanks for the great work on this project.

Is there any particular reason why httpie creates the file "~/.httpie/config.json" on every execution?

Could this be put behind a CLI flag like `--init-config`, if people want an easy way to create a blank configuration file? This way httpie could avoid polluting the home folder unless the user wants to override a config setting or use a feature li

[2019-02-03 12:36] jakubroztocil commented on #748
Thanks for your comment. This behaviour simply a design decision. This behaviour present in many other tools.  HTTPie creates the config file only if it doesn't already exist so there’s no bug here. But I see your point and take your comment as a feature request that I might consider in the future.

[2019-02-03 12:36] #748 closed

[2019-02-03 12:57] jakubroztocil commented on #744
@barnardb It’s not possible to swap the output stream based on the exit status via the existing --options. You’ll need to add the logic to your script I’m afraid, something like:

[code]

Without the `2> /dev/null` bit, the following warning would go to `stderr`:

[code]

[code]

[code]

I think changing the stream would not be super intuitive. Also,`stderr` is already used for warning/error messa

[2019-02-03 12:57] #744 closed

[2019-02-03 13:11] jakubroztocil commented on #742
Thanks for the report. It looks like the 2.7 idna package was shipped with the wrong permissions. 2.8 looks good:

[code]

I’ll update the Homebrew formula to refer to the latest version.

[2019-02-04 08:58] jakubroztocil commented on #742
Fixed

[2019-02-04 08:58] #742 closed

[2019-02-06 16:50] ujwalkomarla commented on #83
HTTPie is awesome! :heart: - Ujwal

[2019-02-08 13:43] aop4 commented on #211
https://devhints.io/httpie
You can use :=, like so:
`http POST localhost:8080/places streetAddress="121 Lindbergh Rd" zip:=14324`

[2019-02-12 16:07] karltaylor commented on #83
HTTPie is awesome! :heart:

[2019-02-12 20:01] daguej opened #752 "Does not handle HTTP informational responses correctly"
httpie incorrectly treats informational responses (102-199) as a final response, printing the response headers and exiting.

[code]
Compare to what actually happens:
[code]

httpie should print the zero or more informational responses (if response headers are enabled) before printing the final response and exiting.

[2019-02-13 13:25] muzakparov commented on #83
HTTPie is a pie, so delicious! :heart:

[2019-02-17 02:44] hongliang5316 opened #753 "Chunked request body supported?"
Hello,
I want to test `http chunked request body`, did `httpie` support it?

[2019-02-20 12:55] sudipju commented on #83
HTTPie is awesome! :heart:

[2019-02-21 15:06] PetrDvoracek commented on #83
HTTPie is awesome! :heart:

[2019-02-23 06:55] sntiagoma commented on #83
HTTPie is awesome! :heart:

[2019-02-23 06:55] sntiagoma commented on #83
HTTPie is awesome! :heart:

[2019-02-25 15:08] wscardua opened #754 "HTTPie oAuth1 not work"
hi guys,

I try to use HTTPie with oauth1 but not work, can we help me ?

[2019-02-26 19:53] akkartik opened #755 "Use `--pretty=format` by default even on redirect"
I've read https://github.com/jakubroztocil/httpie#redirected-output and https://github.com/jakubroztocil/httpie#interface-design about how the default is `--pretty=none` for default, and why this default exists (to avoid polluting output for other programs with color escapes). However, this rationale don't seem to apply to `--pretty=format`. Is there any reason not to default redirected output to

[2019-02-26 20:51] richfromm opened #756 "http: error: Cannot use --output, -o with redirected output."
I suspect this might be closed as Invalid or Won't Fix, but I'm trying anyway.

Why can I not use `--output` and redirect the output of `http`? Doing so causes `http: error: Cannot use --output, -o with redirected output.`

I have tried all sorts of combinations of `--download` and `--output`, as well as `--ignore-stdin` suggested from https://github.com/jakubroztocil/httpie/issues/290, which is p

[2019-02-26 21:00] richfromm commented on #756
Or is this just a dupe of https://github.com/jakubroztocil/httpie/issues/259 ?

[2019-02-26 21:38] richfromm commented on #756
So I did ultimately find one way to get this to work, by redirecting only stderr, and not stdout. See details below.

But that's not really a suitable workaround for my use case. I have a script that does various HTTP operations, both GET and PUT. I can't control what users of the script are going to do, and it seems perfectly reasonable to me that a user might want to redirect the output of my sc

[2019-02-28 21:29] gregbacchus opened #757 "Shortcut for common User-Agent headers"
What would be useful for me is to have a shortcut for common User-Agent headers

e.g.

`http GET google.com --chrome`

[2019-03-01 16:31] tonsV2 opened #758 "Define http request in a .http file"
First of all, thanks for a great http client. I've recommended it to quite a few coworkers by now and a lot of appreciation has been returned!

Intellij has a build in http client which supports something called .http files.

https://blog.jetbrains.com/phpstorm/2017/09/editor-based-rest-client/

To sum up the above link you can define http request in a file and have them executed.

Being able to d

[2019-03-05 07:15] mcchae commented on #83
HTTPie is awesome! :heart:

[2019-03-05 23:01] gianniresende commented on #83
HTTPie is awesome! :heart:

[2019-03-11 03:36] crmpicco opened #759 "Make POST call with XML payload with HTTPie"
Is there equivalent way to make this cURL call with HTTPie?

`curl -k -d '<?xml version="1.0" encoding="UTF-8"?><methodCall><methodName>wp.getUsersBlogs</methodName><params><param><value>user</value></param><param><value>pass</value></param></params></methodCall>' https://crmpicco.co.uk/xmlrpc.php`

I have tried the following without any success:

`http --pretty=all --verify=no POST https://crmpic

[2019-03-11 13:23] XenonChau commented on #83
HTTPie is awesome! :heart:

[2019-03-12 14:10] ibc opened #760 "Non-string JSON fields syntax convert strings into numbers"
[code]

It sends the following POST body:

[code]

Everything is nice except `id` field which is converted to number.

[2019-03-15 22:07] bitti commented on #145
Yeah, it doesn't make much sense to trade less $HOME directory clutter for more environment setup  clutter, so just changing the default is the way to go.

[2019-03-20 22:52] bepetersn commented on #83
HTTPie is awesome! :heart:

[2019-03-21 05:24] reschke commented on #488
This is indeed a bug.

[2019-03-21 05:44] reschke commented on #488
Including `*/*` with a default q value is indeed meaningless. Note that there is no server requirement to honor the Accept request header field, so a server doesn't need to return 406 if it doesn't have an `application/json` representation.

[2019-03-21 12:52] ejoubaud commented on #707
Installing the latest python fixed it for me:

[code]

[2019-03-22 10:31] nilscox opened #762 "Package not found on archlinux"
Hi,

I can't find the package on archlinux with `pacman -S httpie`. Any thought why?

[code]

Thank you!

[2019-03-22 19:55] nilscox commented on #762
Hmm I guess I had some weird stuff going on with my `/etc/pacman.d/mirrorlist`. My bad!

[2019-03-22 19:55] #762 closed

[2019-03-27 09:30] pabra commented on #83
HTTPie is awesome! :heart:

[2019-03-29 11:02] arilwan commented on #83
HTTPie! So much Like this tool :great:

[2019-03-29 11:05] arilwan commented on #83
HTTPie! So much Like this tool :heart:

[2019-04-01 09:52] BallSolHard commented on #83
HTTPie is awesome! :heart:

[2019-04-01 18:47] twome commented on #83
HTTPie is truly beautiful and you rock for making it :heart:

[2019-04-07 15:43] loneshark99 opened #764 "[Question] Repoonse returns taks and then returns actual response."
When I run a certain request I get the following output.

http http://someapi.com?
[1] 123
[2] 124

Then after few seconds, the actual json response of the api is shown on the screen, what does this mean. Is it like a queued task and it gives me the prompt back because it will take few seconds to get parse the reponse.

Can someone help me understand the response.

Thanks.

[2019-04-09 01:38] bytedaring commented on #243
+1

[2019-04-09 01:39] bytedaring commented on #243
👍

[2019-04-09 15:18] jezus-nunez commented on #181
Hi, I have a similar issue which was solved via `--ignore-stdin` but my context is a bit different:

`./run.sh http https://base-url/endpoint\?attributes=all\&nested_attribbutes\=all Authorization:Bearer\ bf54b184d7729ac9bfffb576782e2a1d3cd7bd76 Content-Type:application/json Accept:\ \*/\* -h`

I was getting `HTTP/1.1 422 Unprocessable Entity`

The `run.sh` script looks as follows: `seq 5 | xargs

[2019-04-09 19:47] newfinal100 opened #765 "Logo Proposal"
Hello! I was just reading through your project and I'd like to contribute to it by designing a logo. If you'd want that too, please let me know if there are any specific things you'd want this logo to represent, and if you don't have any I'll just implement my own ideas. Looking forward to hearing from you :)

[2019-04-12 22:57] checketts opened #768 "httpie doesn't recognize cert/CA provided by mkcert"
I've been using [mkcert](https://github.com/FiloSottile/mkcert) to create a 'valid' SSL cert when developing locally.

mkcert installs a CA and adds it to the system and other toolchains so it is recognized automatically.

The cert is recognized by `curl` without problems, but `httpie` is failing (unless I add `--verify=no`)

Perhaps this is a duplicate of https://github.com/jakubroztocil/httpie/i

[2019-04-14 10:38] normanr commented on #414
HOSTALIASES only works for "name[s] consist[ing] of a single component, that is, contains no dot", ref: http://man7.org/linux/man-pages/man7/hostname.7.html

[2019-04-14 10:49] normanr commented on #768
Does it work if you pass `--verify=$(mkcert -CAROOT)/rootCA.pem`? What does --debug show for the failure reason? Also try
`openssl s_client -CAfile $(mkcert -CAROOT)/rootCA.pem -servername=example.com localhost:443` (look for `Verify return code`)
or
`openssl verify -auth_level 2 -CAfile $(mkcert -CAROOT)/rootCA.pem cert.pem`.
I found that my self-signed CA was being rejected with `CA certificate

[2019-04-14 10:55] ovsienkonikita commented on #760
Try
[code]
string is not json object, so u don't need to set value via ":=", just "=" is enoght

[2019-04-14 12:17] philmcm commented on #83
I :heart: HTTPie

[2019-04-14 12:21] philmcm commented on #83
I :heart: HTTPie

[2019-04-15 17:14] checketts commented on #768
Thanks! Without verify I see:

[code]

But thanks to your tip it works!

[code]

Note I did need to add double quotes `"` since on OSX the path has a space in it. Now I have an alias that includes the rootCA automatically:

[code]

So I use it automatically! Thanks again!

[2019-04-15 17:14] #768 closed

[2019-04-16 10:36] cmoulliard commented on #486
In which EPEL repo can we find `httpie` tool ?

[2019-04-18 09:49] lcd1232 commented on #243
👍

[2019-04-19 03:35] balalaXD commented on #757
yeah, it would be great if we have `Android`, `iPad`, `iPhone`, `phone`, `touch`, `desktop` etc

[2019-04-20 16:58] littlebenlittle opened #769 "Implicit json post does not send content, `--form POST` required"
I'm testing a webapp2 server and found that the server-side request object was always empty. I found [this answer](https://stackoverflow.com/questions/33128993/how-to-send-a-post-request-using-httpie) which provides a workaround.

`http :8080/api/test arg1=val1 arg2=val2` does **not** work

`http --form POST :8080/api/test arg1=val1 arg2=val2` **does** work

Is this working as intended or is it a

[2019-04-23 14:19] GomoSDG commented on #83
HTTPie is awesome! :heart:

[2019-04-23 17:45] om26er commented on #672
I have updated the packaging to be a little more slick. In case its needed, I am willing to help with the maintenance of the snap package at least for the first few months.
[code]

[2019-04-24 08:31] LuckyDenis commented on #769
It seems to me that by default we execute GET request, on it the request body and shouldn't come, it just also carry out POST requests. But this is only a guess.

[2019-04-24 18:47] LuckyDenis commented on #130
I found what the problem is, can I take this task?

[2019-04-24 21:08] steven-lai commented on #130
I can't answer whether you can take this or not but I'm interested in what the problem is, can you provide some details?

[2019-04-25 08:38] LuckyDenis commented on #130
https://github.com/jakubroztocil/httpie/blob/master/httpie/input.py#L133
Here we give our arguments to a parser built into a Python, and inside it uses dict instead of multdict resulting in key mashing. I just wanted to ask the community - in what form it is better to solve it. 1. There is the idea, or completely rewrite the logic of parsing, 2. Just add a function that will glue the value of the

[2019-05-06 06:42] KiengKnot commented on #645
For others who have the same problem on linking different package like `dbgm`
1. check `Error: Permission denied @ dir_s_mkdir - [FOLDER_NEED_PERMISSION]`
2. then grant permission as @yogeshpatil143  said

`sudo install -d -o $(whoami) -g admin [FOLDER_NEED_PERMISSION]`

 => grant permission to the folder `[FOLDER_NEED_PERMISSION]`

[2019-05-06 07:48] yogeshpatil143 commented on #645
Yes you are correct my dear friend.. @KiengKnot ..

[2019-05-09 12:56] sohnryang opened #772 "What is the font in the screenshot?"
It looks nice.

[2019-05-14 15:02] Grummfy opened #773 "change website install part to show it's supported on multiple platform"
Hello,
I find confusing that on the website when you click on install you see on https://httpie.org/#installation " brew install httpie "
It make the impression it's only for mac.

Adding a link to other platform (documentation) or simply tabs with mac/linux/windows/pip/other could solve it.

[2019-05-14 20:11] dunglas opened #774 "JSON keys containing a "@" symbol are hidden"
It's especially annoying when dealing with JSON-LD document (by the spec reserved keywords start by a `@`).

![image](https://user-images.githubusercontent.com/57224/57728827-17063c00-7695-11e9-81ca-cf884690cc5d.png)

When highlighting:

![image](https://user-images.githubusercontent.com/57224/57728781-00f87b80-7695-11e9-913b-ceb3cb40edb7.png)

Setup: Mac OS, iterm2, ZSH.

[2019-05-15 13:54] LuckyDenis commented on #774
Hello. It seems that this is a terminal configuration problem, not a library one. I tried to play on my mac and I had no problems. This is also indicated by the behavior when selecting the response text.

[2019-05-15 16:38] dunglas commented on #774
Good catch @LuckyDenis. The color of keys starting with a `@` is black. It's weird because it's not the case for other keys (not starting with a `@`). It works well on a light background, but not on a dark one.

[2019-05-15 16:43] dunglas commented on #774
Here are  screen

[2019-05-15 16:55] LuckyDenis commented on #774
@dunglas, thanks. I would still `curl -v` checked.

[2019-05-17 18:02] binarytrails opened #778 "body data by parts not printed even if written on a socket"
Hi Devs,

I really like your software and the presentation of the data in the terminal!

However, in a case on a get with multiple body responses by parts and a keep-alive attribute, only the header is written on client side (httpie) once flushed on a socket. Nevertheless, curl does show each new data written on a socket. Therefore, I must conclude it's a bug!

Sever side sample:
[code]
Curl Liste

[2019-05-18 23:00] Frodox commented on #692
bump @jakubroztocil

[2019-05-21 02:16] EvanTheB opened #783 "Empty headers get dropped silently"
Empty headers are silently dropped from a request:

`http -v https://example.org/api X-Token:`

This command will not have an X-Token. This is correct, because RFC 7230 says empty headers are invalid.

However the user probably intended to include the header (mistaken shell quoting, empty output of subshell, forgotten TODO etc...). An error and message would be improved behaviour.

[code]

[2019-05-21 18:35] rseichter opened #784 "Failing test due to SSLv3 during Gentoo Linux stabilisation"
A [Gentoo bug](https://bugs.gentoo.org/686306) was filed during a [stabilisation](https://wiki.gentoo.org/wiki/Stable_request) attempt for httpie 1.0.2 on Gentoo Linux. As I noted in the comment, it might be related to #647 but I am not fully certain.

Looks like the test fails with "sslv3 alert handshake failure" instead of gracefully skipping over pytest-httpbin's incompatibility with SSLv3, whi

[2019-05-22 03:50] AlexiaChen opened #785 "Warnings shows up on Lastest Manjaro linux"
kernel: 5.0.15-1-MANJARO

/usr/lib/python3.7/site-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.25.2) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

But this two dependencies version look like correct:
 pacman -Qi python-chardet python-urllib3
Name            : python-chardet
Version         : 3.0.4-2
Description     : Python3 module f

[2019-05-24 08:38] filip1333 commented on #83
HTTPie is awesome! :heart:

[2019-05-24 12:39] dbykov commented on #83
HTTPie is awesome! :heart:

[2019-05-28 08:53] myloveruanqin opened #786 "support get cookie from a website login page?"

[2019-06-02 17:44] Skycker commented on #83
HTTPie is awesome! :heart:

[2019-06-05 18:28] jrduncans opened #787 "Proxy auth"
Please support `--proxy-auth` like `--auth` instead of relying on username@password in the proxy URL. This should allow us not to have to put our password in the command-line, or have to script out usage of `read` to get equivalent functionality, as well as hopefully just work when password characters are not valid in the URL syntax.

[2019-06-06 12:51] Grummfy commented on #773
no answer?

[2019-06-06 17:16] pacoesteban commented on #477
I would like to _re-activate_ this thread, as `httpie` is a CLI tool, it seems logical to have a man page for it at hand. The `--help` suggested by @stefan2904  seems incomplete and I cannot agree with @sigmavirus24, downstream (at least OpenBSD and others) cares about man pages. I do not see a reason not to use a good man page already distributed with the software ...

To the point, my suggestion

[2019-06-13 16:28] mwauer commented on #267
Is this still working for anybody? I can't get it to work with any of the above syntax. Running in the HTTPie demo:
`$ echo a > a.txt
$ echo b > b.txt
$ http -f httpbin.org/post files@a.txt files@b.txt
HTTP/1.1 200 OK
Access-Control-Allow-Credentials: true
Access-Control-Allow-Origin: *
Connection: close
Content-Length: 360
Content-Type: application/json
Date: Thu, 13 Jun 2019 16:22:56 GMT
Server:

[2019-06-13 16:44] jwgcooke opened #788 "Config.json updates cause parallel executiuon failures"
When running 2 scripts in separate terminals that make use of API calls I will periodically get an error caused by the config.json file being incorrectly formatted.  It would appear that one process is updating the file and the other process tries to read it in flight

Traceback (most recent call last):
  File "/opt/local/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages

[2019-06-15 18:24] pacoesteban commented on #477
@jakubroztocil are you interested in this ?

Thanks.

[2019-06-15 19:58] sigmavirus24 commented on #477
@pacoesteban why even bother rewriting in `mdoc` when there is `rst2man` utility that will generate the appropriate man page?

The python community prefers `rst` and so we keeping our docs in that would be more maintainable and preserve doc quality.

[2019-06-16 11:39] pacoesteban commented on #477
I brought this back because the current readme is not really structured as a man page. I think it should be something like a refactored mix of the readme and `--help`. Also, it bugs me every time I have to check docs on this cli tool I use quite often (as @dequis was saying on #248). Besides, the `rst2man` utility you mention fails to generate the man page (and no, is not because of the images at

[2019-06-16 14:24] sigmavirus24 commented on #477
I'm not a maintainer but I definitely agree that "an imperfect man page is better than none at all". As for my comment, earlier, Debian and Fedora have outright refused to use man pages bundled in projects I've worked on (e.g., OpenStack CLI tooling) in the past. Combine that with the understanding that `pip` on most Linux distributions is intentionally patched to disallow installation beyond user

[2019-06-17 10:14] dequis commented on #248
Duplicate of #477

Seems to be more active and about the same thing so i'm closing this one

[2019-06-17 10:14] #248 closed

[2019-06-19 08:20] MiracleWong commented on #83
HTTPie is awesome! :heart:

[2019-06-19 14:15] pcgeek86 commented on #99
Any chance of getting this merged? @jakubroztocil

[2019-06-22 00:46] kjmph commented on #488
I've been down this path as well, @vfaronov is representing a common interpretation. That is, the specificity affects the media type, so a more specific subtype sets precedence over a similarly typed media range. However, once the specificity resolves media types, they are ordered according to quality scores. I believe that this part of the RFC is ambiguous to readers.

In this interpretation, whe

[2019-06-24 11:02] jakubroztocil commented on #786
You would have to be a bit more specific.

[2019-06-24 11:02] #786 closed

[2019-06-24 11:07] jakubroztocil commented on #774
It's most likely that your terminal color scheme, which HTTPie adopts by default, doesn't play well with the highlighter. I'd try to tweak the terminal colors or explicitly specify a style to use in the config file (in your case the bundled `solarized` might do the trick):

[code]

https://httpie.org/doc#configurable-options

See `$ http --help` for all available styles.

[2019-06-24 11:07] #774 closed

[2019-06-24 11:11] jakubroztocil commented on #783
Please see https://httpie.org/doc#empty-headers-and-header-un-setting

[code]

[2019-06-24 11:11] #783 closed

[2019-06-24 11:12] jakubroztocil commented on #773
Fixed 😉

![image](https://user-images.githubusercontent.com/326885/60014589-a41fb600-9681-11e9-872e-8f3b3602b2aa.png)

[2019-06-24 11:12] #773 closed

[2019-06-24 11:15] jakubroztocil commented on #785
Thannks, @AlexiaChen, but this is something that the packager should look into.

[2019-06-24 11:15] #785 closed

[2019-06-24 11:17] jakubroztocil commented on #760
One might argue that a string is not a non-string 😁

You use `=:` when the _don't_ want a string, so what @ovsienkonikita suggests above is correct.

[2019-06-24 11:17] #760 closed

[2019-06-24 11:19] jakubroztocil commented on #772
hey @sohnryang, it is Menlo

![image](https://user-images.githubusercontent.com/326885/60014986-99b1ec00-9682-11e9-84fe-cd6d3433aab7.png)

[2019-06-24 11:19] #772 closed

[2019-06-24 14:52] sohnryang commented on #772
Thanks.

[2019-06-24 16:50] ddevault commented on #491
Also dropping by to voice support for this feature.

[2019-06-25 07:38] Grummfy commented on #773
thanks

[2019-06-26 18:26] andisatya commented on #521
http://andisatya.atlassian.net/www.youtube.com

[2019-06-26 18:28] andisatya commented on #521
andisatya.slack.com

[2019-07-01 07:51] basilmusa commented on #576
Nope, not good. Need to be able to curl even if adhoc developer certificate.

[2019-07-04 09:43] inkstak commented on #488
Another example.

Sending a request with such Accept header to a Rails app, which is serving browsers & API, will always return an HTML response :

https://github.com/rails/rails/issues/8987

As @kjmph said, it's because some browsers don't set quality score correctly.

We can assume this behavior should be quite common to many other web servers

[2019-07-04 11:16] AdilKhurshid commented on #211
how to pass int64 value for golang ?

[2019-07-06 13:32] inromualdo commented on #83
HTTPie is awesome! :heart:

[2019-07-10 14:02] mike-pt opened #789 "FR: Support using directory for "--output""
This would be useful when used with download mode and continue.

Since continue forces us to pass the output file it means the file name would need to be static, but in some cases (Scripts) we might need to still get the file name from the server (or guess it) and continue if a partial file already exists.

In cases where the server provided Content-Disposition what I do now is get that then use i

[2019-07-16 14:38] pedryvo commented on #83
HTTPie is awesome! :heart:

[2019-07-18 12:55] gregfr commented on #99
That would be great to prepare site migration and avoid problems!

[2019-07-18 17:56] rocketraman commented on #753
I was looking for the same thing. I don't believe it does.

[2019-07-20 18:41] holyshipt commented on #83
HTTPie is awesome! :heart:

[2019-07-23 06:20] WeihanLi commented on #356
seemed not working with powershell,  ` 'rawBody' | http post :8080/api/events` worked for me

[2019-07-23 06:25] WeihanLi commented on #534
seemed not work for powershell, ` 'raw body data' | http post :8080/api/events` worked for me,
but still wanna a `-d, --data` to transfer a raw body data

[2019-07-24 08:20] WeihanLi opened #792 "how can I access https urls?"
when I try to access a https url, I got the error as follows:

[code]

Output:

HTTPie 1.0.2
Requests 2.19.1
Pygments 2.2.0
Python 3.7.0 (default, Jun 28 2018, 08:04:48) [MSC v.1912 64 bit (AMD64)]
c:\users\liweihan\anaconda3\python.exe
Windows 10

<Environment {
    "colors": 256,
    "config": {
        "__meta__": {
            "about": "HTTPie configuration file",
            "help": "https://

[2019-07-24 11:26] trollfred commented on #215
@jakubroztocil I would vote for this feature, using http-prompt is not always convenient

[2019-07-24 13:36] gadget1999 opened #793 "Stream mode not working for backend process"
I'm using the stream mode to get event updates from some web sites (for example, Google's Firebase real-time database). The solution works perfectly when the process runs in console. But it does not work well as a background process.

When runs as a background process, it works while the console starting the process is open. Once the console is closed, although the process is still running, it wil

[2019-07-24 19:35] gadget1999 commented on #793
found the issue, when using backend process, the stdout will be gone when console is closed. need to use some other way to get data when processing. Httpie is fine, the issue was with processing later. So closing this issue

[2019-07-24 19:35] #793 closed

[2019-07-25 14:30] fdcds commented on #414
`gnutls-cli` has the `--sni-hostname=...` option. It would be great to have that for `http` too, and it would prevent unexpected effects when re-using the value of a header for a different purpose (TLS and HTTP live on different OSI layers, so should be treated independently).

[2019-07-27 05:25] guoxy2016 commented on #83
HTTPie is awesome! :heart:

[2019-07-27 08:15] mustafaemirtan commented on #792
You can turn off SSL verification with
```http https://reservation.weihanli.xyz/api/Reservation --proxy=http://localhost:8888 --debug --verify no```.

[2019-07-27 14:45] mustafaemirtan commented on #769
I tested it with these codes:
[code]

[code]
As you see, it didn't send any data.
But when I write:
[code]
I will send a PR for make --form default.

[2019-07-29 04:07] WeihanLi commented on #792
@mustafaemirtan  thanks for your info

[2019-07-29 04:07] #792 closed

[2019-07-30 01:45] noahcoad commented on #215
+1  This would be helpful!

[2019-08-06 08:47] Tyson-Chicken-Nuggets commented on #83
HTTPie is awesome! :heart:

[2019-08-06 15:20] memory-yancy commented on #769
@mustafaemirtan  You should use `request.json` not `request.forms`, not a bug. See `README.md`: https://github.com/jakubroztocil/httpie#request-items

 Details also refer to: `http --debug :5600 name=Mustafa`

[2019-08-07 14:17] sahari6767 commented on #83
HTTPie is awesome! heart

[2019-08-07 17:37] marcusreaiche commented on #83
HTTPie is awesome! :heart:

[2019-08-10 03:27] aariafernandes commented on #566
[Q1 and ANS1.docx](https://github.com/jakubroztocil/httpie/files/3488465/Q1.and.ANS1.docx)

[2019-08-10 03:27] aariafernandes commented on #566
dddddddddddd

[2019-08-10 03:28] aariafernandes commented on #566
[Presentation.pdf](https://github.com/jakubroztocil/httpie/files/3488467/Presentation.pdf)

[2019-08-14 13:49] struckoff opened #797 "Not following 304 redirect with POST"
If I do this `http --all -F POST "http://127.0.0.1:37375` @data.csv
I get:
[code]
Server (:37375) logs says that redirect sent, but nothing appeared on :27375

If I do this using `curl -L` - works as expected, data sends to :27375

[2019-08-16 14:08] jkstrauss opened #799 "--pretty=all not working in Windows"
I am trying to use --pretty=all or --pretty=colors to color my output that I am piping to `less -r`. However, the colors do not show. This could also be solved by adding a paging option for long outputs (like in Git), but I understand that that is much more difficult. I am running this in Git Bash 2.21.0, and also in CMD on Windows piping to `more`. Neither do the coloring.

    $ http --debug --p

[2019-08-16 15:40] Relojerias commented on #644
http://www.labqurzor.com/# 644

[2019-08-17 14:37] AnakinM commented on #83
HTTPie is awesome! :heart:

[2019-08-18 14:28] gserm commented on #83
HTTPie is awesome_georgios! :heart:

[2019-08-19 06:59] virgo47 commented on #128
This feature should be default. I love HTTPie, but resorting the keys - while convenient for some usage - is confusing if you don't realize, that client tool does this. Piping `http` to `jq -C` is a workaround, but it should be default behavior. While the order is not probably that important for a machine, it may be for a human observer.

[2019-08-20 04:28] popeyelau commented on #83
HTTPie is awesome! :heart:

[2019-08-20 10:49] lathspell opened #800 ""SSL: CERTIFICATE_VERIFY_FAILED" should show cert at least with --debug"
When connecting to a site with a broken TLS certificate, httpie only displays the one-liner Python error message.

It would be nice, if it would print the certificate chain in human readable form, maybe even with a hint that e.g. the intermediate certificate is no longer valid, the common name does not match or the certificate is self signed.

[2019-08-20 21:31] dodocamilo commented on #83
HTTPie is awesome! :heart:

[2019-08-22 00:24] alex-tudan commented on #83
HTTPie is awesome! :heart:

[2019-08-22 17:39] dphbo commented on #83
HTTPie is awesome! :heart:

[2019-08-27 16:33] spaceone opened #802 "http: error: ConnectionError: ('Connection aborted.', HTTPException('got more than 100 headers',)) while doing GET request to URL"
[code]

httpie is not usable for applications which use a lot of HTTP headers (e.g. the `Link` http header).

[2019-08-29 07:39] #802 closed

[2019-08-29 07:47] jakubroztocil commented on #802
Thanks for the report. This is fixed in `master`. https://github.com/jakubroztocil/httpie/blob/master/CHANGELOG.rst

[2019-08-29 07:49] spaceone commented on #802
Thank you! :-)

[2019-08-29 08:01] jakubroztocil commented on #784
Thanks for the report, @rseichter. I think this has just been fixed in master with https://github.com/jakubroztocil/httpie/commit/e93de1fbe7cc811735137fab037a52d6761c7f9e.

[2019-08-29 08:01] #784 closed

[2019-08-29 08:02] jakubroztocil commented on #769
This is the intended behaviour (json by default, form with `--form`).

[2019-08-29 08:02] #769 closed

[2019-08-29 08:25] jakubroztocil commented on #759
https://httpie.org/doc#redirected-input

[code]

[2019-08-29 08:25] #759 closed

[2019-08-29 08:28] jakubroztocil commented on #755
@akkartik thanks for bringing this up, however, this change is not planned.

[2019-08-29 08:28] #755 closed

[2019-08-29 09:53] jakubroztocil commented on #764
What URL are you calling?

[2019-08-29 09:53] #764 closed

[2019-08-29 10:00] #740 closed

[2019-08-29 10:00] jakubroztocil commented on #740
Fixed, thank you

[2019-08-29 11:08] #608 closed

[2019-08-29 11:50] jakubroztocil commented on #778
Please try it with the `--stream` option. https://httpie.org/doc#disabling-buffering

[2019-08-29 11:50] #778 closed

[2019-08-29 11:57] rseichter commented on #784
I'll try to test this over the coming days. My own temporary "fix" was [a patch](https://github.com/gentoo/gentoo/pull/12352/files?file-filters%5B%5D=.patch) that extends the expected substring.

[2019-08-29 12:05] #738 closed

[2019-08-29 12:05] jakubroztocil commented on #738
Fixed in `master`. Thanks

[2019-08-29 12:10] #604 closed

[2019-08-29 12:19] jakubroztocil commented on #711
Thanks but `--download` is meant to download files and exit with an error if the server indicates there is one. If you wish to store the response body regardless in a file of the response status code then you can just use `http https://httpstat.us/500 > output.dat`.

[2019-08-29 12:19] #711 closed

[2019-08-30 04:11] Eleskovic commented on #290
this worked on me. thank you so much!

[2019-08-30 11:45] gnulnx commented on #609
Actually this is an issue with httpie.  My gunicorn timeout is 90s and httpie is still stopping at 30s... I know gunicorn isn't timing out because a few seconds after httpie dies I see the server output results in the log.

[2019-08-30 12:23] jakubroztocil commented on #609
@gnulnx there's a default 30s _connection_ timeout which you can change via `--timeout=n`.

(The default timeout will be removed in v2.0.0.)

[2019-08-31 10:09] #730 closed

[2019-08-31 10:09] jakubroztocil commented on #730
Thanks, @gregschibsted . `--ignore-netrc` is now implemented in `master`.

[2019-08-31 10:31] #676 closed

[2019-08-31 10:35] jakubroztocil commented on #601
Closing in favour of #600

[2019-08-31 10:35] #601 closed

[2019-09-01 21:46] xxKeith20xx commented on #580
Had the same issue on debian 10 - testing - ran a `sudo apt install --reinstall httpie` and saw it work fine after. 👍

[2019-09-03 08:52] amiteshrai commented on #83
HTTPie is awesome! :heart:

[2019-09-03 15:22] jakubroztocil commented on #639
This has now been pushed to `master` in bece3c77bb51ecc55dcc4008375dc29ccd91575c) and it will be released when v2.0.0 comes out. Each request and response is now handled independently as they are available. Also added `--offline` for dry runs.

[2019-09-03 15:22] #639 closed

[2019-09-03 15:23] #581 closed

[2019-09-03 15:23] #580 closed

[2019-09-03 18:14] kmosiejczuk commented on #182
Sorry to comment on this necro-issue. I figured I'd do that rather than open a new issue on the same issue.

There are lots of python packages that include tests in the OpenBSD ports tree. Python dateutil and pytest are two packages off the top of my head that I know ship the tests in the PyPI tarball. I can come up with more examples if you'd like.

I can submit a pull request for the change to M

[2019-09-03 20:35] jakubroztocil commented on #182
Starting with v2.0.0 tests will be included in the pypi package.

[2019-09-03 23:27] kmosiejczuk commented on #182
Thank you!

[2019-09-08 18:40] piotrl commented on #83
HTTPie is awesome! :heart:

[2019-09-10 07:46] khadrawy commented on #797
Could you please give more info about the environment you run on? windows? I can't reproduce this issue on macos.

I ran this server:
[code]

locally, and executing `http --all -F POST http://127.0.0.1:5000/ hello=World` gives me:

Date: Tue, 10 Sep 2019 07:39:40 GMT
Location: http://www.example.com
Server: Werkzeug/0.15.5 Python/3.7.4

[2019-09-19 13:33] rkhozinov commented on #83
HTTPie is awesome! :heart:

[2019-09-29 05:59] LiteracyFanatic commented on #83
HTTPie is awesome! :heart:

[2019-09-30 12:59] chubin opened #805 "Feature Request: Automatically pass information about the terminal in HTTP headers"
1.  Automatically pass information about the terminal in HTTP headers

It would be great (when some special key, something like -t)
is specified, to pass information about the terminal (to which
the client is attached) as HTTP-headers.

That means, that
[code]
is equivalent to:
[code]
Of course, the last three headers make sense only if terminal
is attached.

Reason:

    Services like wttr.in, ch

[2019-09-30 13:01] chubin opened #806 "Feature request: Magic mode (or busybox, or httpbox mode)"
(from email discussion with Jakub)

2. Magic mode (or busybox, or httpbox mode)

If would be greate if it would be possible to add a new mode
to HTTPie, that works like this:

if the programm was called not using its main main (`http`),
but using some other name (because the name was hardlinked
or symlinked to http), that would mean that HTTPie should
access the service with that name, and should

[2019-09-30 15:17] jakubroztocil commented on #805
[copying from our email conversation] This would be better served by a plugin. The API currently doesn’t support custom options but I will see if I can change the API for the upcoming v2.0 release.

[2019-10-15 06:15] Charles-one opened #807 "charset not utf-8, so not support chinese"
charset not utf-8, so not support chinese

[2019-10-15 13:07] vorburger commented on #315
I've just hit this problem on https://github.com/apache/fineract/pull/644, with whatever versions `apt-get install httpie` installs on Travis CI (with `dist: trusty`).  Using `--verify=no` (NOT ` --verify no` !) fixed it. (You will NOT want to use this for a public website with SSL; in my case, it was just for a https://localhost:8443/... with a self signed certificate.)

FYI this anchor seems to

[2019-10-15 21:06] c0b commented on #427
the whole Python2 deprecated;   some maintainer can take a look of the pending PRs?   from contributor graphs it looks like @jakubroztocil @msabramo still active?

[2019-10-16 11:43] Remzi1993 commented on #183
@jakubroztocil `--all` doesn't work for me, I try to do: `http --all -v :3000`

[2019-10-18 14:42] rishid opened #809 "Config by host"
It would be great if there was a way to specify config options by hostname including wildcards similar to ssh config.

Fro example, it would allow users to choose appropriate client certs for accessing dev web server versus a prod web server

[2019-10-20 05:49] noahcoad commented on #452
What's the latest here?  I'm also seeing "http: error: Request timed out (30s)." for large files

[2019-10-21 13:09] sulphur1010 commented on #83
HTTPie is awesome! :heart:

[2019-10-22 06:30] northrup commented on #692
@jakubroztocil hitting this up again as I had a need to test http/2 from a CLI but had to fall back to `curl` to get it done :/

[2019-10-22 15:54] muhalitas commented on #437
thanks! solved issue.

[2019-10-22 20:19] mauriciolucas22 opened #810 "How to resolve when url is offline or does not exists?"
Hi! When an url is offline my api server send an error and stop. How to limit time to break a resquest ?

Thanks...

[2019-10-22 20:31] mauriciolucas22 commented on #810
502 Bad Gateway

[2019-10-29 16:36] Guillaume-Mayer commented on #735
Same issue here.
I think it is because the "OK" is missing in the status line (ie "200" instead of "200 OK").
Somer servers don't return it, this is the default in Tomcat for example.
[RFC 7230 states that clients should ignore it.](https://tools.ietf.org/html/rfc7230#page-22)

[2019-10-29 16:42] Guillaume-Mayer opened #811 "Http headers colors should be based on status code only"
As I commented in #735, some servers (eg Tomcat) don't return the reason-phrase, and it seems valid not to ([RFC 7230](https://tools.ietf.org/html/rfc7230#page-22)).
So "200" (instead of "200 OK") should not render headers in red, I think.

[2019-10-31 14:09] onriv opened #812 "config.json cannot be load occassionally in multiprocess usecase"
It seems that during http request, the file config.json will be cleaned and update. In multiprocess usecase, sometimes httpie would read an empty config file and occurs an error.
The thrown exception are:

[code]

[2019-11-02 03:05] budasuyasa commented on #83
HTTPie is awesome! :heart:

[2019-11-02 11:26] wataash opened #813 "Document JSON-escaping in "=" syntax"
In `=` syntax, special characters:

- not a `char` defined in [RFC 8259](https://www.rfc-editor.org/rfc/rfc8259) 7. Strings
- non-ascii characters (such like "あ")

are escaped, and `:=` escapes only non-ascii characters:

[code]

![image](https://user-images.githubusercontent.com/4846670/213856464-e4733d38-64e7-4128-b000-ab976a95519e.png)

(The output of `http -v` is somewhat confusing, so I paste

[2019-11-02 11:27] wataash commented on #813
I found a solution by using `:=`:

[code]

I keep this open to create a pull request related to this.

[2019-11-03 05:51] wataash opened #814 "":=" doesn't send non-ascii characters as "raw""
On my shell and terminal, non-ascii arguments are encoded in UTF-8:

[code]

The document says `:=` is "Raw JSON fields", so I expected `a:='"あ"'` to send `0x 7b22 6122 3a20 22e3 8182 227d` (`{"a": "あ"}`) as is, but actually it [ensures ascii](https://github.com/jakubroztocil/httpie/blob/1.0.3/httpie/client.py#L137), sending `{"a": "\u3042"}`.

I think it's counter-intuitive, and should be warned

[2019-11-03 21:34] Bad3r commented on #692
same issue i guess curl will always be better its been more than year.

[2019-11-07 05:14] johnnymetz commented on #215
+1 Must have this!

[2019-11-07 09:23] deronnax commented on #325
what about merging it in httpie with a `--curl` option ?

[2019-11-07 13:48] deed02392 commented on #477
I have made an alias for `man httpie` that does `open https://httpie.org/doc` xD

[2019-11-11 10:43] zoulja opened #815 "More user-friendly curl-like output in case of error"
I really love HTTPie for the cases when everything works fine, but if HTTPie can't establish connection by some reason then I always have to switch back to curl to perform troubleshooting

Example:
`http: error: ConnectionError: HTTPSConnectionPool(host='myhost', port=32075): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x6ff

[2019-11-12 09:54] dimisjim commented on #99
This can be achieved via `dig +short <host>`. It's a DNS thing, not really HTTP

[2019-11-13 09:00] lapo-luchini commented on #99
`dig` is used to query the DNS, the proposed `--resove` is used to force resolution of an address during an HTTP fetch (probably to a value the DNS server doesn't yet have but will have in the future, after this testing is done).
It's rather an alternative to editing `/etc/hosts` than it is to using `dig` (or `drill`, or similar).

[2019-11-13 16:13] melancholiaque commented on #83
wake the fuck up, samurai. matrix has you

[2019-11-14 18:46] rbarot opened #816 "Is there a way to bypass the param in CURL post api command and pass it through Body?"
Currently I am using

`C:\Curl\curl-7.67.0-win32-mingw\bin\curl.exe -H "Content-Type: application/json" -X POST "https://graph.facebook.com/v4.0/550240362387516/events?upload_tag="store_data"&access_token=xxxxxxxxxxxxxxx" -data "@C:\temp\Test.txt" `

which is giving me an error as parameter required.Required Parameter are "upload_tag" and "data".Given that  I don't  want to upload the 1 record at

[2019-11-16 13:10] johan-lejdung commented on #122
I'd really see a need for this, are there any plans to implement it?

[2019-11-17 05:12] Restia666Ashdoll commented on #58
Would love to install it through Scoop with `scoop install httpie`. It's okay if Python is a dependency.

[2019-11-22 23:50] ahmadnassri commented on #534
according to the docs you can use a "Bash here string":
[code]

[2019-11-25 15:40] adamchainz commented on #788
Same here, I can reliably replicate with GNU Parallel and a fast localhost server:

[code]

[2019-11-25 16:58] jwgcooke commented on #812
This is a duplicate of #788

[2019-11-27 22:33] tedmiston commented on #788
I am hitting this one as well using multiple subprocesses programmatically.  Anyone have a recommended workaround?

[2019-11-30 10:07] kalashnibuiz commented on #83
HTTPie is awesome! :heart:

[2019-12-01 14:26] Restia666Ashdoll opened #817 "httpie in Scoop"
Warning : Uninstall Python if you dont have it installed through Scoop.
I havent yet made a pull request(I guess this qualifies for the main bucket) to scoop but you can install and test it by
`scoop install https://gist.githubusercontent.com/Restia666Ashdoll/147a46b3d8d7a91eb53c8c1c7824d9b7/raw/httpie.json`
And uninstall with `scoop uninstall httpie`
https://gist.github.com/Restia666Ashdoll/147a4

[2019-12-02 16:43] #788 closed

[2019-12-02 16:43] #812 closed

[2019-12-02 16:45] jakubroztocil commented on #788
Fixed in `master`, thanks!

[2019-12-02 16:45] jakubroztocil commented on #812
Fixed in `master`, thanks!

[2019-12-02 19:16] jakubroztocil commented on #811
Thanks for the explanation. I’ve submitted a pull request to Pygments, the underlying highlighting library — https://github.com/pygments/pygments/pull/1322.

[2019-12-02 22:56] stefanalex99 commented on #787
Hello, has anyone started working on this? I would like to give it a try

[2019-12-03 09:14] CaselIT opened #818 "Send unencoded comma as URL parameter value"
I'm trying to send an unencoded comma in the value of an url parameter. Using `foo==bar,baz`  will escape the comma with `%2C`. I've tried adding one or more escapes, but does not work (it sends the escapes in the value, percent encoded.)

This applies also to other characters in the url parameter value (like `#`), so the general question is if there is a way to turn off encoding of url parameter

[2019-12-03 11:25] jakubroztocil commented on #818
The `param==value` syntax is meant as a convenience method where you can safely use any string and HTTPie applies URL-escaping as documented in https://httpie.org/doc#querystring-parameters.

[code]

[code]

If you want to specify the exact URL, then simply avoid the `==` syntax:

[code]

[code]

[2019-12-03 11:25] #818 closed

[2019-12-03 11:28] RIZWAN0061 commented on #818
Hi brother I needed to Target Facebook account commands

On Tue, Dec 3, 2019, 4:25 PM Jakub Roztocil <notifications@github.com>
wrote:

[2019-12-03 11:36] jakubroztocil commented on #816
Can you please elaborate?

[2019-12-03 11:54] CaselIT commented on #818
Ok, makes sense.
Thanks

[2019-12-03 11:57] RIZWAN0061 commented on #818
I m not understand your talk please explain

On Tue, Dec 3, 2019, 4:54 PM Federico Caselli <notifications@github.com>
wrote:

[2019-12-03 11:58] jakubroztocil commented on #642
Solved via Github Actions CI, thanks everyone.

[2019-12-03 11:58] #642 closed

[2019-12-04 03:04] CoderAT13 commented on #83
HTTPie is awesome! :heart:

[2019-12-04 09:22] marhel commented on #685
We're doing a hackathon at work today, and will see if we can manage to add this!

[2019-12-04 09:34] jakubroztocil commented on #685
@marhel thanks for thinking about HTTPie for your hackaton!

I'm currently working on streamed/chunked uploads (which is a bigger project) and I it would be difficult to implement the upload progress bar with the current upload behaviour, and also the implementation would have to change pretty drastically once the streaming uploads are in place. On the other hand, with proper upload streaming, it

[2019-12-04 11:08] timgates42 opened #822 "Fix simple typo: downland -> download"
There is a small typo in httpie/downloads.py.
Should read download rather than downland.

[2019-12-04 11:40] marhel commented on #685
@jakubroztocil thanks for the heads up, we instead did a few minor PRs that was blocking our contributing, such as getting the tests working on windows and other issues.

[2019-12-04 12:32] #822 closed

[2019-12-07 11:11] jakubroztocil commented on #811
My PR has already been merged so the fix should be included Pygments 2.5.3 once released (https://pypi.org/project/Pygments/#history).

[2019-12-07 11:11] #811 closed

[2019-12-07 19:28] Restia666Ashdoll commented on #817
I updated it a bit. If you have Python installed from external source, you can now use `scoop install https://gist.githubusercontent.com/Restia666Ashdoll/147a46b3d8d7a91eb53c8c1c7824d9b7/raw/httpie.json -i` instead, this will ignore the python dependency(and throw an error if you dont have Python installed).

[2019-12-08 08:13] strindberg opened #824 "Cookies from original request cannot be combined with response cookies in session file"
Consider the following request:

[code]

If the server sets cookies `XSRF-TOKEN` and `JSESSIONID`, the session file will look like this:

[code]

When the request is repeated with the same session file (but without the sAuth given on the command line), the result is that only the cookie sAuth is sent, not the cookies `JSESSIONID` and `XSRF-TOKEN`:

[code]

Request:

[code]

I would have expected t

[2019-12-11 15:41] vanyakosmos commented on #83
HTTPie is okay

[2019-12-12 21:49] jwgcooke commented on #788
Is there a plan to release this or should I just build off of master?

[2019-12-19 03:23] #509 closed

[2019-12-19 03:26] #592 closed

[2019-12-19 18:09] Restia666Ashdoll commented on #817
So, I did make a pull request. Sadly, it was rejected by Scoop mods
https://github.com/ScoopInstaller/Main/pull/648

[2019-12-19 18:09] #817 closed

[2019-12-23 17:04] benjamingarcia commented on #569
Hi! any update?

[2019-12-24 15:43] kimbo commented on #569
If urllib3 does something like [this patch](https://gitlab.com/snippets/1900824), you could write a HTTPAdapter for requests to get it to work.

[2019-12-29 10:11] Hubbitus opened #825 "Please add option to reformat XML body"
[code]
![image](https://user-images.githubusercontent.com/720349/71555361-6e96c380-2a3c-11ea-8952-02878e9928e8.png)

So output even colorized. But it lack of indentation structure. It will be very cool to see said `--reformat` option (f.e. like in [highlight](https://gitlab.com/saalen/highlight)).

[2019-12-30 03:00] adibikar opened #826 "Please add more information (--verbose)"
In `--verbose` there are less information like TLS handshake (`curl --verbose`). Could you add more information on `--verbose`?

[2020-01-01 22:19] seanthegeek opened #827 "Use filename form redirects when downloading to a file"
Running

[code]

to download the Visual Studio Code installer currently saves the installer as a file named `fwlink`, rather than the actual filename of the installer.

[code]

[code]

`httpie` should save the file as `VSCodeSetup-x64-1.41.1.exe` instead to match the filename of the final redirect, like any browser would.

[code]

[code]

[code]

[code]

[code]

[2020-01-02 16:36] zied-guesmi commented on #534
UI-wise, the option makes sense.

[2020-01-02 21:20] zeknox commented on #226
It would be nice if the the utility also accepted `--verify=false`

[2020-01-02 21:57] nmtitov commented on #128
Knock-knock... 7 years after... any updates?

[2020-01-03 14:06] gsscoder opened #828 "Hangs up on Git Bash (Windows)"
First of all let me thankyou for wonderful project! It works perfectly on any platform I use.

Anyway on **Windows** (installed via `pip`), when it runs on **Git Bash** doesn't produce any output and blocks the shell. On **PowerShell** works perfectly.

System is **Windows 10**, **GitBash** is the latest at the moment of writing.

Have a nice day

[2020-01-07 08:19] jacktan1991 commented on #645
ref: https://gist.github.com/dalegaspi/7d336944041f31466c0f9c7a17f7d601

[2020-01-07 13:56] tiagomsmagalhaes opened #829 "Cannot install with apt-get"
I tried to install on Ubuntu 18.04.3 and got the following

[code]

[2020-01-07 13:58] tiagomsmagalhaes commented on #829
Do an initial `apt update && apt upgrade` and it should work

[2020-01-07 14:01] tiagomsmagalhaes commented on #829
After all may not be installed

[code]

[2020-01-07 14:47] tiagomsmagalhaes commented on #672
@om26er why does the snap have a different name, httpee?

[2020-01-07 14:51] frececroka commented on #829
I think the command is simply `http`, not `httpie` :wink:

[2020-01-07 14:59] tiagomsmagalhaes commented on #829
I don't even.. and i was using in another machine. @frececroka thanks nonetheless

[2020-01-07 14:59] #829 closed

[2020-01-07 15:01] om26er commented on #672
thats because the name http and httpie was already taken, so for testing purposes I uploaded using the alternate name. Note: I am not associated with httpie project so thats unofficial.

[2020-01-07 15:06] tiagomsmagalhaes commented on #672
is httpie still taken on snapcraft?

[2020-01-07 15:37] om26er commented on #672
If this project wants, we could claim that back no problem. I could even help with that. So we could claim both `httpie` and `http`. So a user install snap would run `snap install httpie` and the commandline would be `http`.

Could the maintainers please comment ^

Are you involved

[2020-01-08 05:27] ft9738962 commented on #83
HTTPie is awesome! :heart:

[2020-01-10 20:25] forivall opened #835 "Punycode support"
I wanted to use https://twitter.com/rfreebern/status/1214560971185778693 with httpie, alas,

[code]

Should resolve to `http://xn--9q8h:6677`

[2020-01-12 10:41] lelelemonade commented on #83
HTTPie is awesome! :heart:

[2020-01-13 13:32] ola-dola commented on #83
Wetin be this?

[2020-01-16 10:15] HarshaVardhanNakkina commented on #83
HTTPie is awesome! :heart: :heart: :heart:

[2020-01-17 00:26] digitalcoyote commented on #58
I'd be willing to create/maintain a package for Chocolatey. Let me know if this is still desired.

[2020-01-17 10:07] vytas7 opened #836 "Python 3.5 is unsupported, although advertised in setup.py"
Hello!
And thanks for the great HTTP client.

I've noticed an issue with the latest release (`2.0.0`) + CPython 3.5: the Trove classifiers in `setup.py` list Python 3.5 among supported programming languages.
Furthermore, `setup.py` does not define any `python_requires` that could help `Pip` choosing the right version.

However, it seems that `httpie` has already embraced f-strings, which are unsup

[2020-01-18 00:17] smilegod888 opened #837 "git clone https://github.com/curl/curl-www.git"
git clone https://github.com/curl/curl-www.git

[2020-01-18 10:02] hmeine opened #838 "Allow specifying default hostnames (instead of localhost)"
This seems to be related to #215 and #180, but is not a pure duplicate:
I would like to be able to create an alias or shell function for accessing a certain rest API requiring authentication. I started with

    function girder {
        https --session=~/.girder_session.json girder.host.local.lan/api/v1/$1 ${@:2}
    }

but my main problem is that I cannot change the HTTP method (e.g. to PUT or P

[2020-01-18 10:07] hmeine commented on #505
As I just posted in #506, that's not only a good idea. One could consider a `httpie` frontend that writes usage instructions (pointing to `http` or `https` executables) to stderr and bail out, but maybe that's just cruft.

[2020-01-19 00:19] tg-z commented on #83
HTTPie is awesome! :heart:

[2020-01-19 13:13] rominf opened #839 "Multi-connection download for --download mode"
`aria2` command-line download utility and `pySmartDL` Python library can download files using multiple connections. It would be nice if `httpie` had this feature too.

[2020-01-20 02:24] kinboyw commented on #83
HTTPie is awesome! :heart:

[2020-01-20 09:34] AxelVoitier opened #840 "[>=2.0.0] ValueError: Data must not be a string."
Hello,

Since the release of 2.0.0, all my CI builds have been failing on the same error from httpie :-(.

I use httpie to post test results to AppVeyor API:
[code]

Now it fails with:
[code]

As AppVeyor has a way to block a build execution and log on the machine by ssh, I tried to repeat the command manually. And there, quite strangely, it works...:
[code]

[code]

More strangely, if I then unbl

[2020-01-20 23:24] bsolomon1124 commented on #836
Addressed in PR https://github.com/jakubroztocil/httpie/pull/841.

[2020-01-22 16:32] mike-pt opened #842 "Exit status "4" when using download with continue and file is already present"
[code]

[code]

This makes it a hard to test for 40x http errors. Is this by design or a bug?

[2020-01-22 16:48] mike-pt commented on #842
FWIW this is my way of handling it for now, but it seems wrong to show "4" in such cases.

[code]

[2020-01-23 14:04] jakubroztocil commented on #842
Can you include the entire output of the first example?

[2020-01-23 14:23] jakubroztocil commented on #840
@AxelVoitier thanks for the report.

When you invoke HTTPie from the AppVeyor script, then HTTPie’s stdin is redirected and it tried to read it.  It’s easy to reproduce it with:

[code]

---

The solution is to include `--ignore-stdin` in the command (see https://httpie.org/doc#scripting for more details):

[code]

---

The bug here is that HTTPie doesn't fail with the following error as it does w

[2020-01-23 14:55] #840 closed

[2020-01-23 14:57] #837 closed

[2020-01-23 14:58] jakubroztocil commented on #836
Fixed, thanks.

[2020-01-23 14:58] #836 closed

[2020-01-23 14:58] AxelVoitier commented on #840
Hello,

I can confirm it works with --ignore-stdin. Thanks :).

Cheers,
Axel

[2020-01-23 21:38] mike-pt commented on #842
that's the entire output when the file already exists actually

[2020-01-23 21:38] mike-pt commented on #842
or do you mean with headers too?

[2020-01-24 11:22] jakubroztocil commented on #842
Just copy the entire output.

[2020-01-24 17:55] mike-pt commented on #842
In that case that is it, I simple replaced the real url for privacy reasons.

[2020-01-25 08:23] jakubroztocil commented on #842
I don’t need the exact url. But without the compete output I can’t help.

[2020-01-26 15:54] perezzini commented on #83
HTTPie is awesome! :heart:

[2020-01-26 16:24] mike-pt commented on #842
But how can I provide any output when none exists!? Or are ou saying it should!? What happens your side when you try to do the same?
I mean download a url with -co when the file was already downloaded... do you see output!? I see nothing and the exit code is 4.

[2020-01-28 15:46] bredmor opened #844 "Stack trace when trying to issue POST request with list"
Any POST request containing an array/list causes a stack trace and exit for me on Ubuntu 19.10

Ex:
[code]

I'm not sure exactly what's going on, but judging from similar errors in this repo and the context of the functions being called, I'd venture a guess that the package is trying to write to something  outside my home directory, which it does not have access to.

If this is correct, and whatev

[2020-01-28 22:40] jftuga commented on #58
I was able to build a stand-alone `http.exe` binary inside of the `mcr.microsoft.com/windows/servercore:ltsc2019` Docker container with Python 3.7.6 and PyInstaller 3.6. Docker Desktop 2.1.0.5 was used.

These are the command

Outside the container:

    mkdir c:\temp\outside
    docker run -t -i --mount type=bind,src=c:\temp\outside,dst=c:\inside -w  c:\ mcr.microsoft.com/windows/servercore:ltsc2

[2020-01-29 09:15] huanhuanjujie commented on #83
HTTPie is awesome! :heart:

[2020-01-29 11:09] tothricsaj commented on #83
HTTPie is awesome! :heart:

[2020-01-30 05:58] sergeevabc commented on #58
@jftuga, would you care to share your ```http.exe``` with mere Windows users without compiler stuff?

[2020-02-01 02:13] td-ii opened #845 "node"

[2020-02-01 02:13] #845 closed

[2020-02-01 05:46] martindsouza opened #846 "What tool was used to create the anitmated gif?"
I realize this is off topic / not a real issue but what tool was used to create animated gif on the home page? cc: @loranallensmith

[2020-02-03 04:03] jftuga commented on #58
@sergeevabc

https://github.com/jftuga/HTTPie-Windows

Please read the **Warnings** section before using this.

[2020-02-03 23:12] sergeevabc commented on #58
@jftuga, works as expected, at least basic actions. Thank you, sir.

[2020-02-05 07:12] CyberMew commented on #83
HTTPie is awesome! :heart:

[2020-02-05 07:12] CyberMew commented on #83
HTTPie is awesome! :heart:2

[2020-02-06 10:07] CyberMew opened #847 "http: error: ValueError: Data must not be a string."
$ http --verbose --auth-type=veracode_hmac -f "https://analysiscenter.veracode.com/api/5.0/uploadlargefile.do" "app_id==$APP_ID" "file@build/veracode.bca" "filename==veracode.bca"

I ran the above command and I am getting this error `http: error: ValueError: Data must not be a string.`. Any ideas why?

[2020-02-06 12:08] minusf commented on #534
i can't seem to find a way to send an empty json object (`{}`) which is a strange but valid use case.

[2020-02-06 18:27] gawi opened #848 "http: error: ClassNotFound: no lexer for alias 'json' found"
[code]

With `--pretty=none`:

[code]
Additional info:
[code]

[code]

[code]

[code]

NOTE:  epel = Extra Packages for Enterprise Linux 7 - x86_64

[code]

[2020-02-06 21:47] gawi commented on #848
To try it from docker:

$ **docker run --rm -it centos:7**

[root@98afac715b08 /]# **yum -y -q install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm && yum -y -q install httpie httpd**
[root@98afac715b08 /]# **/usr/sbin/httpd**
[root@98afac715b08 /]# **echo "{}" > /var/www/html/a.json**
[root@98afac715b08 /]# **http --json http://localhost/a.json**
HTTP/1.1 200 OK
Accept-R

[2020-02-07 02:29] CyberMew commented on #847
Refer to https://github.com/jakubroztocil/httpie/issues/840

[2020-02-07 02:29] #847 closed

[2020-02-07 03:58] CyberMew opened #849 "[2.0.0] "binary data not shown in terminal" fails when used with GitLab CI"
"binary data not shown in terminal" appears when using on terminal directly, but not when via GitLab CI. It literally dumped the whole file out to the log file, triggering a job fail.

[2020-02-07 05:15] CyberMew opened #850 "[2.0.0] Force Content-Type"
Trying to submit a form via POST with several params (in the url) and a binary file is being sent.
httpie is trying to set `Content-Type: multipart/form-data` or something but I need it to be `Content-Type: binary/octet-stream` as this is what the server is expecting, any ideas how to configure it?

I tried adding a `"Content-Type: binary/octet-stream"` to no avail, it either doesn't do anything o

[2020-02-09 05:08] bhoj001 commented on #83
HTTPie is awesome! :heart:

[2020-02-10 11:14] plo- commented on #122
Any news?

[2020-02-12 05:38] #850 closed

[2020-02-12 14:04] milapop opened #851 "yum install httpie - not working?"
Help?

`# yum install httpie
CentOS-8 - AppStream                                                                                                         718 kB/s | 6.4 MB     00:09
CentOS-8 - Base                                                                                                              1.4 MB/s | 5.0 MB     00:03
CentOS-8 - Extras

[2020-02-14 10:00] pszlazak opened #852 ".netrc not honored if auth-type is used"
Once `--auth-type` switch is used, `.netrc` is not honored. Authentication details must be provided via `--auth` switch.

Details:
[code]

[2020-02-15 17:10] rca opened #853 "Cookies set to expire in HTTP response are not removed from session file"
When using the `--session` option and storing a session in a file, when the response includes a `Set-Cookie` header that sets a cookie to a date in the past, the cookie is not cleared out of the session file as I would expect.  Because of this, for example, cookies that are set to expire remain in the session and are still sent in subsequent requests.

Thank you.

[2020-02-17 12:22] akdnfbf opened #855 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 15:02] helen119 opened #856 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 19:24] heken375 opened #857 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 23:21] mike-pt commented on #842
Just an update on this I later found the file is also always created (0 byte) if the requests fails!

I.e even on 404 the request would fail but we create a 0 byte file! I noticed cause to work around the 416 I was using test -f in the shell script and it was passing; just curios if that is the intended behavior? (fine by me I'll just change the test to -s but  just wanted to be sure that's intend

[2020-02-18 11:17] helen225 opened #858 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 12:31] petercole3 commented on #83
Yeehaw! HTTPie is awesome! :heart:

[2020-02-19 06:02] AzazeII commented on #83
HTTPie is awesome! :heart:

[2020-02-19 17:20] kate5586 opened #862 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 18:31] renata117 opened #863 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-20 08:33] milena5511 opened #866 "HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰💰💰"
HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰 💰 💰
ESCROW VERIFIED💎💎💎
👇 👇 👇

https://tinyurl.com/sr7r3e4

[2020-02-22 15:21] pplmk0320202563 opened #868 "https://www.facebook.com/profile.php?id=100046781831666"
Code Facebook

[2020-02-22 15:21] #868 closed

[2020-02-22 15:21] pplmk0320202563 commented on #868
https://www.facebook.com/profile.php?id=100046781831666

[2020-02-22 15:24] pplmk0320202563 opened #869 "https://www.facebook.com/profile.php?id=100046781831666"
https://www.facebook.com/profile.php?id=100046781831666

_Originally posted by @pplmk0320202563 in https://github.com/jakubroztocil/httpie/issues/868#issuecomment-589966014_

[2020-02-22 15:24] pplmk0320202563 commented on #869
https://github.com/jakubroztocil/httpie/issues/869#issue-569349007

[2020-02-22 15:24] pplmk0320202563 commented on #869
https://github.com/jakubroztocil/httpie/issues/869#issue-569349007

[2020-02-22 15:24] #869 closed

[2020-02-25 08:20] shafr opened #870 "[Feature request] Support for --ciphers command"
It is possible to specify specific cipher that you want to test with in CURL - by using --ciphers.

At the moment I was not able to find one for httpie.

Please add one.

This would allow for testing for obsolete and vulnerable ciphers.

[2020-02-27 19:51] gromovadarya90 opened #871 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:01] renata2216 opened #872 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:21] renata7738 opened #873 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:24] renata7738 opened #874 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:34] helen798 opened #875 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:26] helen78989 opened #877 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-29 03:13] leoheck opened #880 "& Ampersand issue with GET method"
Hi, I have a website where I can set my wifi SSID and the password.
Setting with browser, I can fill the form with a password that has `&` characters. This works just fine.

However, I can't set the same with httpie.

I am trying to send this `&` character with the URL parameter `(?q=search)` like:
[code]

With the verbose mode, I see that the URL becomes like:
```http://ip/cgi-bin/configManager.c

[2020-03-02 22:20] leoheck commented on #880
I added the same question here, too.
https://amcrest.com/forum/viewtopic.php?f=18&t=13582

[2020-03-03 12:39] faheel commented on #155
@sigmavirus24 Nope, the issue still exists in HTTPie v2.0.0:

[code]

[2020-03-03 14:58] sigmavirus24 commented on #155
@faheel the Requests bug was resolved, it seems there's some other bug is at play the URL constructed. The _correct_ URL is `http://[2606:4700::6812:748]`

[2020-03-04 11:09] faheel commented on #155
@sigmavirus24 Thanks! I didn't know that's how IPv6 addresses need to be written in URLs.

[2020-03-05 17:07] jakubroztocil commented on #880
@leoheck the param `name==value` notation automatically escapes any special characters in the name and value (https://httpie.org/doc#querystring-parameters).

Ampersand is a special character here because it is used as the delimiter, so the only way to send a literal ampersand is to URL-escape it (`%26`).

A correctly behaving server will then unescape the querystring and end up with the correct v

[2020-03-05 17:07] #880 closed

[2020-03-05 17:24] leoheck commented on #880
@jakubroztocil you are totally correct. The `&` is the most reserved character in this scenario.

Should I code the `&` manually or the `hhtpie` will do that for me?

In the example you gave me, you are coding the `&` by yourself. I am also doing that, but it does not work like in your example.

**However, your URL example does not look like mine.** It doesn't have the .cgi part. But I have no kno

[2020-03-05 17:39] leoheck commented on #880
This is the only page I found about this subject.
http://xahlee.info/js/url_encoding.html

However the `&amp;` also didn't work for me. I also tested with `%26amp;`. Also, double encoding manually like `%2526` and `%2526amp;`

[2020-03-05 17:45] jakubroztocil commented on #880
@leoheck your original command is correct — it uses the `==` syntax, which does the escaping automatically.

[2020-03-05 17:49] leoheck commented on #880
Yeah, so, is it possible to disable this by default to test it? I was not able to find a flag that does that.

[2020-03-05 17:56] jakubroztocil commented on #880
Yes, just specify the full desired URL without using the `==` notation

[code]

[2020-03-05 18:00] leoheck commented on #880
Cool, I see. And it will still use the get method, right?

[2020-03-05 19:36] jakubroztocil commented on #880
Yup

[2020-03-06 17:27] nhooey opened #882 "Documentation example showing how to post raw JSON to some route"
It's not clear from the website's documentation, or the `--help` output, how to do the following equivalent curl task:

**Post a raw JSON query to ElasticSearch:**
[code]

The examples seem to show how to post form values and other stuff.

It would be great if there was a way to do this, and if it was documented in all places, such that searching for "httpie post json" would show the answer in the

[2020-03-08 00:18] jakubroztocil commented on #882
You are right, this should be made more clear in the docs.

This is how you would make the same request with httpie:

[code]
I.e.,  pass the raw request data through `stdin`. It’s explained here https://httpie.org/doc#redirected-input

(You don’t need to explicitly specify that you want POST, JSON content-type, nor localhost — those are the defaults.)

[2020-03-10 06:54] hsiam261 commented on #83
HTTPie is awesome! :heart:

[2020-03-11 03:12] azooz12312312312 opened #883 "https://unc0ver.dev/"

[2020-03-11 03:12] azooz12312312312 opened #884 "https://unc0ver.dev/"

[2020-03-11 03:12] azooz12312312312 opened #885 "https://unc0ver.dev/"

[2020-03-11 03:14] #885 closed

[2020-03-11 12:12] piroux opened #886 "Last release 2.0.0 on Pypi broke Python deployments older than 3.6"
## Results
Right now, installing `httpie` with `pip`, hence from Pypi, with a Python version inferior to Python3.6, it will still select the release `2.0` of `httpie` which won't be compatible.
So, right now, with the current release of the `2.0`, all builds/setups requiring `httpie` and using a Python version inferior to Python 3.6, are breaking, but that should not be the case.

## Context
The r

[2020-03-14 01:08] juliolzok commented on #83
HTTPie is awesome! :heart:

[2020-03-14 01:13] juliolzok commented on #83
HTTPie is awesome! :heart:

[2020-03-14 17:19] paul-wangombe commented on #83
HTTPie is awesome! :heart:

[2020-03-16 02:44] jkyin commented on #826
WANTED

[2020-03-18 11:14] #807 closed

[2020-03-20 00:01] #883 closed

[2020-03-20 00:01] #884 closed

[2020-03-23 16:00] tn-osimis commented on #99
In case anybody is confused as to why this is needed "for HTTPS", it's specifically when TLS [SNI](https://en.wikipedia.org/wiki/Server_Name_Indication) (Server Name Indication) is used in place of the HTTP Host header to disambiguate connections (e.g. hostname-based L7 routing in reverse-proxies, or "virtual server" use-cases in general), which is extremely common.

In that context, resolving the

[2020-03-25 11:14] emrahburak commented on #83
HTTPie is awesome! :heart:

[2020-03-26 14:22] KrzysztofJopek commented on #83
HTTPie is awesome! :heart:

[2020-03-27 15:52] aclk commented on #83
HTTPie is awesome! :heart:

[2020-03-27 20:35] jgphpc commented on #83
HTTPie is awesome! :heart:

[2020-03-28 17:07] arjunv opened #889 "Allow disabling progress bar for logging in Download mode"
In `Download mode`, httpie adds a progress bar which is printed along with the response headers. Both are logged to `stderr` preventing the progress bar from being skipped while logging response to a logfile using say output redirection.

I'd suggest either an argument to disable progress bar, `--no-progress-bar` or print the progress bar to `stdout` so that only `stderr` can be logged to files an

[2020-04-03 13:58] inkstak commented on #488
Hi @jakubroztocil, did you take a look on last comments ? Is it possible to reconsider your position on this problem ?

[2020-04-07 10:42] kiaderouiche commented on #83
HTTPie is awesome! :heart:

[2020-04-07 12:09] oussamm commented on #83
HTTPie is awesome! :heart:

[2020-04-08 17:44] garga3838 opened #892 "There is also a problem with the read rights when user has no admin rights:"
There is also a problem with the read rights when user has no admin rights:
[code]

**I was able to fix it with**
[code]

but switched to `pip3 install httpie` because of it made it easier to install plugins.

_Originally posted by @aheissenberger in https://github.com/jakubroztocil/httpie/issues/566#issuecomment-437923329_

[2020-04-08 17:45] garga3838 commented on #892
chmod +r /usr/local/Cellar/httpie/1.0.0/libexec/lib/python3.7/site-packages/idna-2.7-py3.7.egg-info/PKG-INFO

[2020-04-10 08:30] shanepelletier opened #894 "HTML docs: anchor links broken on mobile"
In the HTTPie website's [documentation ](https://httpie.org/doc) there are numerous instances of links to other sections of the documentation that use a standard `<a href="#section-name">`  anchor link. Unfortunately, on at least the Firefox 68.7.0 and Chrome 80 mobile browsers, the links don't jump to the appropriate section when clicked on. The URL of the browser is changed as expected, and relo

[2020-04-13 15:18] jakubroztocil commented on #894
@ shanepelletier thank you for the bug report — it should be fixed now.

(In case you are interested, this was the problem: https://stackoverflow.com/questions/8149155/animate-scrolltop-not-working-in-firefox)

[2020-04-13 15:18] #894 closed

[2020-04-13 15:20] exploide opened #895 "Equivalent of path-as-is option in curl"
In `curl` there is the `--path-as-is` option:

Currently, httpie does not send paths like `/../../../../../` to the server but resolves and removes them locally.

Sending such sequences can be useful during security testing, e.g. checking directory traversal vulnerabilities.

I would like to request a similar option as `curl`'s `--path-as-is`.

[2020-04-13 15:30] jakubroztocil commented on #892
From the installation path `/usr/local/Cellar/httpie/1.0.0` it’s clear that you are using a very old version. v2.0.0 is the latest, please upgrade to that.

[2020-04-13 15:33] jakubroztocil commented on #889
Hi @arjunv, what is your exact use case (the whole command invocation would help)?

What do you mean by "response" here?

[2020-04-13 15:57] jakubroztocil commented on #895
The dot segment removal is automatically applied by the upstream `urllib3` library in its [`parse_url()` implementation](https://github.com/urllib3/urllib3/blob/263da24d4b5c33392772e638b12d02e5b07abf9f/src/urllib3/util/url.py#L384). Which is called from requests’s [`PreparedRequest.prepare()`](https://github.com/psf/requests/blob/fd13816d015c4c90ee65297fa996caea6a094ed1/requests/models.py#L380):

[2020-04-13 16:02] jakubroztocil commented on #886
Thanks for the elaborate report, @piroux. I have tried to fix the issue following your tutorial, but I was unable to  get it fully to work. The problem was PyPi not accepting a suffixed version, and also with the package configuration and twine invocation. I would be happy to accept a PR for this. (I have tried a few times and ended up publishing and then deleting v2.0.1).

[2020-04-13 16:06] jakubroztocil commented on #844
@bredmor your httpie version is very old, please upgrade to v2.0.0. There you example works:

[code]

[code]

[2020-04-13 16:06] #844 closed

[2020-04-13 16:08] jakubroztocil commented on #846
IIRC, @loranallensmith commented on Twitter that he made it using Photoshop and After Effects.

[2020-04-13 17:13] exploide commented on #895
Good to know.

In the meantime, one can partially workaround this by manually URL-encoding `/` as `%2f` if needed.

[2020-04-13 17:18] exploide commented on #895
Actually, this was already requested for the `requests` library in https://github.com/psf/requests/issues/5289

The issue contains a solution approved by a maintainer.

[2020-04-13 18:19] #895 closed

[2020-04-13 18:19] jakubroztocil commented on #895
@exploide the linked issue includes a comment with a decent workaround, so I’ve just pushed support for `--path-as-is`  to `master`.

[2020-04-13 20:12] #488 closed

[2020-04-13 20:27] kjmph commented on #488
Thank you!

[2020-04-14 15:09] spencergibb commented on #152
BTW https://github.com/psf/requests/issues/713 is closed

[2020-04-14 15:17] sigmavirus24 commented on #152
@spencergibb correct. There's nothing that library or urllib3 can do to support this until Python's standard library stops ignoring/swallowing it whole and hiding it from them

[2020-04-14 17:12] exploide commented on #895
Awesome. That was fast. Thanks! :+1:

[2020-04-16 11:03] Ayooq commented on #83
HTTPie is awesome! :heart:

[2020-04-19 14:45] NightMachinary commented on #26
@jakubroztocil Can we use json input for setting cookies?

[2020-04-19 16:34] jakubroztocil commented on #26
@NightMachinary you can use a session file (https://httpie.org/docs#sessions):

## Using `cookies`
[code]

[code]

[code]

[code]

---

## Using `headers`

[code]

[code]

[code]

[code]

[2020-04-19 22:01] JeffersonADS commented on #83
HTTPie is awesome! :heart:

[2020-04-20 07:55] Zygimantass commented on #835
I'd like to take this one, seems like a relatively simple issue - encoding the URI with idna codec?

[2020-04-20 13:08] Zygimantass commented on #828
I can confirm this is true, it does indeed not work on Git Bash, going to triage it now.

[2020-04-20 14:14] jakubroztocil commented on #828
What do you get when you run this?
[code]

[2020-04-20 14:21] Zygimantass commented on #828
Yep, it returns False

[2020-04-20 14:22] Zygimantass commented on #828
Maybe we should consider throwing a warning or something if the terminal is not TTY?

[2020-04-20 14:30] jakubroztocil commented on #828
HTTPie uses `stdin` as a way to pass in data (e.g. `echo hello | http httpbin.org/post`) and the `isatty()` check also returns `False` for redirected `stdin`.

So the problem is not non-TTY invocations in general, but in the fact that Python running inside Git Bash incorrectly reports `False` even though `stdin` is connected to the terminal.

https://httpie.org/docs#redirected-input
https://httpie

[2020-04-20 14:38] Zygimantass commented on #828
So this should probably be closed as it's not HTTPie's bug, right?

[2020-04-20 14:45] jakubroztocil commented on #828
Yes — reported here:  https://github.com/git-for-windows/git/issues/2594

[2020-04-20 14:45] #828 closed

[2020-04-20 19:37] rem27920 commented on #83
HTTPie: a terrific tool! :smile:

[2020-04-22 01:36] Josholith commented on #811
Your PR to pygments fixed cases of "HTTP/1.1 200" but not the (RFC 7230 compliant) "HTTP/1.1 200 " (trailing whitespace after the status code).  Most notably Tomcat implements HTTP status lines this way, so I was still getting the red headers with HTTPie 2.0.0 and pygments 2.6.1.

To fix this, I've submitted a PR upstream to pygments https://github.com/pygments/pygments/pull/1432

[2020-04-22 08:01] Cannablitz commented on #83
HTTPie is awesome! :heart:

[2020-04-22 08:40] jakubroztocil commented on #828
It turns out it’s a known issue in Git for Windows v2.26.2:

- https://github.com/git-for-windows/git/issues/2594#issuecomment-616677790
- https://github.com/git-for-windows/build-extra/blob/master/ReleaseNotes.md#known-issues

[2020-04-23 10:15] ofob opened #902 "看看博主的作品：www.bvbus.com"
看看博主的作品：[www.bvbus.com](http://www.bvbus.com/)

[2020-04-23 11:55] #902 closed

[2020-04-24 10:49] danieleteti commented on #122
News?

[2020-04-24 11:36] msageryd opened #903 "Can order between JSON and files be controlled in multipart form?"
I'm wondering if the order between JSON fields and file attachments can be controlled.

I need to test my api by having files come before JSON data in the stream. It seems that httpie always sends JSON first and then files.

[2020-04-24 16:14] opensas commented on #427
Is anybody working on this? Can we expect this to be solved?

[2020-04-24 16:30] opensas commented on #128
Anybody know of an httpie fork that took care of this annoying issue?

[2020-04-24 17:47] nmtitov commented on #427
@opensas don't know about that but possible solution is to use `jq` tool:
[code]

[2020-04-25 10:40] jakubroztocil commented on #427
@opensas this feature will be included in the upcoming v2.2.0.

---

@nmtitov here it’s not actually `jq` that restores the order, it’s the act of [redirecting the output](https://httpie.org/docs#redirected-output) which turns off [colors and formatting](https://httpie.org/docs#colors-and-formatting) (effectively setting `--pretty=none`).

[2020-04-25 11:17] opensas commented on #427
thanks a lot for the tip, already noticed it in this thread.
Is there some way I can keep the rest of the request info after piping thru jq?

I mean, httpie returns this:

[code]
but http | jq -C strips the first part, returning only:

[code]

[2020-04-25 11:37] nmtitov commented on #427
@opensas I don’t think it’s possible unless you write your custom bash wrapper

[2020-04-25 12:36] jakubroztocil commented on #427
@opensas @nmtitov piping the output has the side-effect of changing the default `--print=hb` (print headers and body) to `--print=b` (print just the body because that’s what you typically want when redirecting the output). You can explicitly ask for the headers to be included with `--print=hb`.

https://httpie.org/docs#output-options

[2020-04-25 13:22] nmtitov commented on #427
@jakubroztocil this won't work because `jq` expects JSON body as an input

[2020-04-25 13:56] jakubroztocil commented on #427
I see. You could use `http --download httpbin.org/get | jq`

[2020-04-25 16:10] jakubroztocil commented on #903
Currently it's not possible but I'll see if something can be done about that.

[2020-04-27 14:02] coaxial-abraxas opened #904 "`http: error: InvalidSchema: Missing dependencies for SOCKS support.` despite installing requests[socks]"
I followed the documentation's instructions to install `requests[socks]` with `pip -U requests[socks]`, but I'm still getting the error.

[code]

Using Ubuntu 18.04 with the following env vars set:

[code]

httpie installed with `sudo apt install httpie`

[2020-04-29 06:13] msageryd commented on #903
@jakubroztocil That would be awesome. This should be useful for everyone with my use case.

My use case:
- Receiving multipart form via email
- Attached files needs to be processed
- Email needs to be validated by checking field data

In some rare cases I'm receiving files before fields (I'm using Sendgrid mail parse). When this happens I need to buffer the files and wait for the fields in order t

[2020-04-29 06:14] aysjkn commented on #83
HTTPie is awesome! :heart:

[2020-04-29 17:32] jakubroztocil commented on #904
It’s possible that the apt-installed version of HTTPie does not have access to the additional pip-installed packages, for some reason. Also HTTPie 0.9.8 is very old (it might be unrelated, though). I would try to install HTTPie using pip instead.

[2020-04-30 00:10] kclinden commented on #851
same

[2020-04-30 06:57] jakubroztocil commented on #851
HTTPie for CentOS is _usually_ available in the [EPEL repo](https://fedoraproject.org/wiki/EPEL):

[code]

If the HTTPie package hasn’t been updated for the latest CentOS (as it currently seems to be the case with CentOS 8), you can still [install HTTPie using pip](https://httpie.org/docs#windows-etc):

[code]

[2020-04-30 08:17] coaxial-abraxas commented on #904
I must be doing something wrong... I tried installing with `pip` after removing using `apt`, but I'm now getting errors when trying to run httpie:

[code]

[2020-04-30 13:54] gsscoder commented on #828
OK, thank you @jakubroztocil!

[2020-04-30 15:52] jakubroztocil commented on #904
@coaxial-abraxas can you please tell me what Python version you use?

[code]

I assume it will be older than the 3.6, which is required by by HTTPie 2.0.0+. The following should work:

[code]

(This is indeed a bug: #886)

[2020-05-02 02:15] ykdui commented on #566
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:16] ykdui opened #905 "Buy Valid Cvv CC Dumps Track"
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:18] ykdui commented on #904
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:18] ykdui commented on #903
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:18] ykdui commented on #889
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:19] ykdui commented on #886
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:19] ykdui commented on #882
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:19] ykdui commented on #870
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:19] ykdui opened #906 "Buy Valid Cvv CC Dumps Track"
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:23] ykdui opened #907 "Buy Valid Cvv CC Dumps Track"
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-02 02:24] ykdui opened #908 "Buy Valid Cvv CC Dumps Track"
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-04 17:20] coaxial-abraxas commented on #904
For the time being, I have installed it with `python3 -m pip install -U httpie`. My Python3 is 3.6.9, and python is 2.7.17. Now using httpie 2.1.0.

[code]

[2020-05-09 21:31] Abdallah-Obaid opened #911 "Traceback (most recent call last):"
When I was trying to install the httpie in my ubuntu terminal in windows and I use these command lines which is in the documentation :
`pip install --upgrade pip setuptools`
`pip install --upgrade httpie`

I try to check the version with `http --version`
and then i got this error:

`asoom$ http --version`
`Traceback (most recent call last):`
 ` File "/home/abdallah/.local/bin/http", line 8, in <mo

[2020-05-10 20:13] thernstig opened #912 "fish shell completions"
It would be amazing if httpie could default-install completions for the awesome fish shell.

Reference: https://fishshell.com/docs/current/#where-to-put-completions

Example of other great tools that does this:

[code]

[2020-05-10 20:25] naeim249 commented on #882
ApI /Tokens/Ethereum

[2020-05-11 14:18] LanderMoerkerke opened #913 "PATCH support"
Hi,

Is there a possibility to use other HTTP verbs instead of GET, PUT and DELETE? I would like to use the PATCH but it returns an error: unrecognised arguments.

Thanks!

[2020-05-11 14:48] LanderMoerkerke commented on #913
Problem found, PATCH was before the jwt auth settings.

[2020-05-11 14:48] #913 closed

[2020-05-11 17:44] exploide commented on #912
I see the problem here that httpie is not really responsible for the installation process. This is done by the package maintainers of your Linux distribution (if you installed from the repositories as advised in the README).

Hence, a packaging request would need to be filed at the respective distribution's issue tracker.

For example, I filed  a request for Fedora: https://bugzilla.redhat.com/sho

[2020-05-11 17:50] exploide commented on #911
You use Python 2, which is already end of life. httpie dropped Python 2 support in version 2.0.0 and is now compatible with Python 3 only.

[2020-05-11 19:26] thernstig commented on #912
Is there really no way for httpie to add to what is unpacked in the installation process, and default-including the completions file? That seems very inefficient. There must be some way to put the actual completion file in this repo to be brought in automatically by distributions?

[2020-05-11 19:30] thernstig commented on #912
I would also say that the request you made should be updated. The default option should be to install them into `XDG_DATA_DIRS` and only secondly `/usr/share/fish/vendor_completions.d/` for the fish shell.

[2020-05-12 06:51] collegeimprovements opened #914 "Native Graphql Support"
Currently to hit any Graphql `query` or `mutation`, we need to convert them first to json.
It would be really great if we can copy the query directly from `graphiql`  and then pass it to `httpie`.

Is it possible with httpie natively ? One of the [vs-code extension](https://github.com/Huachao/vscode-restclient#making-graphql-request) is already doing it.
Is the same/similar thing possible with `ht

[2020-05-12 13:49] jakubroztocil commented on #911
In addition to @exploide’s advice, you can install the older version that supports Python 2.7 using the following command:

[code]

// #904

[2020-05-12 13:49] #911 closed

[2020-05-12 13:57] jakubroztocil commented on #914
@collegeimprovements currently not possible, sadly.

I’d definitely like to look into some form of native GraphQL support — what other GraphQL-related features would you like to see in HTTPie?

[2020-05-12 14:10] jakubroztocil commented on #912
I guess having a packaging guide of sorts would make it easier for maintainers to produce better packages.

The only kind-of-official non-PyPi package is the  [Homebew](https://github.com/Homebrew/homebrew-core/blob/master/Formula/httpie.rb) formula, and I now realise that not even there the completions get installed.

I assume that there’s no reliable way to install the *shell completions with `p

[2020-05-12 14:17] jakubroztocil commented on #870
Relevant: https://lukasa.co.uk/2017/02/Configuring_TLS_With_Requests/

[2020-05-12 15:45] collegeimprovements commented on #914
tldr;
Example:
[code]
☝🏼Extension can be anything like: `http` or `gql` or `graphql` or `post` etc. The idea is user should be able to directly copy-paste the query from graphiql or graphql-client. He should not be worried about json conversion.
👉🏼 `--schema` flat is optional. When provided the query is parsed & validated against it first. [might be out of scope]

----
## Feature Requests:

1. Sen

[2020-05-12 16:51] exploide commented on #912
You mean a `XDG_DATA_DIRS` that contains a (different) system-wide directory? The package maintainers know where these paths are in their distribution and how to retrieve them. When bulding the package, for example using Fedora spec files, they would use `%{_datadir}` as a variable that points to the correct directory. We don't need to tell them and it will almost always be `/usr/share` anyways.

[2020-05-12 20:09] thernstig commented on #912
Ok, I did not know it was this involved. Reading the repos of other tools such as fd, hyperfine, bat etc. I could not find anything related to that they had to request this from package maintainers, but not saying they haven't. We all learn something new every day 😄

[2020-05-13 11:15] jakubroztocil commented on #534
[code]

[2020-05-13 15:22] exploide commented on #912
Additionally, things become different for other programming languages and environments. The Rust tool `fd` for example [generates](https://github.com/sharkdp/fd/blob/daf3046a35f012da3628476911cb27e34fdae16b/build.rs#L27) the completion files automatically using [Clap](https://github.com/clap-rs/clap). The fd project then [creates](https://github.com/sharkdp/fd/blob/master/ci/before_deploy.bash#L52

[2020-05-15 08:31] hahattan commented on #534
any way to discard the newline while redirecting?
[code]
the data filed would be `"data": "20\n"`

[2020-05-15 09:11] jakubroztocil commented on #534
@hahattan you can instruct `echo` to not print the trailing newline character with `-n`:

[code]

[2020-05-16 12:33] outan commented on #83
HTTPie is awesome! :heart:

[2020-05-17 09:57] trylovetom opened #915 "[Bug Report] there will be a little problem key has trailing whitespaces after `:` when I send the json"
### Description
I create the node.js express server as backend. When I get the request with json data from httpie, there will be a little different between java, javascript.

### Expected Behavior
**what I get on my server**
[code]

### Actual Behavior
**what I get on my server**
[code]

There will be a problem, when I use the parser from third party parser such as [turbo-json-parse](https://githu

[2020-05-17 18:17] Abdallah-Obaid commented on #911
I try another way to change the default python thanks @exploide  and @jakubroztocil :
// define the two different python versions:
sudo update-alternatives --install /usr/bin/python python /usr/bin/python2.7 1
sudo update-alternatives --install /usr/bin/python python /usr/bin/python3.6 2
// version 3.6 should be defined as default:
sudo update-alternatives --set python /usr/bin/python3.6

[2020-05-17 18:29] lbindal opened #916 "Can't run simple http get from shell script"
Very simple Httpie Command: "http GET https://reqres.in/api/users?page=2"
This is working link..just put in browser and get result
https://reqres.in/api/users?page=2

created a shell script called httpieshell.sh
httpieshell.sh contains "http GET https://reqres.in/api/users?page=2" (Without quotes)
from my windows on which i have installed ubuntu and using "ConEmu" to run my http command
when i run

[2020-05-17 18:35] lbindal opened #917 "Ubuntu on Windows (Httpie plugins not working)"
I have installed ubuntu on windows and using "ConEmu" to run my httpie commands
When i use basic authentication command which is inbuilt with httpie, it works just fine

When i try working with any of the plugins for authentication like jwt or oauth, none of the plugins work in my local. it complains about below issue. I have installed the plugin properly

qNBueDAR1k2CIDqdoJEkOmyujI19CIcV1FL029voA

[2020-05-18 15:29] lbindal commented on #917
I resolved this issue. I needed to use Python version 3 and command like "sudo pip3 install -U httpie-jwt-auth"

Earlier i was using python 2.6 i think.

[2020-05-18 15:29] #917 closed

[2020-05-18 15:30] lbindal commented on #916
This issue is resolved. Python version 3.8 worked for me

import os
import sys
os.system(finalHttpieCommand)

[2020-05-18 15:30] #916 closed

[2020-05-19 14:36] Quendora commented on #83
HTTPie is awesome! :heart:

[2020-05-19 23:06] nicbet commented on #566
For what it's worth and perhaps other users googling for an answer, installing a plugin worked fine for me like this:

[code]

Thanks https://github.com/jakubroztocil/httpie/issues/566#issuecomment-285210693

[2020-05-19 23:12] lbindal opened #919 "Running HTTPie commands from within AWS lambda written in python 3.8"
I have a very simple python script whcih i am using to run httpie commands

import os
import sys
os.system("http GET https://reqres.in/api/users?page=2")

Above script works perfectly fine. Now I need to run in AWS lambda. Can I do that? Here is my AWS Lambda

import os
import sys

def lambda_handler(event, context):
    os.system("http GET https://reqres.in/api/users?page=2")

It complains that "

[2020-05-20 07:18] jakubroztocil commented on #919
Make sure HTTPie is installed. Find out where the `http` executable is located and either include the full path (something like `/usr/local/bin/http`) in your command or ensure that the containing directory is included in `$PATH`. (Btw, you might also need to include [`--ignore-stdin`](https://httpie.org/docs#best-practices).)

You might be better off with just using `requests.get(' https://reqres

[2020-05-20 07:18] #919 closed

[2020-05-20 18:15] lbindal opened #921 "Custom header list or json in http request is possible?"
I have a situation where i have an incoming json which has different number of custom headers which i want to pass in my httpie command from python script

right now httpie command allow space separated headers as follows
http httpbin.org/headers  User-Agent:Bacon/1.0  'Cookie:valued-visitor=yes;foo=bar' X-Foo:Bar  Referer:https://httpie.org

My requirement is strange because i have varying number

[2020-05-20 19:26] lbindal commented on #921
This issue was resolved, I was able to iterate through the headers and added them a list and prepred the final command and used as follows

SPLIT_COMMAND = finalHttpieCommand.split()
print (SPLIT_COMMAND)
x = subprocess.run(SPLIT_COMMAND, capture_output=True)
print (x)

[2020-05-20 19:26] #921 closed

[2020-05-20 19:37] lbindal commented on #915
I had the same problem. you can remove spaces from the string as follows
str = str.replace(/\s/g, '');

[2020-05-21 12:27] jakubroztocil commented on #915
What is the bug? The JSON HTTPie produces is perfectly valid.

Again, what problem does this solve?

Spaces between keys are ignored by JSON parsers.

[2020-05-21 13:50] #145 closed

[2020-05-21 16:42] lbindal commented on #915
Jakub, what was happening in my case is I have incoming request in JSON format which has url, method, auth-type, auth, headers etc and i needed to parse that and then dynamically create a httpie command and execute it in my python script. So I did following
parsedJson = json.loads(IncomingJSON)
method = parsedJson ['method']
url = parsedJson ['url']
authType = parsedJson ['auth-type']
auth = parse

[2020-05-21 16:48] lbindal commented on #915
Spaces will be ignored by json parser if there are spaces in header like mentioned in the problem, httpie command would not work. Spaces needs to be removed from header to successfully run httpie command

[2020-05-21 16:49] evillgenius75 commented on #83
HTTPie is awesome! :heart:

[2020-05-22 03:44] jakubroztocil commented on #915
I’m afraid I still don’t understand.  I might be able to help If you provide:

1. the full HTTPie command you are calling
2. the actual output
3. the expected output

[2020-05-22 03:46] #915 closed

[2020-05-22 04:35] Restia666Ashdoll commented on #58
Anyone checked the Scoop-Python bucket ? Its by the maintainer of nonportable bucket.
[code]
There is a `migrate-python-packages` script that has to be run after every Python version update(every update for global install, major version update for user install).

[2020-05-22 15:18] jakubroztocil commented on #849
@CyberMew the "binary data not shown in terminal"  feature only  applies when you invoke HTTPie from a terminal. Which is not the case with CI jobs. To prevent the unwanted output, you could redirect the data to `/dev/null` a or use a `HEAD`  request, if possible.

[2020-05-22 15:18] #849 closed

[2020-05-22 17:11] 0x8b opened #922 "PluginManager: register already loaded `plugin` instead of `entry_point.load()`"
https://github.com/jakubroztocil/httpie/blob/0c4709410955e6bb4ae6b91c08d1d617def752df/httpie/plugins/manager.py#L34-L36

[2020-05-23 10:16] jakubroztocil commented on #922
@0x8b would you elaborate?

[2020-05-23 18:08] 0x8b commented on #922
I mean:

[code]

[2020-05-23 18:35] jakubroztocil commented on #870
@shafr `--ciphers` is now supported in `master`. If you [install the development version](https://httpie.org/docs#unstable-version), then you can test it & provide feedback. It would be interesting to play with `--ciphers` in combination with `--ssl`.

[2020-05-23 18:35] #870 closed

[2020-05-23 18:38] jakubroztocil commented on #870
`--ciphers` documentation: https://github.com/jakubroztocil/httpie#ssl-ciphers

[2020-05-23 18:40] jakubroztocil commented on #848
@gawi thanks for the report. That HTTPie version is very old. Please try it with the latest one, and reopen if the problem persists.

[2020-05-23 18:40] #848 closed

[2020-05-23 18:43] jakubroztocil commented on #810
Hey @mauriciolucas22, you can use `--timeout=<seconds>`,  for example `--timeout=10`.

[2020-05-23 18:43] #810 closed

[2020-05-23 18:44] jakubroztocil commented on #816
@rbarot I think you want to report this here instead: https://github.com/curl/curl

[2020-05-23 18:44] #816 closed

[2020-05-23 18:46] jakubroztocil commented on #677
I’m pretty sure this has been resolved by now. Please feel free to reopen if the issue persists in the latest HTTPie version.

[2020-05-23 18:46] #677 closed

[2020-05-23 18:52] jakubroztocil commented on #660
This no longer throws an error:

[code]

[2020-05-23 18:52] #660 closed

[2020-05-23 18:55] jakubroztocil commented on #262
These errors should be gone in newer HTTPie versions which rely on Python 3.6+.

[2020-05-23 18:55] #262 closed

[2020-05-23 18:59] jakubroztocil commented on #500
If you system cannot find the `http` command, make sure the directory where it’s been installed is on your `$PATH`.

[2020-05-23 18:59] #500 closed

[2020-05-23 19:00] #515 closed

[2020-05-23 19:01] mqudsi commented on #912
Fish core developer here.

We are always happy to upstream completions directly into the fish codebase, if you like. Fish ships with hundreds of hand-written "dynamic" completions that go far beyond merely state-machine-based deduction of autocompletion parameters and can provide "dynamic" logic based on introspecting the command line and even executing commands at runtime (e.g. the `aws s3` compl

[2020-05-23 19:05] jakubroztocil commented on #839
Thanks for the suggestion, @rominf. This feature is suitable for downloaders like those two, but not for a generic HTTP client like HTTPie.

[2020-05-23 19:05] #839 closed

[2020-05-23 19:45] jakubroztocil commented on #922
This code does what it is designed to do. I don’t think randomly changing without explanation will make it better.

[2020-05-23 19:45] #922 closed

[2020-05-23 19:47] jakubroztocil commented on #827
@seanthegeek see:

https://github.com/advisories/GHSA-xjjg-vmw6-c2p9

https://httpie.org/docs#downloaded-filename

[2020-05-23 19:47] #827 closed

[2020-05-24 09:57] exploide commented on #912
Oh yes, apparently I forgot to mention this option despite I recently contributed completions to fish by myself :smile:

So if the httpie project would like to hand over the completion file to fish itself, that would make things more seamless for fish users.

A possible drawback to note: It can then happen that the installed version of httpie is not in sync with the file installed with the version

[2020-05-24 10:18] jakubroztocil commented on #912
Thanks for dropping in, @mqudsi! Including the completions in fish codebase would indeed be the most robust solution. @exploide’s note about the possible version mismatch is valid, though—is there a standard way of dealing with that, e.g., by supporting multiple versions at simultaneously?

[2020-05-24 10:24] exploide commented on #912
I would not call that a standard way but yes. Some completion files that suffer the same problem try to solve that by checking `--version` and offer some options only when appropriate.

[2020-05-24 10:56] jakubroztocil commented on #912
I’m playing with idea of providing a built-in API for the shell completions (maybe using something like https://github.com/kislyuk/argcomplete). Then the shell-specific completions scripts could be pretty minimal.

[2020-05-24 13:34] juniorhero opened #923 "hide errors"
I would like to hide all errors as such, I am not using the verbose option -v
what to do?

http: error: SSLError: HTTPSConnectionPool(host='', port=): Max retries exceeded with url: / (Caused by SSLError(SSLError("bad handshake: SysCallError(104, 'ECONNRESET')"))) while doing GET request to URL:

[2020-05-24 14:50] jakubroztocil commented on #923
Yes, error messages need more love. See #815

[2020-05-24 14:50] #923 closed

[2020-05-24 17:36] elimuhub opened #924 "Api"
#jakubroztocil #922 @jokull @faulkner #897

[2020-05-24 19:15] #924 closed

[2020-05-26 02:13] bsolomon1124 opened #925 "Circular import breaking httpie.output.formatters.colors import"
`httpie/httpie/output/formatters/colors.py` imports from `from httpie.plugins`, which imports `ColorFormatter`, and so on ...

Python 3.8 output:

[code]

3.7:

[code]

Which can be addressed with this hack:

[code]

[2020-05-26 08:12] #925 closed

[2020-05-26 08:12] jakubroztocil commented on #925
Fixed, thanks!

[2020-05-26 10:36] jakubroztocil commented on #886
This is now resolved.

Releases starting with version 2.1.0 have the correct `python_requires='>=3.6'`.

The 2.0.0 PyPi package has been [yanked](https://www.python.org/dev/peps/pep-0592/) (it cannot be installed without specifying the exact version — `pip install httpie==2.0.0`).

[2020-05-26 10:36] #886 closed

[2020-05-26 10:38] jakubroztocil commented on #911
This has now been resolved — `pip install httpie` should work just fine on all Python versions. Having said that, you should really consider upgrading to Python 3.

[2020-05-26 11:03] NightMachinary commented on #150
I tried redirecting stdin to null `</dev/null`, but it made httpie behave weird. Why's that? I mean, shouldn't there be a way to make a command ignore stdin from the shell itself?

[2020-05-26 11:09] jakubroztocil commented on #150
@NightMachinary you want to use the `--ignore-stdin` option. That’s how you tell HTTPie to not read `STDIN`.

[code]

[2020-05-26 11:19] NightMachinary commented on #150
@jakubroztocil I know that, I am saying if `http` did not have `--ignore-stdin`, how could we eliminate stdin going to `http` from the shell itself?

[2020-05-26 11:25] jakubroztocil commented on #150
@NightMachinary tou cannot eliminate `STDIN` (and the other standard streams), but you close it:

[code]

[2020-05-26 11:39] jakubroztocil commented on #150
@NightMachinary  and redirecting `/dev/null` is a bit different:

[code]

This is invokes HTTPie with an open & redirected `STDIN`, so HTTPie will read it and end up with an empty string, which it will then happily use as the request body data (effectively defaulting to `POST`), unless you tell it not to with `--ignore-stdin`.

So it’s basically equivalent to this:

[code]

[2020-05-27 06:29] opensas commented on #427
I found the following workqround, instead of using httpie I found [curlie](https://curlie.io/), which seems to

So I can use it like this:

[code]

Where as with httpie I would the headers

BTW, I created this convenient script:

[code]

[2020-05-27 06:34] opensas commented on #128
I found the following workaround, instead of using httpie I found [curlie](https://curlie.io/), which seems to

So I can use it like this:

[code]

Where as with httpie I would the headers

BTW, I created this convenient script:

[code]

[2020-05-27 14:07] jakubroztocil commented on #128
How about this?

Disable the default header and JSON key sorting, and specify a custom JSON indent size:

[code]

[code]

It’s already `master` & feedback would be appreciated! ([Install HTTPie from master](https://httpie.org/docs#unstable-version).)

[2020-05-27 14:23] jakubroztocil commented on #128
The idea behind the syntax is to allow more options to be easily added in the future. But I do realise that it’s quite a verbose one. On the other hand, I would expect people to set it once in the config file and not type it manually. Thoughts?

[2020-05-27 14:23] opensas commented on #128
Thanks a lot for the reply, being able to configure those options for format output would be great, speacially if you can just put it on a conf file.

I tried to install from master but I have the following issue:

[code]

Do I need python 3?

[2020-05-27 14:25] jakubroztocil commented on #128
@opensas thanks for testing it out! Yes, you need Python 3.6+ (Python 2.7 is dead, and since v2.0.0 HTTPie does not support it).

[2020-05-27 14:29] jakubroztocil commented on #128
@opensas if you have Docker installed, you can test it in a container:

[code]

Then inside container:

[code]

[code]

[2020-05-27 14:57] opensas commented on #128
I could install it with `python3 -m pip install --upgrade https://github.com/jakubroztocil/httpie/archive/master.tar.gz`

I tested it and it works ok with `http --format-options headers.sort=false,json.sort_keys=false,json.indent=2`

I'm trying to set those options in my config file, but I guess I have a trouble with the xx=xx options, I'm trying like this:

[code]
What should be the correct synta

[2020-05-27 15:04] opensas commented on #128
ok, I tried copying exactly the example provided in the [docs](https://github.com/jakubroztocil/httpie#default-options) but it's not taking the changes in the `~/.config/httpie/config.json` file

[code]

[2020-05-27 15:06] jakubroztocil commented on #128
@opensas what output do you get when you run `http --debug`?

![image](https://user-images.githubusercontent.com/326885/83037726-6e771000-a03c-11ea-8fe2-1eb94c916ca2.png)

[2020-05-27 15:12] jakubroztocil commented on #128
@opensas the syntax is correct (it should be the same like on the CLI, there nothing special about the config options).

[2020-05-27 15:13] opensas commented on #128
Sorry, I found the issue, I had a `~/.httpie/config.json` from previous installation, so it was bypassing the file I created at `~/.config/httpie/config.json`

just removed the .httpie folder and now everything works as expected

thanks a lot! I hope you can release this changes in the near future!

Some feedback:

- I would consider setting headers.sort and json.sort to false by default, I think

[2020-05-27 15:21] opensas commented on #128
more feedback:

I think the easiest thing to use from the command line would be to allow something like:

[code]

[2020-05-27 15:46] jakubroztocil commented on #128
The `$XDG_CONFIG_HOME`-based  `~/.config/httpie` location is also new in the yet-to-be-released version. Looks like a warning if both the locations exist would be helpful.

Yes, it should be out pretty soon.

I agree that silently changing the output order is generally not a good idea. Here, however, it’s part of the "prettification" meant for human consumption on the terminal, and the HTTP header

[2020-05-27 23:39] jakubroztocil commented on #226
@zeknox that is also accepted:

https://github.com/jakubroztocil/httpie/blob/aae596d4724b39d3ad0da0ef4d6a5e7eb98ae418/httpie/client.py#L230-L235

Does it not work for you?

[2020-05-31 00:06] lbindal commented on #919
I am getting permission denied for some reason.. any suggestion
import subprocess
def lambda_handler(req, context):
  result = subprocess.call("/opt/python/bin/http GET https://reqres.in/api/users?page=2", shell=True)
  return result

/bin/sh: /opt/python/bin/http: Permission denied

[2020-05-31 09:14] jakubroztocil commented on #919
This has more to do with AWS than with HTTPie.

The normal way to make an HTTP request from a Python app would be to use `requests.get()`.

Calling an external CLI app via a subprocess for something easily accomplishable directly in Python adds that sort of complexity you are experiencing while providing no upside.

https://requests.readthedocs.io/en/master/

[2020-05-31 11:08] glechic commented on #83
HTTPie is awesome! :heart:

[2020-06-02 03:22] GaryChiang commented on #465
Hi,
Did you solve this issue? I'm encountering this as well.

[2020-06-03 07:36] AHMED0504492442 commented on #882
Greetings to you, please, I am a user, I learn from you, please consider, and appreciate mistakes, ... and inform me right and correct

[2020-06-03 16:33] paulolieuthier opened #926 "Add 'quiet' or 'silent' option for using httpie in scripts"
Simple flag to avoid unnecessary output when using inside scripts.

[2020-06-04 00:29] AHMED0504492442 commented on #882
Please return the hard disk that was compromised by you and crash it and out of the operating system. Why did you do that?

[2020-06-06 06:40] RishabhAgarwal-2001 commented on #851
@jakubroztocil I want to update it in the docs.

[2020-06-08 11:58] jakubroztocil commented on #926
Rationale: [Why do many commands provide a “quiet” option?](https://unix.stackexchange.com/questions/191254/why-do-many-commands-provide-a-quiet-option)

We can handle this by replacing our `env.stdout` and `env.stderr` with `os.devnull` at the appropriate moment. Instead of touching `os.devnull` directly at runtime, though, it should be added as `Environment.devnull` like we do with the standard

[2020-06-08 12:03] jakubroztocil commented on #825
I would love to have this, but  I‘m not aware of any decent formatter that would preserve namespaces, etc.  There have been a few naive attempts:

https://github.com/jakubroztocil/httpie/issues?q=xml+format.

[2020-06-08 12:19] jakubroztocil commented on #756
I’m pretty sure this has been fixed:

[code]

[2020-06-08 12:19] #756 closed

[2020-06-08 12:31] jakubroztocil commented on #712
Hey @BrandonY, this looks like a use case for https://httpie.org/docs#sessions

For example:

[code]

Notice that the `Authorization: TEST` header is included in both requests:

[code]

You can now inspect / edit the generated session file:

[code]

[code]

[2020-06-08 12:31] #712 closed

[2020-06-08 12:36] jakubroztocil commented on #619
Check your `/etc/hosts` if you run into this issue. You should see there:

[code]

[2020-06-08 12:36] #619 closed

[2020-06-08 12:40] jakubroztocil commented on #201
Related #684 #685

[2020-06-08 12:52] jakubroztocil commented on #409
@loretoparisi HTTPie optionally operates on JSON session files — https://httpie.org/docs#sessions

[code]

[code]

Now it’s in the session file:
[code]

 You can make a new request and the cookie will be sent:

[code]

[code]

To use the session without updating it, use `--session-readonly` instead:

[code]

[2020-06-08 12:52] #409 closed

[2020-06-08 12:55] jakubroztocil commented on #445
#828

[2020-06-08 12:55] #445 closed

[2020-06-08 13:42] paulolieuthier commented on #926
What should the flag be?

[2020-06-08 13:57] jakubroztocil commented on #926
@paulolieuthier `--quiet`

[2020-06-08 13:59] jakubroztocil commented on #926
The replacement should probably happen here:

https://github.com/jakubroztocil/httpie/blob/492687b0dafb7bec0d6281d019bb5f4f60439346/httpie/cli/argparser.py#L123-L154

[2020-06-08 15:59] #668 closed

[2020-06-08 20:16] nb2838 commented on #926
Hey! Is someone working on this issue or can it be taken?

[2020-06-08 20:40] jakubroztocil commented on #926
@nb2838 I’m not so unless @paulolieuthier is looking into this it should be up for grabs.

[2020-06-08 20:43] paulolieuthier commented on #926
Go ahead @nb2838! I'm looking forward to the release :)

[2020-06-09 01:21] asifmallik commented on #662
Is this issue up for grab? If so, I would like to give this an attempt

[2020-06-09 04:40] jakubroztocil commented on #662
@asifmallik yes, it is!

Here you can learn all about how sessions in HTTPie work:

* https://httpie.org/docs#sessions
* https://github.com/jakubroztocil/httpie/blob/master/httpie/sessions.py
* https://github.com/jakubroztocil/httpie/blob/master/tests/test_sessions.py

I‘d definitely start by writing a few test cases reproducing the issue.

My hunch is that this that the cookie assignment and savi

[2020-06-09 05:07] asifmallik commented on #662
Thank you so much! I actually have looked into testing already and there's a quick question I had - from what I understand, for testing, httpie uses `httpbin`. I imagine to write a test for this issue in particular, there would need to be some way of combining `/redirect-to` with `/cookies/set`. From what I read so far from `httpbin.org`, this does not seem possible. Do you know whether there is a

[2020-06-09 05:40] jakubroztocil commented on #662
@asifmallik luckily, `/cookies/set` also redirects. So this is how you can reproduce it:

**1. prepare a session with a cookie**

[code]

[code]

**2. call `/cookie/set`**
[code]

[code]

---

It should also handle and have tests for `--session-readonly` (cookies should be assigned after each request, but the session file shoud not be updated).

[2020-06-09 08:24] juped commented on #853
@iamcathal and @csr will be working on this!

[2020-06-09 08:45] jakubroztocil commented on #853
Sweet, @juped. I've just written some suggestions   on another sessions-related issue that will be useful here as well:

https://github.com/jakubroztocil/httpie/issues/662#issuecomment-641023598

[2020-06-09 12:35] nb2838 commented on #852
I'd like to tackle this if that's ok!

[2020-06-09 13:09] jakubroztocil commented on #852
@nb2838 Sure, but maybe after or instead of #926 (which you also expressed interest in)? So things don’t get blocked.  Btw, do you happen to be from @MLH-Fellowship?

[2020-06-09 13:41] nb2838 commented on #852
Hey! No, I am not a part of MLH-Fellowship. I am working with a group of friends on tackling small projects. I asked for both so that my friend and I could work on these two issues together. I am sorry, I should have been more clear about it. Would it be ok for us to work on them?

[2020-06-09 13:43] jakubroztocil commented on #852
Sounds good 👍

[2020-06-09 13:47] jakubroztocil commented on #662
Related: #824

[2020-06-09 14:21] juped commented on #815
@rch-liu and @ebonnecab will be working on this!

[2020-06-09 14:22] darthbeep commented on #800
I'd like to take this issue.

[2020-06-09 14:46] jakubroztocil commented on #800
@darthbeep go for it 👍

[2020-06-09 15:01] jakubroztocil commented on #815
@juped @rch-liu @ebonnecab awesome!

I would start by manually triggering & identifying as many types of errors as possible (by connecting to non-existing servers, passing weird arguments, making requests while offline, …, be creative!).

For each error type for which it makes sense (for example, arguments errors are already handled by `argparse`), I‘d write a function that returns a useful string

[2020-06-09 15:03] jakubroztocil commented on #815
Options that probably need to be taken into account: `--traceback` & `--debug`

[2020-06-09 17:30] ebonnecab commented on #815
@jakubroztocil thank you for clarifying this issue for us! Can you further explain your last comment when you say those are two options to take into account?

[2020-06-09 17:39] jakubroztocil commented on #815
@ebonnecab sure thing! These two flags have effect on how errors, etc., are displayed:

When there’s an exception, `--traceback` ensures a more verbose output. Compare the output of these two commands:

[code]

[code]

As for `--debug`, that adds some debug information about HTTPie and the request to the output:

[code]

[code]

I think you be changing their their behavior. You should just be awar

[2020-06-09 20:20] ebonnecab commented on #815
Yes! @jakubroztocil that makes sense to me. Thank you!

[2020-06-10 09:02] kennell opened #928 "Some URLs result in badly formated httpie output"
Some URLS result badly formated httpie output, e.g. `https://doi.org/10.1001/archneur.62.9.1459`

![](https://i.imgur.com/spiETy4.png)

Debug info:

[code]

[2020-06-10 09:18] jakubroztocil commented on #928
Thanks for report! This happens when there‘s a space after the status code and no reason phrase, like in `HTTP/1.1 302 `. It has already been fixed in https://github.com/pygments/pygments/pull/1432. We‘re just waiting for a new Pygments release.

[2020-06-10 09:18] #928 closed

[2020-06-11 13:09] asifmallik commented on #662
@jakubroztocil  After a bit of tinkering, I think I have identified where the bug happens. It seems that httpie correctly replaces the cookie but only when outputting the headers for the redirected page, both the cookies are shown for some reason. To illustrate this, we can run:

1) `http --follow --all --session=./test-session.json httpbin.org/cookies/set?FOO=BAR --print=Hb` which outputs:
[code]

[2020-06-11 13:24] asifmallik commented on #662
Actually it might make more sense to add a `header` property to `BaseCLIResponse` instead of string one as this is not specific to string responses

[2020-06-11 15:07] jakubroztocil commented on #662
@asifmallik it might be a bug in `requests` after all:

[code]

[2020-06-11 15:11] asifmallik commented on #662
@jakubroztocil I see, would you like to open an issue on requests or, should I?

[2020-06-11 15:17] jakubroztocil commented on #662
@asifmallik feel free to open one, but it would be good to poke around in `requests`’s source code first for a bit to make sure we are not missing something.

[2020-06-11 15:23] asifmallik commented on #662
@jakubroztocil I see thank you!

[2020-06-11 17:36] nb2838 commented on #852
I've been taking a look at the bug and part of the issue lies in how the program deals with the .netrc file. Currently, if I am not mistaken, it is done by letting the library "requests" deal with it. The problem is that according to  requests documentation it seems that they only support reading the .netrc file when no authentication parameters are specified and only for Basic Authentication
![im

[2020-06-12 12:50] kbanc commented on #824
@jakubroztocil Can I look into this?

[2020-06-12 13:24] jakubroztocil commented on #824
@kbanc sure thing! (As always, I’d start by writing a test case reproducing the behavior and clarifying the problem.)

[2020-06-13 22:28] nb2838 commented on #852
I think I have to change the way the program deals with the reading of the .netrc file. Currently, it does by delegating the task to the requests library. However, the way in which this is done doesn't allow for Digest authentication which is why we would need to do it on our own and change that. When I was doing this I came with an issue/doubt. For security reasons, the python function in the sta

[2020-06-14 00:47] 8secz-johndpope commented on #500
On Catalina with miniconda installed - and was seeing this running a vanilla
**npm install httpie -g**
sudo fixed it.

[2020-06-14 07:15] jakubroztocil commented on #500
@8secz-johndpope HTTPie is not a JavaScript project, but a Python one. Please see https://httpie.org/docs#installation for all the available way to install HTTPie.

(The `npm` package named "httpie" is completely unrelated and, sadly, the author refuses to rename it, which generates confusion like this. https://github.com/lukeed/httpie/issues/5)

[2020-06-14 23:26] 8secz-johndpope commented on #500
OMG - when I go to the official site - it says
<tool>
<img width="678" alt="Screen Shot 2020-06-15 at 9 25 26 am" src="https://user-images.githubusercontent.com/50567111/84606512-2edc6f00-aeea-11ea-8dea-bd25fda89fc1.png">

maybe consider changing this to pip to avoid this confusion.
and put a big warning - not related to npm install. .....

[2020-06-15 06:35] jakubroztocil commented on #500
@8secz-johndpope Some comments:

1. `pip` is not the only tool that can install HTTPie. 2. `npm` is not the only that cannot install HTTPie.
3. you can see a list of the supported  tools when you click the <tools> link

Thanks for the feedback.

[2020-06-15 13:46] JJCCALDERON commented on #903
You can't

[2020-06-15 20:28] #853 closed

[2020-06-16 08:56] matthiaslein commented on #83
HTTPie is awesome! :heart:

[2020-06-16 09:05] #718 closed

[2020-06-16 09:05] #852 closed

[2020-06-16 09:10] jakubroztocil commented on #718
Just pushed support for this to `master` in b865988. Feedback appreciated!

@labeneator: I based it on your PR #719, so please feel free to add yourself to `AUTHORS`.

[2020-06-16 09:14] jakubroztocil commented on #852
This is now addressed in current `master` via b865988. Feedback would be appreciated.

[2020-06-16 13:39] gmelodie commented on #914
Hey there! I'm thinking about working on this one if that's ok.

I guess this can be broke down to three ideas/PRs:
1. **Receive a GraphQL request just as a JSON request**
(i.e. `http httpbin.org/post < graphql.schema`)
2. **Download a JSON request** (`--save` or `--download`)
3. **Check GraphQL schema against JSON request file**
3.1. Receive GraphQL schema (using 1)
3.2. Generate JSON request (us

[2020-06-16 23:50] jakubroztocil commented on #527
From the debug output I can see that `stdout_isatty` is `False`. If you are still experiencing this problem in 2020, you’ll, unfortunately, need to use `--ignore-stdin`.

[2020-06-16 23:50] #527 closed

[2020-06-18 00:52] biggirl45 commented on #527
Unsurcribe

On Tue, Jun 16, 2020, 6:51 PM Jakub Roztocil <notifications@github.com>
wrote:

[2020-06-18 13:03] jakubroztocil commented on #842
@mike-pt could you please provide a minimal test case, and describe what the expected & the actual behavior is? We’re having troubles reproducing it. Thanks!

[2020-06-18 13:19] jakubroztocil commented on #882
This docs section now addressed how to post raw JSON, etc.:

https://httpie.org/docs#raw-and-complex-json

[2020-06-18 13:19] #882 closed

[2020-06-18 15:16] mike-pt commented on #842
Hum its been some time, the original issue was a odd one, I try to repo again but about that last comment:

[code]

note that I do not pass `-b` here, if I did I would actually get this was the output:
[code]

Not sure if that is the intend behavior of if we should end up with no file there, I assume we are creating the file first and then writing the contents to it, or because we could somehow ge

[2020-06-18 16:36] jakubroztocil commented on #814
@wataash HTTPie does not ensure ASCII any longer.

Btw, what is meant by “raw JSON”  is just that the value will not be converted to a string value like `foo=bar` does.

[code]

[code]

If you’d like to send data without any processing, then you can pass it through `STDIN` instead:

[code]

https://httpie.org/docs#redirected-input

[2020-06-18 16:36] #814 closed

[2020-06-18 18:55] chrisngyn commented on #605
@YKo20010 and I will be working on this issue.

[2020-06-18 20:09] jakubroztocil commented on #214
I’m pretty sure this has been resolved in current `master`.

[2020-06-18 20:09] #214 closed

[2020-06-18 20:10] jakubroztocil commented on #119
This has most likely been resolved by now.

[2020-06-18 20:10] #119 closed

[2020-06-18 20:31] jakubroztocil commented on #128
Just released v2.2.0 that addresses this issue. Learn about about the new `--unsorted`, `--sorted` and `--format-options` here:

https://httpie.org/docs#colors-and-formatting

[2020-06-18 20:31] #128 closed

[2020-06-18 20:32] jakubroztocil commented on #427
Just released v2.2.0 that addresses this issue. Learn about about the new `--unsorted`, `--sorted` and `--format-options` here:

https://httpie.org/docs#colors-and-formatting

[2020-06-18 20:32] #427 closed

[2020-06-18 20:35] gmelodie opened #935 "Refactor client.py"
Me and @kbanc were working on #932 and we found the `client.py` file a bit hard to go through and thought we could refactor it to look a bit like the `sessions.py`: there would be a `Client` class and all the logic for preparing and sending the requests would be done from this file.

The idea is pretty rough but @jakubroztocil if you have some thoughts we would really appreciate them!

[2020-06-18 22:16] #505 closed

[2020-06-18 22:20] jakubroztocil commented on #505
I actually once briefly added an `httpie` command for managing sessions etc., but it didn’t get included in any release (https://github.com/jakubroztocil/httpie/commit/5cc5b13555f359712e0c5784bebdb091c34e6c82). I’d like to keep the option to add _an_ `httpie` command open for the future. Still thanks for PR, though!

[2020-06-18 22:41] jakubroztocil commented on #935
@gmelodie  I’m all for cleanups & simplifying refactoring, so if you see some potential for that there, try to flesh something out, and can take a look at it. I cannot guarantee it will get merged, though.

[2020-06-18 22:56] #904 closed

[2020-06-18 22:57] jakubroztocil commented on #904
HTTPie 2.3.0 will support SOCKS out of the box w/o extra installation.

[2020-06-18 23:00] jakubroztocil commented on #765
Thanks for the kind proposal, @newfinal100! We have a fairly recent logo, though:

![image](https://user-images.githubusercontent.com/326885/85079930-3c367980-b1c8-11ea-96b4-62cda970748f.png)

[2020-06-18 23:00] #765 closed

[2020-06-18 23:02] jakubroztocil commented on #565
I think this issue has resolved by itself by now.

[2020-06-18 23:02] #565 closed

[2020-06-18 23:02] jakubroztocil commented on #754
Hi @wscardua, what error did you get?

[2020-06-18 23:02] #754 closed

[2020-06-18 23:28] jakubroztocil commented on #692
I’d also love to have built-in HTTP2 support.

The [httpie/httpie-http2](httpie/httpie-http2) plugin is built on top [python-hyper/hyper](https://github.com/python-hyper/hyper). That is the only HTTP2 solution for [psf/requests](https://github.com/psf/requests) I’m aware of but, sadly, it doesn’t seem to be actively maintained any longer.

I’m keeping an eye on [encode/httpx](https://github.com/en

[2020-06-18 23:41] jakubroztocil commented on #602
Related #143

[2020-06-19 05:19] Lukasa commented on #692
Yeah, hyper is basically unmaintained: it got superseded by hyper-h2 and the associated other building blocks, and simply stopped being the most important thing. Httpx is definitely the thing to keep an eye on.

[2020-06-20 08:03] droope commented on #214
Awesome, thank you.

[2020-06-22 15:50] ovezovs commented on #799
I will look into it

[2020-06-22 19:28] kbanc commented on #935
@jakubroztocil We've done some preliminary refactoring on the `client.py` file, and we've noticed that making it into a class may make the code more extensible, but we're not sure if that's a good idea.

Pros: readability, extensibility
Cons: May not be necessary - `collect_messages` is the only fn used from `client.py` and it's only called once in the codebase

If we were to make `client.py` into

[2020-06-23 12:55] kbanc opened #937 "Add test for auth_plugin and session behaviour"
I noticed that there doesn't seem to be code coverage for the use of auth plugins (`--auth-type`) in a session.

Creating an issue to add a test in `test_sessions.py` to cover it.

[2020-06-23 13:10] seguri commented on #605
@jakubroztocil Hi, I've received a GitHub notification that you and @YKo20010 are going to work on this, is that true?

[2020-06-23 14:13] ovezovs commented on #799
I was able to replicate the issue using the 'more' command on windows. I wonder if it colors the output on Unix/Linux, @jakubroztocil.

[2020-06-23 17:16] kbanc commented on #937
I want to confirm the desired behaviour of the auth plugin with sessions.

Let's assume we have an auth plugin class named `plug`.

If the user sends a request
 ```http --session=test --auth-type=plug --auth=user:password httpbin.org/auth_endpoint```

Should we expect that the next time the request is sent based on the session,  i.e
``` http --session=test httpbin.org/auth_endpoint```
that the req

[2020-06-23 17:22] jakubroztocil commented on #799
@ovezovs yes, the following command should result in colorized output shown in `less` (notice the `-r`):

[code]

@jkstrauss which windows console did you use?

[2020-06-23 17:23] jakubroztocil commented on #937
@kbanc yes, that is the intended behavior

[2020-06-23 17:26] ovezovs commented on #799
I used PowerShell and VS Code terminal

[2020-06-23 17:29] jakubroztocil commented on #799
@ovezovs `more` also supports/requires `-r`:

[code]

[2020-06-23 17:34] chrisngyn commented on #605
@seguri hi - after discussing with Jakub we've decided to revisit this topic later, sorry about the notif!

[2020-06-23 18:08] jakubroztocil opened #939 "Add a build environment where `pyOpenSSL` is active"
Under very specific circumstances, `requests` will use [`pyOpenSSL`](https://www.pyopenssl.org/):

We have at least two places in the codebase where this is significant.

#### 1. different error types are used

https://github.com/jakubroztocil/httpie/blob/49e71d252f54871a6bc49cb1cba103d385a543b8/tests/test_ssl.py#L10-L22

#### 2. difference  messages are used (despite the comment incorrectly talki

[2020-06-23 19:12] YKo20010 commented on #926
@nb2838 Are you still working on this? I'd like to pick up this issue if not!

[2020-06-23 19:17] nb2838 commented on #926
Yes currently working on it :)

[2020-06-24 00:45] darthbeep commented on #800
Would you be ok with importing sockets and cryptography? I'm not sure it's possible to do without them.

[2020-06-25 09:26] jakubroztocil commented on #937
@kbanc we spoke about the inline to-dos yesterday, and this one is effectively what you’re now working on:

https://github.com/jakubroztocil/httpie/blob/cd085cbc0d8ce5fd659ccc01996551dcfc149b13/tests/test_auth_plugins.py#L9

[2020-06-25 13:16] gmelodie commented on #939
Hey! I'll give this a go :)

[2020-06-25 13:57] jakubroztocil commented on #939
Awesome!

[2020-06-25 15:29] techtonik commented on #572
Python 2 is not supported by `httpie` and Windows is no longer supported by me. =)

[2020-06-25 15:29] #572 closed

[2020-06-25 15:41] ovezovs opened #940 "Add setup instructions for windows"
As I have tried to setup my development environment for HTTPie on a Windows machine, I wasn't able to run the ``make`` command even after installing some third-party software. It would be great to add specific steps for windows setup. I discussed this with @jakubroztocil and he confirmed the issue.

Current guidelines provided for setup are located in [CONTRIBUTING.rst](https://github.com/jakubroz

[2020-06-26 12:35] zezenz commented on #813
Good

[2020-06-26 12:56] jakubroztocil opened #943 "Remove tox"
Since Python 2.7 is no longer supported, and all the supported platforms and Python versions are [tested on each commit / PR](https://github.com/jakubroztocil/httpie/blob/master/.github/workflows/build.yml), we can now remove `tox` from the project. It means removing the config file and also all `tox` mentions in the docs and elsewhere.

[2020-06-26 15:22] #943 closed

[2020-06-26 15:25] #940 closed

[2020-06-26 21:18] nb2838 commented on #926
I've been working on the problem and I think I have a working solution. My only problem thus far is that I don't know at which point precisely to close the os.devnull file.  If I don't close it and let the job be done by the garbage collectore my code works fine. However, when I try closing it by adding a
`finally:
    env.dev.null.close()
`at the end of main in core.py I get an error if I use --d

[2020-06-27 10:05] jakubroztocil commented on #926
@nb2838 please open a PR and I’ll take a look

[2020-06-29 06:43] null395922 commented on #83
HTTPie is awesome! :heart:

[2020-06-29 13:00] am0z commented on #83
HTTPie is awesome! :heart:

[2020-06-29 14:59] mapperr opened #946 "Support for client side certificate/key password"
Hi,

I don't know if it is on the roadmap, but support for certificate/key password options would be awesome.

Right now httpie triggers std input to get a password, but it's not ideal in scripting.

[2020-07-01 15:31] matthewhughes934 opened #948 "Tests fail when running openssl with security level > 1"
Hi,

I noticed an environment specific test-failure when I was poking around this repo.

PS. the setup process of just running `make` to get everything ready for development is really nice, thanks for that.

**Description**

The following tests fail when running openssl with security level > 1:

`tests/test_ssl.py::TestClientCert::test_cert_and_key`
`tests/test_ssl.py::TestClientCert::test_cert_pe

[2020-07-02 11:46] NightMachinary opened #949 "[Q] How do I get the final URL after all redirects?"
I want to get the URL after all redirects (presumably with a limit to disallow infinite loops). I don’t want the URL to actually be downloaded (a small <1MB download is fine, but not more than that). How do I do this using httpie?

My wget solution (in zsh):

    [[ "$(2>&1 wget --no-verbose --spider "$1" )" =~ '.* URL: (.*) 200 .*' ]] && print -r -- "$match[1]"

[2020-07-02 12:21] NightMachinary commented on #949
I think I got this, feel free to close the issue:

[code]

[2020-07-02 16:24] ye commented on #768
The `--verify="$(mkcert --CAROOT)/rootCA.pem"` approach doesn't work for me and as @checketts mentioned, we would need double quotes around `mkcert --CAROOT` to prevent globing, on macOS, there is a space in the path name.

[code]
And the reported `X509: NO_CERTIFICATE_OR_CRL_FOUND` error doesn't make sense to me as the `rootCA.pem` does exist, as I use head command to print out the first line.

T

[2020-07-02 17:06] turkeyphant opened #950 "https://httpie.org/docs typo?"
Should read "exits"?

[2020-07-02 20:32] Rama3214 commented on #826
Okay

[2020-07-03 07:49] ilovewine commented on #83
HTTPie is awesome! :heart:

[2020-07-03 13:55] imba-tjd opened #951 "--output doesn't save the header? [PS]redirecting stdout has different behavior."
[code]

When I read this sentence, I thought using -o without -d would save the header and the body, but it's not.

---

[code]

This fails on PowerShell 5.1 and pwsh 7.1. But `-o` works, downloading json works, in cmd works, Python 3.8.3 on Debian 11 works.

Environment:

* OS: Windows 10 20H2
* Python: 3.9.0b3 from MS Store
* httpie: 2.2.0

[2020-07-05 14:27] cmosguy commented on #486
Hello @cmoulliard  I tried to do the
[code]

However, after I installed it I get:

[code]

Did you ever get this to work on Amazon Linux?

[2020-07-06 22:48] DNSGeek opened #953 ".httpierc file"
It would be great to have a dot-rc file somewhere to specify default command line parameters. For instance, if I want to have the default be https instead of http, instead of having to specify it every time as --default-scheme=https, adding
[code]
to some config file would rock.

Additionally, having a [DEFAULT] and multiple individual [HOST] blocks would be awesome, and pretty easy to do with con

[2020-07-07 09:01] shimmeris commented on #753
@jakubroztocil Hello, Can I work on this to add a feature to httpie so that it can post chunked encoding data?

[2020-07-07 09:15] jakubroztocil commented on #953
Hi @DNSGeek,

You can create [`~/.config/httpie/config.json`](https://httpie.org/docs#config.) and put your default options there. For example:

[code]

HTTPie now actually also ships with an [`https` command](https://httpie.org/docs#request-url), where `https://` is the default prefix:

[code]

This is achievable via [sessions](https://httpie.org/docs#sessions).

[2020-07-08 07:30] hongliang5316 commented on #753
@shimmeris
Hello, i think you can :)

[2020-07-08 14:53] stuartio opened #955 "No way to send quotes in request headers"
To use etags properly with httpie I need to send the header If-None-Match:"myetag" but specifically need the header to contain the quotes. There does not appear to be a way to escape the quotes or enclose them such that the -pH option shows the header with the "" characters intact or the destination server receives them.

[2020-07-08 16:10] padamCZ commented on #83
HTTPie is awesome! :heart:

[2020-07-08 21:02] #953 closed

[2020-07-09 14:41] jakubroztocil commented on #955
@stuartio You just need to make sure to take your shell’s interpretation of quotes in to account.

[code]

[2020-07-09 14:41] #955 closed

[2020-07-09 15:03] stuartio commented on #955
So I have done some further research and discovered this works differently between shells. The syntax above only applies properly in bash, possibly other *nix shells but not in Windows. In Windows there are 2 different methods, and they seem to require Python string escaping:
Cmd.exe - http example.com If-None-Match:\"12345\" -pH (quotes escaped in Python style)
Powershell - http example.com If-No

[2020-07-09 15:14] jakubroztocil commented on #955
Yes, HTTPie’s docs use BASH-based examples so you need to check with your specific shell if you use something else. HTTPie has no say in how that gets parsed as it sees the data after it’s passed through the shell. You can easily debug this using `echo …`.

[2020-07-10 10:48] #937 closed

[2020-07-16 14:55] GotoCode commented on #758
I think something similar was suggested by @dsego in [this comment](https://github.com/jakubroztocil/httpie/issues/537#issuecomment-264718507) on #537, so there might be quite a bit of support for such a feature.

[2020-07-16 20:47] #950 closed

[2020-07-16 22:02] jakubroztocil commented on #758
@GotoCode it’s coming—stay tuned!

[2020-07-17 06:31] GotoCode commented on #578
Is it possible that the arguments to `iconv` have been supplied in reverse?

From what I understand, since the URL uses the `GBK` encoding, I believe this part of your code:
[code]

...should actually be written as:
[code]

[2020-07-22 07:06] lisitsky commented on #758
Awesome feature for autotests! Can I help somehow with it?

[2020-07-23 19:19] s1ntaxe770r opened #958 "request response time"
I think it would be a good idea to have how long the response of a request took displayed in the output, this could be useful  if comparing API's or testing the performance impact of a change to an API. with a little help I'd be willing to help out with this

[2020-07-24 14:33] PeterJacobo commented on #83
HTTPie is awesome! :heart:

[2020-07-27 22:00] iamezcua-dev commented on #83
HTTPie is awesome! :heart:

[2020-07-28 13:05] hedythedev commented on #83
HTTPie has made history! :sparkles:

[2020-07-30 15:52] rotimi-best commented on #83
Will this really work from the browser? :+1:

[2020-08-04 02:20] johnhight commented on #83
HTTPie is awesome! :heart:

[2020-08-04 14:59] suhr commented on #480
I can actually reproduce the same issue on NixOS.

[2020-08-05 02:33] liys87x commented on #83
HTTPie is awesome! :heart:

[2020-08-06 20:24] #948 closed

[2020-08-06 20:30] jakubroztocil commented on #951
@imba-tjd if [`STDOUT` is redirected](https://httpie.org/docs#redirected-output) or when `--output, -o` is used, then the default is to output only the response body (i.e. it implies`--print=b`). You can still use one of the [output options](https://httpie.org/docs#output-options) to overwrite that, for example:

[code]

[2020-08-06 20:30] #951 closed

[2020-08-06 20:31] #949 closed

[2020-08-07 00:26] ryanerwin opened #959 "Pretty Print HTML Output (with newlines and indentation)?"
When printing `Content-type: application/json` httpie formats the json with newlines and indentation making it very easy to read.

<pre> <font color="#135CD0">❯</font> <font color="#328A5D">http</font> --body <font color="#FA701D">&apos;https://api2.nicehash.com/main/api/v2/legacy?method=stats.global.current&apos;</font>
{
    <font color="#135CD0"><b>&quot;method&quot;</b></font>: <font color="#F

[2020-08-07 16:15] 0xbkt commented on #94
No updates since 8 years?

[2020-08-09 13:51] MrVirm commented on #83
HTTPie is awesome! :heart:

[2020-08-10 01:58] dausruddin commented on #452
Any news?

[2020-08-13 13:27] jakubroztocil commented on #959
@ryanerwin thanks for the suggestion. We used to have a XML/HTML formatter, but these languages is notoriously problematic in this regard and there’s no usable parser/formatter that we could plug in at this point. So I’m closing this for now.

[2020-08-13 13:27] #959 closed

[2020-08-13 16:10] luv commented on #480
4+ years later ...

[2020-08-15 15:50] #684 closed

[2020-08-17 11:15] Yogita98 commented on #687
Is this issue up for grabs?

[2020-08-20 06:04] wnjustdoit opened #960 "Convert Httpie to other http requests"
Excuse me, how can I convert Httpie to other http requests, such as cURL etc..

[2020-08-20 12:11] jakubroztocil commented on #960
@wnjustdoit there’s a bunch of tools for converting curl commands to HTTPie (for example https://curlipie.now.sh/). But I’m not aware of a curl-to-httpie. It is on the roadmap, though.

[2020-08-20 12:11] #960 closed

[2020-08-27 14:47] gafarma89 commented on #826
That would be great!

Insomnia (open source http client GUI like Postman), has a feature timeline which shows every details per line. example timeline output:

https://github.com/Kong/insomnia/issues/633#issuecomment-347668677

[2020-08-31 22:03] sorairolake opened #962 "Change insecure SSL/TLS to deprecated"
SSL (not TLS) is widely considered insecure and is also deprecated in the Python Docs ([PROTOCOL_SSLv2](https://docs.python.org/3/library/ssl.html#ssl.PROTOCOL_SSLv2), [PROTOCOL_SSLv3](https://docs.python.org/3/library/ssl.html#ssl.PROTOCOL_SSLv3)).
Also, TLS 1.0 and 1.1 are deprecated in the latest version of major browsers ([MDN Web Docs](https://developer.mozilla.org/en-US/docs/Web/Security/Tra

[2020-09-10 11:26] NightMachinary opened #963 "[BUG] TypeError: '<=' not supported between instances of 'NoneType' and 'float'"
[code]

[2020-09-10 12:42] coldcoff opened #964 "Support header values read from file ?"
httpie allows to get url params and form data from file, by using @ syntax

There are sometimes complicated headers, for example tokens.

It seems this is not yet possible for headers.

Can this feature be added for headers as well?

Probably with a syntax like:
[code]

like:

[code]

That would be very helpful.

[2020-09-14 13:44] marcelo-r commented on #926
#945 was merged and closed.

[2020-09-17 15:27] dbrgn opened #965 "Incomplete responses do not cause an error"
It seems that httpie does not validate the number of received bytes.

Here are some explanations: https://blog.petrzemek.net/2018/04/22/on-incomplete-http-reads-and-the-requests-library-in-python/

With this demo script:

[code]

...httpie happily returns the incomplete response without raising an error.

[code]

On the other hand, curl raises an error:

[code]

More details can be found in the bl

[2020-09-17 19:50] jskrzypek opened #966 "[Docs] `cv@` & `=@` are getting replaced in docsite with [email-protected]"
![image (3)](https://user-images.githubusercontent.com/1513265/93520987-5b46c380-f8fd-11ea-8955-1f32519f5cbb.png)

Clicking on the link in `[email-protected]` takes me to https://httpie.org/cdn-cgi/l/email-protection

[2020-09-20 06:36] jakubroztocil commented on #966
This should be fixed now. Thanks for the report, @jskrzypek!

[2020-09-20 06:36] #966 closed

[2020-09-20 06:43] jakubroztocil commented on #965
Thanks for the report and for including the test case.

We perform the length validation when `--download`ing:

[code]

And I agree it would make sense to apply the validation for regular invocations as well. Especially with `--check-status`.

[2020-09-20 07:21] #963 closed

[2020-09-20 07:27] jakubroztocil commented on #963
Thanks @NightMachinary! The response includes some `Set-Cookie` headers with invalid `expires` date format:

[code]

HTTPie now ignores such dates.

(Valid format: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)

[2020-09-20 07:33] jakubroztocil commented on #258
Canonical issue: #243

[2020-09-20 07:33] #258 closed

[2020-09-20 07:34] jakubroztocil commented on #728
Canonical issue: #243

[2020-09-20 07:34] #728 closed

[2020-09-20 07:35] jakubroztocil commented on #122
Canonical issue: #243

[2020-09-20 07:35] #122 closed

[2020-09-20 07:41] jakubroztocil commented on #958
Canonical issue: #243

[2020-09-20 07:41] #958 closed

[2020-09-27 07:01] VineGaming opened #970 "Creating a default community health file.""
blank_issues_enabled: false
contact_links:
  - name: GitHub Community Support
    url: https://github.community/
    about: Please ask and answer questions here.
  - name: GitHub Security Bug Bounty
    url: https://bounty.github.com/
    about: Please report security vulnerabilities here.

[2020-09-28 10:47] #201 closed

[2020-09-28 10:47] #753 closed

[2020-09-28 10:47] #903 closed

[2020-09-28 10:58] jakubroztocil commented on #452
@darshanime streamed uploads have already been implemented, so you should have no issues with large files (it will be released with v2.3.0). Upload progress bar coming soon.

[2020-09-28 10:59] #926 closed

[2020-09-28 11:00] #970 closed

[2020-09-28 11:12] darshanime commented on #452
@dausruddin 🔝

[2020-09-28 11:38] jakubroztocil commented on #201
Streamed uploads are implemented in `master`. It will be included in v2.3.0.

[2020-09-28 11:55] jakubroztocil commented on #903
@msageryd HTTPie in `master` preserves the field ordering (will be included in v2.3.0).

[2020-09-28 12:08] msageryd commented on #903
Wow, great work!

Sent from my iPhone

On 28 Sep 2020, at 13:55, Jakub Roztocil <notifications@github.com> wrote:

﻿

@msageryd<https://github.com/msageryd> HTTPie in master preserves the field ordering (will be included in v2.3.0).

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/httpie/httpie/issues/903#issuecomment-69996037

[2020-09-30 16:40] maanuair opened #971 "Basic authentication: unexpected extra leading space in generated base64 token"
Hi,

I was giving `httpie` a try, in order to replace `curl` especially because of the session management.
And I might miss something, but I believe the Basic authentication token computed has an unexpected extra leading space.

**Steps to reproduce**
I run:
[code]
**Expected result**
- I get:
[code]
- Which, when decoded, gives:
[code]
**Actual result**
- I get:
[code]
- Which, when decoded, give

[2020-09-30 18:56] jakubroztocil commented on #971
@maanuair thanks for the report! I don’t seem to be able to reproduce it:

[code]

Even with the exact same versions of everything:

[code]

[2020-10-01 07:26] maanuair commented on #971
Hi @jakubroztocil!

Thanks for the quick answer.

I'm really puzzled: reading your message, I just re-tried this morning, thinking that maybe the yesterday's end of day just befuddled me.

So I copy paste your line:
[code]
Ah, OK I cannot reproduce it either, this is the expected result.
At least it starts to make some sense now.

OK, so what happened yesterday? 🤔

Hmmm, was this intermediate test

[2020-10-01 07:26] #971 closed

[2020-10-01 10:28] jakubroztocil commented on #971
What a thriller, thanks for sharing! 😄

[2020-10-13 13:16] sharvanir commented on #964
can definitely give this a shot, @coldcoff may I trouble you for an example input file for this?

[2020-10-19 18:00] segevfiner opened #974 "Support a flag/option to delete a named session"
Currently when you need to delete a named session (For example, it has some problem cookies that shouldn't be sent anymore), you need to go to the sessions directory and delete the file by yourself. It would be convenient if httpie had a flag/option/subcommand to delete a named session, e.g. `httpie --delete-session=somesession :8080` (Might want it to not also send a request when doing so).

[2020-10-19 18:04] segevfiner opened #975 "Support some way to specify an header that shouldn't be persisted to the session"
Although not the most common, some services sometimes have HTTP headers that should be sent only for some specific requests, but not all of them, and as such shouldn't be persisted in the session. httpie currently persists all headers except for the ones starting with `Content-` or `If-`. That means such headers will also be persisted to the session, unless you take care to use `--session-read-onl

[2020-10-20 12:23] coldcoff commented on #964
Yes, OK -- I will prepare some. Probably even more generic (multiple headers and their values in a file), thinking about it

[2020-10-24 09:01] Trugamr commented on #83
Hello from HTTPie! :ocean::cherry_blossom:

[2020-10-26 08:13] danslapman commented on #758
+ https://github.com/Huachao/vscode-restclient - visual studio code have a similiar (but not 100% compatible with IDEA) *.http files support

[2020-10-29 19:38] nachocab commented on #685
It would be great to get a progress bar now that the streamed uploads are in 2.3.0 😁

[2020-10-30 15:02] jakubroztocil commented on #685
@nachocab that is going to be the next step! :)

[2020-11-02 02:55] uncle9999 commented on #800
#954

[2020-11-02 12:55] Wizhi opened #985 "Arch Linux package doesn't install dependencies"
Installling `httpie` from the official Arch repository doesn't seem to install the neccessary dependencies - specifically `requests-toolbelt>=0.9.1`.

[code]

I'm not super familiar with Python, but as far as I know, packages are handled using `pip` (or `pip3`). After installing, `requests-toolbelt` also doesn't seem to appear in the `pip3 list` output.

[code]

Installing `httpie` using `pip3 ins

[2020-11-03 09:46] Wizhi commented on #985
I see this was already reported on the Arch bug tracker[0], so I'll close this here.

Sorry about that.

[0]: https://bugs.archlinux.org/task/68472?project=5&string=httpie

[2020-11-03 09:46] #985 closed

[2020-11-07 23:30] inglesuniversal opened #987 "version check error running on a VM bitnami LAMP AWS Server"
$ http --help
Traceback (most recent call last):
  File "/usr/bin/http", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 2927, in <module>
    @_call_aside
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 2913, in _call_aside
    f(*args, **kwargs)
  File "/usr/lib/python3/dist-package

[2020-11-08 22:56] akshgpt7 commented on #789
Hey, I'd give this a shot.

[2020-11-11 14:52] snowman opened #988 "Feature request: support "http(s) request" from raw request file"
From https://httpie.io/docs#offline-mode,

## Expected

one can run `http request.http` or `https request.https` to reproduce some results.

[2020-11-11 14:55] snowman opened #989 "Feature request: support "http(s) request" from raw requests file"
From https://httpie.io/docs#offline-mode,

## Expected

one can run `http < request.http` or `https < request.https` to reproduce some results.

[2020-11-11 16:25] stonebig opened #990 "is PySocks a dependancy ?"
With pip-20.3 new resolver coming, pysocks is enterpreted as mandatory dependancy from your https://github.com/httpie/httpie/blob/master/setup.py#L40..L41

[code]

Is it what you wanted ?

( maybe it's a bug, not clear to me what the truth shall be:  https://github.com/pypa/pip/issues/9112#issuecomment-725444581)

[2020-11-12 14:04] dkasak opened #992 "Proxy settings are ignored"
httpie 2.3.0 ignores both the `--proxy` flag and the `HTTP_PROXY` variable. The request succeeds but is made directly instead of through the proxy.

Examples:

[code]

[code]

I also tried passing the arguments without `=` but the result is the same. The equivalent curl command works and is registered in the proxy:

[code]

Has anyone ever encountered this? Where should I look next? I searched thr

[2020-11-20 05:34] ninjachen commented on #79
Great!! `export NO_PROXY=localhost` works!!

[2020-11-20 07:14] ab-kily opened #995 "ValueError: Elements in iterable body must be bytestrings"
Hello! Thank you for such a great tool!

I'm experiencing with an error trying to send request to API server. It seems the request is OK, but there is a problem with response - HTTPie can't parse it. Here is an example:

[code]
I've emulated request to API server using CURL, and the response is:
[code]
So it seems the problem in HTTPie. Is it possible to handle with it?

[2020-11-20 08:15] lwiechec commented on #79
...and I forgot to thank for adding it - THANKS!

[2020-11-22 20:10] ederin commented on #992
Httpie sends HTTP requests through HTTP proxy and HTTPS requests through HTTPS proxy. This behavior is consistent with behavior of underlying Requests library:

https://requests.readthedocs.io/en/v3.0.0/user/advanced/#proxies

It seems that you are trying to send HTTPS request through HTTP proxy. Did you try changing scheme to HTTPS?

`http --verify=no --proxy=https:http://127.0.0.1:6666 HTTPS-URL

[2020-11-22 21:40] dkasak commented on #992
Ah, right, this is it. I've actually been bitten by this aspect of requests before, but I forgot about it. I'm used to `HTTP_PROXY` vs `HTTPS_PROXY` controlling which protocol will be spoken *to the proxy*, instead of saying what kind of requests will be redirected to it.

Thanks for reminding me.

[2020-11-22 21:40] #992 closed

[2020-11-23 15:53] derick-webnettips-com commented on #851
installed using pip36 in my case works

[2020-11-26 11:34] segevfiner commented on #99
This can also be useful for absolute redirects (That include a full URL with a host name)

[2020-11-27 22:12] NathanSweet commented on #58
FWIW, I came here looking for a Windows executable, don't want to install pip. Used the one linked above even though it isn't latest.

[2020-11-30 17:07] xcodz-dot opened #996 "Command breaks pip installation on Windows: pip install --upgrade pip setuptools"
directly using pip breaks the installation

the Usage given in README.md:
[code]

the usage which must be given:
[code]